<!--{if $city['id'] == 109}-->
<section class="agent box">
   <!-- <ul>
        <li class="first">
            <p class="pt5 pb5">如您没有网银或不知怎么购买可在以下代购点代购</p>
        </li>
        
               <li>
                    <p>育才路 安大正对面 茶物语奶茶店<br><strong>电话</strong>:185 9093 4318</p>
                </li>
            <li>
                    <p>世纪新村贵波商行<br><strong>电话</strong>:13772977912，0915-8116967</p>
                </li>    
                <li>
                    <p>没有网银可找优品会小宋直接线下购买.<br><strong>电话</strong>:15619852352</p>
                </li>
                <li>
                    <p>安康学院7号公寓 306 <br><strong>电话</strong>:15191553905</p>
                </li>
    </ul> -->
    <!--    <div style="height:110px; width:100%; background: none;">
        <p style="margin-top:20px; color: #FF8000; font-weight:bold; font-size:20px;">【安康地区负责人】</p>
        <p style="margin-top:15px; font-size:16px; font-weight:bold;color: #FF8000; line-height:20px;">电话:
        <span style="color:#F00; font-family: Arial; font-size:18px; font-weight:100; line-height:20px;">186-3428-8886</span></p>
         <p style="margin-top:8px; font-size:16px; text-align:left; padding-left:53px; font-weight:bold;color: #FF8000; line-height:20px;">Q&nbsp;Q:
        <span style="color:#F00;font-family: Arial;font-size:18px; font-weight:100; line-height:20px;">1494340286</span></p>
        </div>-->

</section>
<!--{/if}-->
<!--{if $city['ename'] == 'xunyangxian'}-->
<section class="agent box">
    <ul>
        <li class="first">
            <p class="pt5 pb5">如您没有网银或不知怎么购买可在以下代购点代购</p>
        </li>
        <li>
            <p>江海肥牛 小华<br><strong>电话</strong>:135-0915-4656
                <br><strong>营业时间</strong>:09:00-21:00</p>
        </li>
        <li>
            <p>商贸大街226号(鑫奇厨卫) 小方<br><strong>电话</strong>:133-1915-9154
                <br><strong>营业时间</strong>:09:00-21:00</p>
        </li>
		<li>
            <p>光明眼镜（城关镇政府对面）
                <br><strong>小蒋</strong>:18691533088
                <br><strong>营业时间</strong>:09:00-18:00</p>
        </li>
    </ul>
    <div style="height:110px; width:100%; background: none;">
        <p style="margin-top:20px; color: #FF8000; font-weight:bold; font-size:20px;">【旬阳地区负责人】</p>
        <p style="margin-top:15px; font-size:16px; font-weight:bold;color: #FF8000; line-height:20px;">电话:
            <span style="color:#F00; font-family: Arial; font-size:18px; font-weight:100; line-height:20px;">159-2953-8085</span></p>
        <p style="margin-top:8px; font-size:16px; text-align:left; padding-left:53px; font-weight:bold;color: #FF8000; line-height:20px;">Q&nbsp;Q:
            <span style="color:#F00;font-family: Arial;font-size:18px; font-weight:100; line-height:20px;">405062180</span></p>
    </div>

</section>
<!--{/if}-->
<!--{if $city['ename'] == 'yangzhou'}-->
<section class="agent box">
    <div style="height:110px; width:100%; background: none;">
        <p style="margin-top:20px; color: #FF8000; font-weight:bold; font-size:20px;">【扬州地区负责人】</p>
        <p style="margin-top:15px; font-size:16px; font-weight:bold;color: #FF8000; line-height:20px;">电话:
            <span style="color:#F00; font-family: Arial; font-size:18px; font-weight:100; line-height:20px;">180-1212-0097</span></p>
        <p style="margin-top:8px; font-size:16px; text-align:left; padding-left:53px; font-weight:bold;color: #FF8000; line-height:20px;">Q&nbsp;Q:
            <span style="color:#F00;font-family: Arial;font-size:18px; font-weight:100; line-height:20px;">474748184</span></p>
    </div>

</section>
<!--{/if}-->