<!--{if $city['id'] == 185}-->

<section class="agent box">
     
    <ul>
        <li class="first">
            <p class="pt5 pb5">如您没有网银或不知怎么购买可在以下代购点代购</p>
        </li>
        <li>
            <p>鹤壁市广场步行街西区E02尚巴黎<br><strong>电话</strong>:15939201155</p>
        </li>
        <li>
            <p>兴鹤大街与鹤煤大道交叉口向北100米路东,中凯国际商业街二楼,5N-225爱莉莎内衣店.<br><strong>电话</strong>:0392-3226878</p>
        </li>
        <li>
            <p>淇滨区淇河路合友花园超超烟酒店(收发快递速递业务(代送鲜花蛋糕等各种礼物).<br><strong>电话</strong>:13403920965</p>
        </li>
    </ul>
</section>
<!--{/if}-->