<!--{if $city['ename'] == 'xinping'}-->
<section class="agent box">

    <ul>
        <!--        <li class="first">
                    <p class="pt5 pb5">如您没有网银或不知怎么购买可在以下代购点代购</p>
                </li>
                <li>
                    <p>鼓楼街滚石ktv一楼爱叮堡童装店<br><strong>电话</strong>:0915-3255661
                    <br><strong>营业时间</strong>:09:00-21:00</p>
                </li>
                <li>
                    <p>育才路 安大正对面 茶物语奶茶店<br><strong>电话</strong>:185 9093 4318</p>
                </li>-->
    </ul>
    <div style="height:110px; width:100%; background: none;">
        <p style="margin-top:20px; color: #FF8000; font-weight:bold; font-size:20px;">【兴平地区负责人】</p>
        <p style="margin-top:15px; font-size:16px; font-weight:bold;color: #FF8000; line-height:20px;">电话:
            <span style="color:#F00; font-family: Arial; font-size:18px; font-weight:100; line-height:20px;">186-0920-2126</span>
        </p>
    </div>

</section>
<!--{/if}-->