<article id="yougouNav" class="wrapper">
    <section class="yougouNav-block yougouNav-menu">
        <div class="yougouNav-menu-border">
            <ul class="yougouNav-menu-show">
                <!--{loop $navYougouGroup $in $one}-->
                <li>
                    <strong>
                        <a href="/mall/{$one['group']['ename']}">{$one['group']['name']}</a>
                    </strong>
                    <?php $subNameCount = 0;?>
                    <?php $flag = TRUE;?>
                    <?php $flagShow = FALSE;?>
                    <!--{loop $one['sub'] $inx $onx}-->
                    <?php
                    if($flag){
                    $subNameCount += strlen($onx['name']);
                    if($subNameCount>=27){
                    $flag = FALSE;
                    echo "<em>&gt;</em>\n";
                    echo '<div class="yougouNav-menu-detail wrapper">';
                    $flagShow = TRUE;
                    }
                    }
                    ?>
                    <span>
                        <a href="/mall/{$onx['ename']}">{$onx['name']}</a>
                    </span>
                    <!--{/loop}-->
                    <?php
                    if($flagShow){
                    echo '</div><i></i>';
                    $flagShow = FALSE;
                    }
                    ?>
                </li>
                <!--{/loop}-->
            </ul>
        </div>
    </section>
    <section  class="yougouNav-block yougouNav-banner">
        <div class="comiis_wrapad" id="slideContainer">
            <div id="frameHlicAe" class="frame cl">
                <div class="temp"></div>
                <div class="block">
                    <div class="cl">
                        <ul class="slideshow" id="slidesImgs">
                            <li>
                                <a href="/zc/jiameng.php">
                                    <img src="{$INI['system']['cdnprefix']}/static/zc/small_jiameng.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="/taoke.php">
                                    <img src="{$INI['system']['cdnprefix']}/static/zc/letaotao_small.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="slidebar" id="slideBar">
                        <ul>
                            <li class="on">1</li>
                            <li class="on">2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function SlideShow(c) {
                var a = document.getElementById("slideContainer"), f = document.getElementById("slidesImgs").getElementsByTagName("li"), h = document.getElementById("slideBar"), n = h.getElementsByTagName("li"), d = f.length, c = c || 3000, e = lastI = 0, j, m;
                function b() {
                    m = setInterval(function() {
                        e = e + 1 >= d ? e + 1 - d : e + 1;
                        g()
                    }, c)
                }
                function k() {
                    clearInterval(m)
                }
                function g() {
                    f[lastI].style.display = "none";
                    n[lastI].className = "";
                    f[e].style.display = "block";
                    n[e].className = "on";
                    lastI = e
                }
                f[e].style.display = "block";
                a.onmouseover = k;
                a.onmouseout = b;
                h.onmouseover = function(i) {
                    j = i ? i.target : window.event.srcElement;
                    if (j.nodeName === "LI") {
                        e = parseInt(j.innerHTML, 10) - 1;
                        g()
                    }
                };
                b()
            }
            ;
            SlideShow(3000);
        </script>
    </section>
</article>