<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>圣诞大party 礼物你做主-优品会</title>
        <meta name="description" content="团购圣诞礼物" />
        <meta name="keywords" content="优品会圣诞" />
        <link type="text/css" rel="stylesheet" href="/static/zc/christmaszc/css/global1-1.css"/>
        <link type="text/css" rel="stylesheet" href="/static/zc/christmaszc/css/bootstrap1-1.css"/>    
    </head>
    <body>
        <div class="header" id="header">
            <div class="center">
                <a class="logo" href="" target="_blank"></a>
                <div class="links">
                    <a href="" target="_blank" class='cu' title="今日新单">今日新单</a>
                    <a href="/zc/jiameng.php" target="_blank" class='cu' title="加盟优品会">加盟优品会</a>
                    <a href="" target="_blank" title="进入优品会" class='cu'>进入优品会</a>
                </div>
                <div class="topcontent">

                    <div class="msg">

                    </div>

                </div>
            </div>
        </div>
        <div id="mycanvas"  ></div>
        <a name="mao" id="mao"></a>
        <div class="phone">
            <div class="center">
                <h2 style="line-height:100px; font-weight:bold;">圣诞有惊喜，团购在优品会!</h2>
                <p class="sub">感谢你，与我们一起走过的1259个日日夜夜</p>
                <p class="sub">圣诞放“价”，清仓促销！欢乐过圣诞，大礼享不停！</p>
                <ul class="detail bttn">
                 <!--{loop $allData $index $one}-->
                    <li>
                        <a href="/team/{$one['id']}.html?f=zc_nantongjf"><img src="${team_image($one['image'],false,array(313,199))}" alt="{$one['product_sms']}" width="313" height="199"/></a>
                        <p>圣诞惊喜价<b><span class="y">$</span>{$one['team_price']}</b>&nbsp;<del class='yj'></br>原价:{$one['market_price']}元</del> </p>
                    </li>
                    <!--{/loop}-->
                   
                </ul>
            </div>
        </div>
        
        <div class="footer">
            <p>©2013<a href="" target="_blank" title="aipintuan.com">www.aipintuan.com</a>旗下网站：<a href="" target="_blank" title="优品会网">优品会网</a></p><img alt="" src="/static/zc/christmas/images/bottom.jpg">
        </div>
        <!-- Modal -->
        <div style="width:600px;  ">         
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal-img -->
        <div style="width:600px; ">         
            <div class="modal fade" id="jiangpin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog2">
                    <div class="modal-content modal-content2">
                        <div class="modal-header" style="border-bottom:none;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <p style="padding:30px 50px 100px 50px; text-align:center; color:#fff ;font-size:32px;"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
