<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>优品会分站加盟</title>
        <link rel="stylesheet" href='/static/zc/jiameng/css/jiameng1_4.css' />
    </head>
    <body >
        <div class="zcmenu">
            <ul>
                <a href="/" ><li>首页</li></a>
                <a href="/flagship/" target="_blank"><li>旗舰店</li></a>
                <a href="/mall" target="_blank"><li>购物</li></a>
                <a href="/join/feedback.php" target="_blank"><li>分站加盟</li></a>
            </ul>
        </div>
        <div class="wrapper" >
            <img src="/static/zc/jiameng/images/jia2.0.jpg" width="100%"  />
            <div class="txCon">
                <div class="infomation">
                    <marquee  scrollAmount="2" direction="up" height="85" >
                        <p>
                            顾先生    河北省***    1364547****<br/>
                            资料已经提交 但还未联系我 请及时联系我<br/> <br/>
                            宋先生   陕西省***     1522236****<br/>
                            项目不错已经坚持做2个月了 本钱已经收回 再接再厉<br/><br/>
                            王先生  天津市*** 1357638****，<br/>
                            请尽快与我联系，了解加盟事宜 <br/><br/>
                            赵女士  广东省广州市****   13253443**** <br/> 
                            我要加盟 咱们电话沟通吧  <br/><br/>
                            朱先生  我是四川内江的  想加盟内江分站，不知道要怎么做，电话联系我  电话：1399765****  <br/><br/>
                            马先生    江苏省***    1368758****<br/>
                            对这个项目很感兴趣，请给我打电话，谢谢！<br/><br/>
                            刘女士    四川***    1862545****<br/>
                            我想详细了解加盟流程，请与我联系！目前项目的代理加盟商能得到哪些支持？<br/><br/>
                            常先生    山西***    13896548****<br/>
                            想了解更多,请速度联系我......<br/><br/><br/>
                            刘先生    浙江省 ***     159****6529 <br/>
                            我想了解下，最近正想找个好项目投资，刚好看到了<br/><br/>
                            诺女士     黑龙江***    183****5879<br/>
                            我想创业，正在纠结当中，偶尔看到的 ，想了解下<br/><br/>
                            韩先生     宁夏****    155****2648 <br/>
                            朋友是做这个的，感觉挺赚钱的，所以也想做<br/><br/>
                            孙先生  辽宁省*** 134*****<br/>
                            我想加盟***可以尽快联系我吗？<br/><br/>
                            张女士 云南省***139*****<br/>
                            我想知道咱们的合同是怎么签的，请尽快联系。<br/><br/>
                            谢先生 广东省*** 186*****<br/>
                            项目我大概了解了一下 很不错 希望尽快联系<br/><br/>
                            孙先生 北京省*** 135*****<br/>
                            我想具体了解下此项目 请尽快与我联系<br/><br/>
                            徐先生 湖北省*** 159*****<br/>
                            我想加盟*** 请及时与我联系<br/><br/>
                            罗先生 广西省广西 187*****<br/>
                            贵站的资料我已经看完了 希望能尽快合作<br/><br/>
                        </p>
                    </marquee>
                </div>
                <form action="/join/feedback.php" method="post" id="form2" name="form2">  
                    <div class="msg">
                        <input id="mobile2" class="jia_phone_dian_img" name="feedback-contact"  />
                        <input id="jia_phone_dian_ok_img" class="jia_phone_dian_ok_img"  type="button" value="" onclick="submitbtn2()"/>
                    </div>
                </form>
                <form action="/join/feedback.php" method="post" id="form1" name="form1">
                    <div class="msgdetail">
                        <div style="width:250px \9; height: 100px \9; margin-left: -132px \9; "><input id="name1" class="jia_name_img" name="feedback-name"  /><br/>
                            <input id="mobile1" class="jia_mobile_img" name="feedback-contact" /><br/></div>
                        <textarea class="jia_con_img" name="feedback-con" ></textarea><br/>
                        <input class="jia_ok_img"  id="jia_ok_img" type="button" value=""  name="feedback-submit" id="feedback-submit" onclick="submitbtn1()"  />
                        <a href="/zc/jiameng_detail.php" class="jia_detail_img" id="jia_detail_img" target="_blank"> </a>
                    </div>
                </form>
            </div>
            <div class='bottom'><div class="bot">©2013 优品会（www.aipintuan.com）版权所有|请使用IE6以上浏览本页面</div></div>
        </div>

    </body>
    <script type="text/javascript">
        function submitbtn1() {
            var lxfs1 = document.getElementById("mobile1").value;
            var lxxm1 = document.getElementById("name1").value;
            if (lxfs1 == '' || lxxm1 == '') {
                alert('您的姓名或联系方式为空!');
                return;
            } else {
                document.getElementById("form1").submit();
            }
        }
        function submitbtn2() {
            var lxfs1 = document.getElementById("mobile2").value;
            if (lxfs1 == '') {
                alert('您的联系方式为空!');
                return;
            } else {
                document.getElementById("form2").submit();
            }
        }
        function submitbtn3() {
            var lxfs1 = document.getElementById("mobile3").value;
            var lxxm1 = document.getElementById("name3").value;
            if (lxfs1 == '' || lxxm1 == '') {
                alert('您的姓名或联系方式为空!');
                return;
            } else {
                document.getElementById("form3").submit();
            }
        }
        function submitbtn4() {
            var lxfs1 = document.getElementById("mobile4").value;
            if (lxfs1 == '') {
                alert('您的联系方式为空!');
                return;
            } else {
                document.getElementById("form4").submit();
            }
        }
//        window.onload = function() {
//            if (window.addEventListener) {
//                document.getElementById("jia_detail_img").innerHTML = "";
//                document.getElementById("jia_ok_img").value = "";
//                document.getElementById("jia_phone_dian_ok_img").value = "";
//            }
//        }
    </script>
</html>