<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KTV 联通-沃支付</title>
        <link rel="stylesheet" href='/static/zc/liantong/css/liantong.css' />
        <link rel="shortcut icon" href="/ico/favicon.ico" />
        <script type="text/javascript" src='/static/zc/lkzjf/js/14B.js' ></script>
        <script type="text/javascript" src='/static/zc/lkzjf/js/15b.js' ></script>
    </head>
    <body>
        <div class="zcmenu">
            <ul>
                <a href="/"><li>首页</li></a>
                <a href="/today"><li>今日新单</li></a>
                <a href="/cate/canyinmeishi"><li>美食</li></a>
                <a href="/cate/yule/KTV"><li>KTV</li></a>
                <a href="/cate/lvyoujiudian/all"><li>酒店</li></a>
                <a href="/cate/yougou"><li>购物</li></a>
                <a href="/team/comments.php"><li>买家点评</li></a>                    
            </ul>
        </div>

        <div class="wrapper" id='wrapper'>
            <!--focus end-->
            <img src="/static/zc/liantong/images/2.jpg" />
            <img src="/static/zc/liantong/images/3.jpg" />
            <img src="/static/zc/liantong/images/4.jpg" />
            <img src="/static/zc/liantong/images/5.jpg" />
            <img src="/static/zc/liantong/images/6.jpg" />
            <img src="/static/zc/liantong/images/7.jpg" />
            <!--brands-list end-->
            <div class='bottom'>©2013 优品会（www.aipintuan.com）版权所有|请使用IE6以上浏览本页面</div>



    </body>
</html>