<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>手表专场</title>
        <link rel="stylesheet" type="text/css" href="/static/zc/watch/css/watch2.css" />
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <!--[if IE 6]>
        <style type="text/css">
        html{overflow:hidden}
        body{height:100%;overflow:auto}
        #fixedmenu{position:absolute}
        </style>
        <![endif]-->
    </head>
    <body>
        <div class="zcmenu">
            <ul>
                <a href="/" ><li>首页</li></a>
                <a href="/flagship/" target="_blank"><li>旗舰店</li></a>
                <a href="/mall" target="_blank"><li>购物</li></a>
                <a href="/join/feedback.php" target="_blank"><li>分站加盟</li></a>
            </ul>
        </div>
        <div class="con" id="con">
            <div class="headerpic">
                <div class="headerpic2">
                    <img src="/static/zc/watch/images/bgt_1.jpg" width="100%" />
                </div>
            </div>
            <div class="main">
                <div class="hfp">
                    <div id="sjtl" class="titlepic"></div>
                    <ul >
                        <!--{loop $allData $index $one}-->
                        <li> 
                            <a href="/team/{$one['id']}.html?f=zc_watch" target="_blank"> 
                                <div class="liPic">
                                    <img src="${team_image($one['image'],false,array(313,199))}"/>  
                                </div>
                            </a>
                            <div class='y1'> 
                                <a  class="topq"href="/team/{$one['id']}.html?f=zc_watch" target="_blank">
                                    <b>{$one['product_sms']}</b>
                                </a>
                            </div>
                            <div class="u1"> 
                                <a  class="inline"href="/team/{$one['id']}.html?f=zc_watch" target="_blank">去抢购</a>   
                                <p> 市场价：<del>{$one['market_price']}元</del> <br /><b class="jw">优品会价：{$one['team_price']}元</b></p>
                            </div>
                        </li>
                        <!--{/loop}-->          
                    </ul>
                </div>
               
            </div>
        </div>
        <script ype="text/javascript">
            $(function() {
                $("#sjtlli").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#sjtl").offset().top} ,1000);
                });
                $("#bjzlli").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#bjzl").offset().top} ,1000);
                });
                $("#bzlli").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#bzl").offset().top} ,1000);
                });
                $("#cdlli").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#cdl").offset().top} ,1000);
                });
                $("#sanjtlli").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#sanjtl").offset().top} ,1000);
                });
                $("#other_jfli").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#other_jf").offset().top} ,1000);
                });
                $("#scroll").click(function() {
                    $("html, body").scrollTop(3000).animate({scrollTop: $("#con").offset().top});
                });
            });
        </script>
    </body>
</html>
