<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>奇趣堡</title>
        <link rel="stylesheet" href='/static/zc/yl_qqb/css/index.css' />
    </head>
    <body>
       <div class="zcmenu">
            <ul>
                <a href="/" ><li>首页</li></a>
                <a href="/flagship/" target="_blank"><li>旗舰店</li></a>
                <a href="/mall" target="_blank"><li>购物</li></a>
                <a href="/join/feedback.php" target="_blank"><li>分站加盟</li></a>
            </ul>
        </div>
        <div class="wrapper" id='wrapper'>
            <div class="top_img">
                <img src="/static/zc/yl_qqb/images/top.png"/>
            </div>
            <img src="/static/zc/yl_qqb/images/main.jpg"/>

        </div>
        <div class='bottom'>©2013 优品会（www.aipintuan.com）版权所有|请使用IE6以上浏览本页面</div>
        <script type="text/javascript">
            swfobject.registerObject("FlashID");
        </script>
    </body>

</html>