<!--{if option_yes('indexcateteam')}-->
<!--后台是否首页多团开启项目分类显示 -->
<div id="filter">
					
		
				<dl class="selitem">
		<dt>大类：</dt>
		<dd row="1" id="hashideDiv">
		<span class="sql_fold">更多</span>
					<span class="all"><a <!--{if abs(intval($_GET['gid']))=='0'}-->class="select"<!--{/if}--> href="/index.php?gid=0">全部</a></span>
					${current_teamcategory_ev56($group_id)}
					<!--a href="" >其他<span>(50)</span></a-->
				<div class="clear"></div>
	      	      		</dd>
		</dl>
		<dl class="selitem">
		<dt>小类：</dt>
		<dd row="2">
		<span class="sql_fold">更多</span>
					<span class="all"><a <!--{if abs(intval($_GET['fid_s']))=='0'}-->class="select"<!--{/if}--> href="/index.php?gid={$gid}">全部</a></span>
<!--{if abs(intval($_GET['gid']))=='0'}-->

<!--{if ($ev56_category_fl_texts)}-->

	<!--{loop $ev56_category_fl_texts $one_ev56_s}-->
<!--${
$group_id_f = abs(intval($_GET['gid']));
if ($group_id_f) {$condition_ev56_s['group_id'] = $group_id_f;}
	$condition_ev56_s['sub_id'] = $one_ev56_s['id'];
	$ev56_num = Table::Count('team', $condition_ev56_s);
}-->
		<a <!--{if abs(intval($_GET['fid_s']))-$one_ev56_s['id']=='0'}-->class="select"<!--{/if}--> href="/index.php?gid={$one_ev56_s['fid']}&fid_s={$one_ev56_s['id']}" title="{$one_ev56_s['name']}">{$one_ev56_s['name']}<span>({$ev56_num})</span></a>
	<!--{/loop}-->	
<!--{/if}-->
				  
<!--{else}-->

<!--{if ($ev56_category_fl_texts_2)}-->					 
	<!--{loop $ev56_category_fl_texts_2 $one_ev56_s_2}-->
<!--${
/*淘宝地址：http://ev56.taobao.com/*/
$group_id_f_2 = abs(intval($_GET['gid']));
if ($group_id_f_2) {$condition_ev56_s['group_id'] = $group_id_f_2;}
	$condition_ev56_s['sub_id'] = $one_ev56_s_2['id'];
	$ev56_num_2 = Table::Count('team', $condition_ev56_s);
}-->

		<a <!--{if abs(intval($_GET['fid_s']))-$one_ev56_s_2['id']=='0'}-->class="select"<!--{/if}--> href="/index.php?gid={$one_ev56_s_2['fid']}&fid_s={$one_ev56_s_2['id']}" title="{$one_ev56_s_2['name']}">{$one_ev56_s_2['name']}</a>
		
	<!--{/loop}-->
<!--{/if}-->


<!--{/if}-->     
	   			</dd>
		</dl>
		<script>
	(function($){
	    var unfold = '收起',fold = '更多';
	    $('.selitem').each(function(){
	        var t = $(this);
	        var dd = t.find('dd');
	        var foldObj = t.find('span[class$=sql_fold]');
	        var shangquan = t.find('div[class$=shangquan]');
			var row = dd.attr('row');
	        if(dd.height() > 28*row)	
	        {
				dd.attr('class','fold'+row);
				var position = t.find('a[class$=select]').position()
				if((position && position.top>25*row) || shangquan.length > 0){
					dd.addClass('autoHeight');
					foldObj.attr('class','sql_unfold').text(unfold).show();
				}else{
					foldObj.attr('class','sql_fold').text(fold).show()
				};
	        }
	        foldObj.click(function(){
	            var tag = $(this).attr('class');
	            if(tag == 'sql_fold'){
	                dd.addClass('autoHeight');
	                foldObj.attr('class','sql_unfold').text(unfold).show();
	                }else{
	                dd.removeClass('autoHeight');
	                foldObj.attr('class','sql_fold').text(fold).show();
	            }
	            return false;
	        })
	    })
	})(jQuery);
	</script>
				
				<div class="sortbar">
			<ul class="sortor">
							<li <!--{if $_GET[s]!=='b'&&$_GET[s]!=='n'&&$_GET[s]!=='jg'&&$_GET[s]!=='zk'&&$_GET[s]!=='jgd'&&$_GET[s]!=='zkd'&&$_GET[s]!=='jg_50'&&$_GET[s]!=='jg_50_100'&&$_GET[s]!=='jg_100_300'&&$_GET[s]!=='jg_300'}-->class="cur"<!--{else}--><!--{/if}--> ><a href="/?gid=<?php echo $gid?>">默认排序</a></li>
										<li  <!--{if $_GET[s]=='jg'}-->class="cur" <!--{else}--><!--{/if}--> ><a href="/?gid=<?php echo $gid?>&fid_s=<?php echo $fid_s?>&s=jg">价格排序<i class="arrw"></i></a></li>
										<li  <!--{if $_GET[s]=='b'}-->class="cur"  <!--{else}--><!--{/if}--> ><a href="/?gid=<?php echo $gid?>&fid_s=<?php echo $fid_s?>&s=b">最具人气<i class="arrw arrwdown"></i></a></li>
										<li  <!--{if $_GET[s]=='zkd'}-->class="cur"  <!--{else}--><!--{/if}--> ><a href="/?gid=<?php echo $gid?>&fid_s=<?php echo $fid_s?>&s=zkd">折扣排序<i class="arrw arrwdown"></i></a></li>
										<li <!--{if $_GET[s]=='n'}-->class="cur" <!--{else}--><!--{/if}--> ><a href="/?gid=<?php echo $gid?>&fid_s=<?php echo $fid_s?>&s=n">今日更新</a></li>
										
						</ul>
                        {$pagestring}
		</div>
		</div>
<!--{/if}--> 		