<!--{include header}-->

<div class="wrap" style="background:#fff">
<p style="text-align:center"><a style="color:red;font-size:24px;text-align:center;font-weight:bold" href="/about/zhaoshang2.php" target="_blank">&gt;&gt;&gt;点击进入加盟申请页面&lt;&lt;&lt;</a></p>
<table>
	<tr>
		<td>
			<img id="index_01" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_01.jpg" width="980" height="632" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="index_02" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_02.jpg" width="980" height="471" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="index_03" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_03.jpg" width="980" height="429" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="index_04" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_04.jpg" width="980" height="404" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="index_05" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_05.jpg" width="980" height="461" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="index_06" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_06.jpg" width="980" height="403" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="index_07" src="{$INI['system']['cdnprefix']}/static/img/zhaoshang/index_07.jpg" width="980" height="440" alt="" /></td>
	</tr>
</table>
<p style="text-align:center"><a style="color:red;font-size:24px;text-align:center;font-weight:bold" href="/about/zhaoshang2.php" target="_blank">&gt;&gt;&gt;点击进入加盟申请页面&lt;&lt;&lt;</a></p>
</div>
<!--{include footer}-->
