<!--{include header}-->

<div class="wrap new-order">
    <div class="fl" style="width:700px">
      <div class="uleft c3" id="uleft_ev56">
        <h2 id="helptit" class="hide"><a href="/help/tour.php">帮助中心</a></h2>
        <ul>
          ${current_help('promise')}
        </ul>
      </div>
      <div class="uright" id="uright_ev56">
        <div class="acon">
          <div class="sect"> 
            <!--正文开始-->
    <strong style="color:#F00; font-size:20px">全网最优服务措施 </strong>
    <style>
    .logoab a:link {}
    .logoab a:visited {}
    .logoab a:hover{
    	border-bottom:#f92e4c 3px solid;
    }
    </style>
            <p >优品会提供的产品，包括以下两大类：</p>
    <ul style="list-style:disc inside none">
    <li>服务类产品：包括餐饮美食、娱乐、电影、美容保健、旅游、酒店及摄影、培训等生活服务类产品/服务，含到店自提、电影票以及优惠卡等产品</li>
    <li>邮购类产品：需物流快递的实物类商品</li>
    </ul>
    <br/>
    <strong style="font-size:16px">服务类产品</strong>
            <p style="color:#F73D00;"><a name="guoqi"></a><strong>过期未消费无条件退款 </strong></p>
            <p >优品会券过期之后，您还未消费，您可以登陆优品会申请退款。客服在两个工作日内审核完毕，将全款退回至您的优品会账户。 </p>
            <p >注意事项：</p>
            <ul style="list-style:disc inside none">
            <li>优品会券是及时发送的电子券，与24小时发送的商户券不同 </li>
            <li>券号及密码是您消费的唯一凭证，请您务必留存 </li>
            <li>电影票、剧院演出票等网页上标注&#8220;不支持未消费退款&#8221;的除外 </li>
            </ul>
            <br/>
            <p style="color:#F73D00;"><a name="bumanyi"></a><strong>不满意就免单 </strong></p>
            <ul style="list-style:decimal inside none">
            <li>商家提供给优品会会员的产品与其承诺的产品内容严重不符 </li>
            <li>商家提供的产品出现严重质量问题，或有违反国家相关法律法规的情况（包括但不限于《中华人民共和国食品安全法》、&nbsp;《餐饮业食品卫生管理办法》、《中华人民共和国消费者权益保护法》、《中华人民共和国产品质量法》） </li>
            <li>优品会券有效期内，商家无理拒绝接受优品会会员使用优品会券 </li>
            </ul>
            <br/>
            <p style="color:#F73D00;"><a name="fanli"></a><strong>买就有返利</strong></p>
            <p >购买本地服务类商品均可享受返利优惠，具体返利金额见商品页面详情。返利的金额可以购买邮购类指定产品（各项优惠不累积）。商品页面明确标明&#8220;不参加返利&#8221;的产品除外。 </p>
            <br />
            <strong style="font-size:16px">邮购类产品</strong>
            <p style="color:#F73D00;"><a name="fahuo"></a><strong>闪电发货&nbsp;&nbsp;晚发赔钱</strong></p>
            <p >您的订单会在付款后的下1个工作日开始发货，3个工作日内完成发货，并上传快递单号。如果超过3个工作日未上传快递单号，优品会将赔付5元到您的优品会账户，下次购物时可以冲抵现金使用。因目前系统不支持自动赔付，如需赔付，请联系在线客服（因天气、快递等原因造成的除外）。 </p>
            <p style="color:#F73D00;"><a name="jiayi"></a><strong>正品保证&nbsp;&nbsp;假一赔三</strong></p>
            <p></p>
            <p>优品会合作的商家都是经过严格审批，商家保证销售正品。若客户怀疑所购的商品为假货，则有权在签收后七天内向优品会发起对该商家的投诉，并申请&#8220;假一赔三&#8221;的赔付，申请赔付的金额以买家支付的商品价款的3倍加运费为限。 </p>
            <p style="color:#F73D00;"><a name="zhiliang"></a><strong>质量问题&nbsp;&nbsp;先行赔付</strong></p>
            <p >自物品签收日起，15天内均可填写退换货申请，进行退换货处理。商家原因造成的往返邮费由商家承担，客户自身原因（如看错商品、重复订购、个人喜好、轻微色差等原因）造成的，需客户承担往返邮费。 </p>
            <p style="color:#F73D00;"><strong>退货流程</strong></p>
            <p></p>
            <p>请您在您的订单内提交退货申请，方便客服确认为您及时办理。 </p>
            <p >客服打电话核实后，会给您发邮件标明退货地址以及需注意事项。 </p>
            <p >请您按邮件给定的地址寄回 </p>
            <p >商家签收后联系客服进行退款处理 </p>
            <p style="color:#F73D00;"><strong>退款方式 </strong></p>
            <p >退回优品会账户：即时到账 </p>
            <p >退回支付的账户：退回支付宝需要3个工作日左右提交，提交支付宝后3-5个工作日到账，退回网银需要3个工作日左右提交，提交银行后2-15个工作日到账 </p>
            <p >非商品质量问题且存在以下情形之一的，不在退换服务范围内： </p>
            <p >商品包装破损、商品附件、说明书、保修单、标签丢失等影响二次销售的 </p>
            <p >非正常使用或保管导致质量出现问题的 </p>
            <p >化妆品及个人护理用品，不支持已签收退换货。如在使用过程中质疑商品质量，请出具法定质量检测机构的检测报告，我们会按国家法律规定予以处理 </p>
            <p >食品类商品，因涉及食品安全，不支持签收退换货 </p>
            <p >内衣、泳衣等贴身衣物，不支持签收退换货</p>
            <!--正文结束--> 
            
          </div>
        </div>
      </div>
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}--> 
