<!--{include header}-->

<div class="wrap">
  <div class="uleft c3" id="uleft_ev56">
    <h2 id="helptit"><a href="/help/tour.php">帮助中心</a></h2>
    <ul>
      ${current_about('hezuo')}
    </ul>
  </div>
  <div class="uright" id="uright_ev56">
    <div class="utit">
      <h2>分站城市加盟</h2>
    </div>
    <div class="acon">
      <div class="sect"> 
        <!--正文开始-->
<strong style="color:#F00; font-size:20px">分站加盟 </strong>
<style>
.logoab a:link {}
.logoab a:visited {}
.logoab a:hover{
	border-bottom:#f92e4c 3px solid;
}
</style>

<p><strong>一、联系方式：</strong></p>
<ul style="list-style:circle inside none">
	<li>电话：400-696-0223 </li>
	<li>QQ：1872846582，2461100847</li>
</ul>
<hr />
<p style="text-indent: 0px; font-weight:800">
如果你不满现状，那就改变起航的方向吧！<br />
如果你拥有拼搏的激情，那就加入我们来释放吧！<br />
年轻就是成功的资本！<br />
幸运就是把握的机会！<br />
彪悍的人生不需要解释！
</p>
<p style="text-indent:0px; font-weight:800">
梦想，从来都不是纸上谈兵。<br>
只有行动，才能成就辉煌的未来！<br>
化能力为财富， 让幸福走进你的生活！<br>
来吧，优品会城市矩阵欢迎您！
</p>


      </div>
    </div>
  </div>
  <div class="clear"></div>
  <a href="#header" id="gotop">返回顶部</a> </div>
<!--{include footer}--> 
