<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:720px;">
    <style>
        #login-ajax-dailog li {
            margin-top: 10px;
        }
        #login-ajax-dailog li label{
            width: 75px;
            overflow: hidden;
            vertical-align: middle;
            display: inline-block;
            text-align: right;
            font-size: 14px;
            padding: 2px 10px 2px 0px;
        }
    </style>
    <h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">关闭</span><strong>你来点“店”我来团,请向我们提供信息!</strong></h3>
    <div style="padding:20px;text-align: left;border-bottom: 1px rgb(207, 207, 207) solid;">
        <form class="validator" method="POST" id="formlocal">
            <table width="100%" border="0" cellspacing=​0 cellpadding=0 class="RichCartProduct" style="margin-top:0;">
                <tbody>
                    <tr>
                        <td style="text-align:left;padding:0;margin:0">
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>省市区</label>
                                <select id="s1" name="province"  class="f-select" datatype="require" require="true" msg="必须选择省份/自治区" msgid="s1Error"></select>
                                <select id="s2" name="city"  class="f-select" datatype="require" require="true" msg="必须选择城市/地区/自治州" msgid="s2Error"></select>
                                <select id="s3" name="area" class="f-select" ></select>
                                <div id="s1Error"></div>
                                <div id="s2Error"></div>
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>商家名称</label>
                                <input 
                                    type="text" 
                                    size="60" 
                                    style="width:450px" 
                                    name="name" 
                                    id="settings-address" 
                                    require="true" 
                                    datatype="require"  
                                    class="i_text" 
                                    msg="商家名称不能为空">
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>商家地址</label>
                                <input 
                                    type="text" 
                                    size="60" 
                                    style="width:450px" 
                                    name="address" 
                                    id="settings-address" 
                                    require="true" 
                                    datatype="require"  
                                    class="i_text" 
                                    msg="商家地址不能为空">
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>手机号码</label>
                                <input 
                                    type="text" 
                                    size="11" 
                                    name="mobile" 
                                    id="settings-mobile" 
                                    require="true" 
                                    datatype="require|mobile"  
                                    class="i_text" value="{$login_user['mobile']}" 
                                    maxLength="11" 
                                    msg="手机号码不能为空|手机号码不正确" />
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>您的姓名</label>
                                <input 
                                    type="text" 
                                    size="30" 
                                    name="realname" 
                                    id="settings-mobile" 
                                    class="i_text" value="{$login_user['realname']}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input type="submit" class="input input1" name="buy" value="提交信息"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
        $("#s1").change(function() {
            var values1 = $(this).val();
        });
        setupcity();
</script>
<script language="javascript">
    $(document).ready(function() {
        var ajaxFormConf = {
            beforeSubmit: showRequest,
            success: showResponse,
            url: '/ajax/sublocal.php?a=up'
        }
        $("#formlocal").ajaxForm(ajaxFormConf);
        /*$("#no-login-btn").click(function(){
         $("#orderFormJQ").ajaxSubmit(ajaxFormConf);
         return false; 
         });*/
        function showRequest(formData, jqForm, options) {
            if (!formData[0].value || !formData[1].value || !formData[2].value) {
                alert('请选择商家所在的省、市、区');
                return false;
            }
            if (!formData[3].value) {
                alert('请填写商家名称');
                return false;
            }
            if (!formData[4].value) {
                alert('请填写商家地址');
                return false;
            }
            if (!formData[5].value) {
                alert('请填写您的手机号码');
                return false;
            }
            if (!formData[3].value) {
                alert('请填写您的姓名');
                return false;
            }
            return true;
        }
        function showResponse(responseText, statusText, xhr, $form) {
//                var datta = eval("(" + responseText + ")");
            alert(responseText);
            X.boxClose();
        }
    })
</script>