<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:500px;">
    <h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">关闭</span>我要点评本单</h3>
    <table width="96%" class="coupons-table">
        <tr class="first">
            <td width="80" nowrap align="right">
                <b>给本商家打分</b>
            </td>
            <td>
                <p id='comment-grade' class="stars wrapper">
                    <i class="star-1"></i>
                    <i class="star-2"></i>
                    <i class="star-3"></i>
                    <i class="star-4"></i>
                    <i class="star-5"></i>
                    <span class="msg ml10"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td class="comment-text" align="right">
                <!--{if $team['group_id'] == 3}-->
                <b>口味</b>
                <!--{else}-->
                <b>设施</b>
                <!--{/if}-->
            </td>
            <td>
                <!--{if $team['group_id'] == 3}-->
                <p id='comment-type1' met='eat' class="stars wrapper">
                    <!--{else}-->
                    <p id='comment-type1' met='fun' class="stars wrapper">
                    <!--{/if}-->
                    <i class="star-1"></i>
                    <i class="star-2"></i>
                    <i class="star-3"></i>
                    <i class="star-4"></i>
                    <i class="star-5"></i>
                    <span class="msg ml10"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td class="comment-text" nowrap align="right">
                <b>服务</b>
            </td>
            <td>
                <p id='comment-type2' class="stars wrapper">
                    <i class="star-1"></i>
                    <i class="star-2"></i>
                    <i class="star-3"></i>
                    <i class="star-4"></i>
                    <i class="star-5"></i>
                    <span class="msg ml10"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td class="comment-text" nowrap align="right">
                <b>环境</b>
            </td>
            <td>
                <p id='comment-type3' class="stars wrapper">
                    <i class="star-1"></i>
                    <i class="star-2"></i>
                    <i class="star-3"></i>
                    <i class="star-4"></i>
                    <i class="star-5"></i>
                    <span class="msg ml10"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td class="comment-text" align="right">
                <b>愿意再去商家消费</b>
            </td>
            <td class="wrapper">
                <input class="fl" type="radio" checked="" name="wantMore" value='1'>
                <label class="fl">愿意</label>
                <input class="fl" type="radio" name="wantMore" value='0' >
                <label class="fl">不愿意</label>
            </td>
        </tr>
        <tr>
            <td class="comment-text" valign="top" align="right">
                <b>评价</b>
            </td>
            <td>
                <textarea style="width:260px;height:80px;" class="f-textarea" name="comment_content" id="dialog_comment_content">${htmlspecialchars($order['comment_content'])}</textarea>
            </td>
        </tr>
        <tr class="last">
            <td></td>
            <td>
                <input type="submit" value="确定" class="formbutton" onclick="X.misc.ordercomment();" />
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
        var msgListDa = {
            1: '很不满意',
            2: '不满意',
            3: '一般',
            4: '满意',
            5: '很满意'
        };

        var msgType1 = {
            eat: {
                1: '太难吃了',
                2: '不好吃,需要好好改进',
                3: '味道一般,勉强凑合吧',
                4: '味道还不错,再接再厉呦',
                5: '味道好极了,还想吃'
            },
            fun: {
                1: '设施太差了,很不爽',
                2: '设施不给力,鄙视一下',
                3: '设施还凑合,勉强接受吧',
                4: '设施还不错,整体满意',
                5: '设施非常棒,真心给力'
            }

        };

        var msgType2 = {
            1: '服务太差了,气死我了',
            2: '服务有点差,需要好好改进',
            3: '服务一般,勉强可以接受啦',
            4: '服务还不错,再接再厉呦',
            5: '服务一级棒,好贴心呀'
        };

        var msgType3 = {
            1: '环境非常差,我都看不下去了',
            2: '环境有点差,需要好好改善',
            3: '环境一般,勉强可以接受啦',
            4: '环境还不错,希望越来越好',
            5: '环境超级好,好喜欢'
        };
        $(function() {
            if ($.mvals) {
                $('#comment-grade').removeClass().addClass('stars wrapper star' + $.mvals);
                $('#comment-grade').children('.msg').text(msgListDa[$.mvals]);
                $('#comment-grade').attr('mval', $.mvals);
            }
            $('#order-pay-dialog p.stars i').mouseenter(function() {
                var classNameStr = $(this).attr('class');
                var classNameArr = classNameStr.split('-');
                ChangeStarNumDa(classNameArr[1], this);
            });
            $('#order-pay-dialog p.stars i').mouseleave(function() {
                var mval = $(this).parent('p').attr('mval');
                if (mval > 0) {
                    ChangeStarNumDa(mval, this);
                } else {
                    $(this).parent('p').removeClass().addClass('stars wrapper');
                    $(this).parent('p').children('.msg').text('');
                }
            })
            $('#order-pay-dialog p.stars i').click(function() {
                var classNameStr = $(this).attr('class');
                var classNameArr = classNameStr.split('-');
                $(this).parent('p').attr('mval', classNameArr[1]);
            })
        })
        function ChangeStarNumDa(num, ev) {
            $(ev).parent('p').removeClass().addClass('stars wrapper star' + num);
            var typex = $(ev).parent('p').attr('id');
            if (typex == 'comment-type1') {
                typex = $(ev).parent('p').attr('met');
            }
            var msgx;
            switch (typex) {
                case 'comment-grade':
                    msgx = msgListDa[num];
                    break;
                case 'eat':
                    msgx = msgType1.eat[num];
                    break;
                case 'fun':
                    msgx = msgType1.fun[num];
                    break;
                case 'comment-type2':
                    msgx = msgType2[num];
                    break;
                case 'comment-type3':
                    msgx = msgType3[num];
                    break;
            }
            $(ev).parent('p').children('.msg').text(msgx);
        }
        X.misc.ordercomment = function() {
            var s = jQuery('#comment-grade').attr('mval');
            var s1 = jQuery('#comment-type1').attr('mval');
            var s2 = jQuery('#comment-type2').attr('mval');
            var s3 = jQuery('#comment-type3').attr('mval');
            var t = jQuery('#dialog_comment_content').val();
            var w = jQuery('input[name=wantMore]:checked').val();
            if (s && s1 && s2 && s3 && w){
                return !X.get(WEB_ROOT + '/order/ajax.php?action=editcomment&id={$order[id]}&s=' + s + '&s1=' + s1 + '&s2=' + s2 + '&s3=' + s3 + '&w=' + w + '&t=' + encodeURIComponent(t));
            }else{
                alert('请你完整填写评价信息!');
            }
            
        };
</script>
