<div id="order-pay-dialog" class="order-pay-dialog-c"
	style="width: 420px;">
	<h3>
		<span id="order-pay-dialog-close" class="close"
			onclick="return X.boxClose();">关闭</span>填写退款原因
	</h3>
	<span style="text-align: left;display: block;padding: 10px;margin: 10px 10px -20px;color: red;" class="info-section">
		<b>退到哪儿?</b>我们会将相应款项退至您的<a href="/credit/index.php">优品会余额</a><br>
		<b>需要多长时间?</b>我们将会在三个工作日内完成退款<br>
		<b>能退回至银行卡吗?</b>退款成功后您可以随时提现<br>
	</span>
	<p class="info" id="smssub-dialog-display-id"
		style="text-align: left; padding: 0; background: none;">
		
		<b>项目：</b>{$team['product_ind']}<br /> 
		<b>数量：</b>{$order['quantity']}<br />
		{$team['deliver']}
		<!--${
			$coupons = DB::LimitQuery('coupon', array(
				'condition'=>array('order_id'=>$order_id)
			));
		}-->
		<!-- {if $coupons} -->
		<b>券号：</b><br />
			<!--{loop $coupons $item}-->
				<!-- {if $item['consume'] == 'N'} -->
				<label style="font-size: 14px;"><input name="coupon_id" value="{$item['id']}" type="checkbox">{$item['id']}</label><br/>
				<!-- {else} -->
				<del style="font-size: 14px;color: gray;" ><input disabled="disabled" type="checkbox">{$item['id']}&nbsp;&nbsp;<!-- {if $item['consume'] == 'Y' } -->已消费<!-- {elseif $item['consume'] == 'AR' } -->正在退款<!-- {elseif $item['consume'] == 'R' } -->已退款<!-- {/if} -->
				</del><br/>
				<!-- {/if} -->
			<!--{/loop}-->
		<!-- {/if} -->
		<span style="color: red; font-size: 14px;">注：您的退款将会在3个工作日内被审核,请耐心等待.</span>
	</p>
	<table width="96%" class="coupons-table">
		<tr>
			<td nowrap align="right" valign="top"><b
				style="font-size:14px;">退款原因：</b></td>
			<td align="left"><textarea style="width: 280px; height: 80px;"
					class="f-textarea" name="comment_content"
					id="dialog_reason_content">${htmlspecialchars($order['rereason'])}</textarea>
			</td>
		</tr>

		<tr>
			<td></td>
			<td><input type="submit" value="确定" class="formbutton"
				onclick="X.misc.refundedit();" /></td>
		</tr>
	</table>
</div>
<script type="text/javascript">
X.misc.refundedit = function() {
	var n = jQuery('#dialog_reason_content').val();
	var ids = [];
	$('input:checked[name=coupon_id]').each(function(){
		ids.push($(this).val());
	});
	ids = ids.toString();
	if (n) return !X.get(WEB_ROOT + '/ajax/refund.php?action=refundreason&oid={$order['id']}&n='+encodeURIComponent(n) +'&ids='+ids);
};
</script>
