${'<?xml version="1.0" encoding="utf-8" ?>'}
<data>
   <apiversion>3.0</apiversion>
   <site_name>{$INI['system']['sitename']}</site_name>
   <goodsdata>
   <?php
   $goods_id = 0;
   while($row = DB::NextRecord($query)){
   //if($row['id'] == 3472){
   //		continue;
   //}
   //if($row['city_name'] == '延安'){
   //		continue;
   //}
   $goods_id++;
   ?>
       <goods id="{$goods_id}">
            <pid>${sched_num($row['sched_num'],$row['id'])}</pid>
            <feature>{$row['keywords']}</feature>
            <city_name>${$row['city_name']?$row['city_name']:'全国'}</city_name>
            <site_url>{$INI['system']['wwwprefix']}/{$row['ename']}</site_url>
            <title>${mb_substr($row['product'],0,20,'utf-8')}</title>
            <short_title>{$row['product']}</short_title>
            <goods_url>{$INI['system']['wwwprefix']}/team/{$row['id']}.html</goods_url>
            <goods_wapurl>http://m.aipintuan.com/team.php?id={$row['id']}</goods_wapurl>
            <desc>{$row['title']}</desc>
            <class>${make_class($row['group_id'])}</class>
            <end_class></end_class>
            <img_url>${team_image($row['image'])}</img_url>
            <pins>
                    <pin>${team_image($row['image'])}</pin>
            </pins>
            <original_price>{$row['market_price']}</original_price>
            <sale_price>{$row['team_price']}</sale_price>
            <sale_rate>${round($row['team_price'] / $row['market_price'] * 10, 2)}</sale_rate>
            <sales_num>{$row['now_number']}</sales_num>
            <start_time>${date("YmdHis",$row['begin_time'])}</start_time>
            <close_time>${date("YmdHis",$row['end_time'])}</close_time>
            <merchant_name>{$row['ptitle']}</merchant_name>
            <merchant_tel>{$row['phone']}</merchant_tel>
            <merchant_addr>{$row['address']}</merchant_addr>
            <hot_area>{$row['hot_area']}</hot_area>
            <longitude>${get_lng($row['longlat'])}</longitude>
            <latitude>${get_lat($row['longlat'])}</latitude>
	    <reservation>${get_reservation($row['group_id'],$row['reservation'])}</reservation>
            <merchants>
                <merchant>
                    <name>{$row['ptitle']}</name>
                    <brand_name>{$row['ptitle']}</brand_name>
                    <addr>{$row['address']}</addr>
                    <tel>{$row['phone']}</tel>
                    <area>{$row['hot_area']}</area>
                    <lng>${get_lng($row['longlat'])}</lng>
                    <lat>${get_lat($row['longlat'])}</lat>
		    		<open_time>{$row['open_time']}</open_time>
		    		<traffic_info>{$row['traffic_info']}</traffic_info>
                    <dpid></dpid>
                    <cinemaid></cinemaid>
                </merchant>
            </merchants>
            <destination>{$row['baidu_destination']}</destination>
            <spend_start_time>${date("YmdHis",$row['begin_time'])}</spend_start_time>
            <spend_close_time>${date("YmdHis",$row['expire_time'])}</spend_close_time>
            <tip>[CDATA[${summaryReplace($row['summary'])}]]</tip>
        </goods>
		<?php
		//$i++;
		//if($i>30){
			//break;
			//}
		}
		?>
   </goodsdata>
</data>