<div class="shouhou" style="height: 0px; position: relative; top: -40px;"></div>
<div class="gouwuwuyou">
	<a name="after"></a>
	<!-- 售后 -->
	<h5>
		<img src="/static/theme/ev56_58/img/cont_101.png">
	</h5>
	<dl>
		<dt>
			<img src="/static/theme/ev56_58/img/cont_108.jpg">
		</dt>
		<dd>1、如需退换货，请您先和售后客服取得联系，如果产品有质量问题，请尽可能拍摄清晰图片以便我们了解情况，并帮您尽快解决问题；</dd>
		<dd>2、详细注明售后说明，同商品一起寄回，（请注意保留快递单号）；</dd>
		<dd>3、商家收到商品后，我们核对后会帮您安排退款。</dd>
	</dl>
	<dl>
		<dt>
			<img src="/static/theme/ev56_58/img/cont_111.jpg">
		</dt>
		<dd>1、换颜色尺码等邮费需要由您承担；</dd>
		<dd>2、质量问题及发错商品，邮费由我们来承担；</dd>
		<dd>3、线头、非油渍类沾污如画粉等属非质量问题；</dd>
		<dd>4、我们不接收到付件及邮政包裹、顺丰，请寄送经济型快递；</dd>
		<dd>5、质量问题，寄回邮费请先行垫付，商家收到货后会返至您的支付宝账户，换货客户请联系客服，退货用户在申请退款后退至您的账户。</dd>
	</dl>
</div>