<?php $includeScript[]='banner' ?>
<div style="text-align:center;margin-bottom: 10px;">
    <div class="n_big_box">
        <div id="slideshow2_wrap">
            <div class="slideshow_close" onclick="c()"></div>
            <div id="lashouFocus" style="word-wrap:normal">
                <ul class="pic">
                    <li><a href="/taoke.php" target="_blank"><img src="/static/zc/letaotao2.jpg"/></a></li>
                    <li><a href="/zc/lkzjf.php" target="_blank"><img src="/static/zc/lkzjf_banner.jpg"/></a></li>
                    <li><a href="/zc/crab.php" target="_blank"><img src="/static/zc/crab.jpg"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
