<header id="categoryNav" class="box fs12 cb mt10">
    <div class="deal">
        <ul class="inline-block">
            <li class="title">
                <strong>热门推荐:</strong>
            </li>
            <li class="level-1">
                <a href="/taoke.php">乐淘淘</a>
            </li>
            <li class="level-1">
                <a href="/team/23672.html?f=search">植美村</a>
            </li>
            <li class="level-1">
                <a href="/team/24188.html">羽绒服</a>
            </li>
            <li class="level-1">
                <a href="/team/22903.html">暖宝贴</a>
            </li>
            <li class="level-1">
                <a href="/team/20936.html">羊毛被</a>
            </li>
           <!-- <li class="level-1">
                <a href="/team/16843.html">两口子家纺</a>
            </li>
            <li class="level-1">
                <a href="/team/17510.html">五加白</a>
            </li>-->
        </ul>
    </div>
    <section class="category wrapper">
        <div class="fl">
            <p>大类</p>
            <p class="small_nav">小类</p>
        </div>
        <div class="fr">
            <ul class="inline-block p13">
                <!--{loop $category['group'] $index $one}-->
                <li{$one['class']}>
                    <a href="{$one['ename']}"><strong>{$one['name']}({$one['count']})</strong></a>
                </li>
                <!--{/loop}-->
            </ul>
            <!--{if $category['sub']}-->
            <ul class="inline-block detail">
                <!--{loop $category['sub'] $index $one}-->
                <li{$one['class']}>
                    <a href="{$one['ename']}"><strong>{$one['name']}</strong>({$one['count']})</a>
                </li>
                <!--{/loop}-->
            </ul>
            <!--{/if}-->
            <!--
            <div class="detail-sub">
                <ul class="inline-block">
                    <li>
                        <a href="{$one['ename']}"><strong>{$one['name']}</strong>({$one['count']})</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </section>
    <div class="sort wrapper">
        <ul class="inline-block fl">
            <!--{if !$orderType}-->
            <li class="first active">
                <!--{else}-->
            <li class="first">
                <!--{/if}-->
                <a href="{$THIS_URL}">默认排序</a>
            </li>
            <!--{if $orderType == 'hot'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/hot">销量 <i>↓</i></a>
            </li>
            <!--{if $orderType == 'price_desc'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/price_desc">价格 <i>&darr;</i></a>
            </li>
            <!--{if $orderType == 'price_asc'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/price_asc">价格 <i>&uarr;</i></a>
            </li>
            <!--{if $orderType == 'time'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/time">发布时间 <i>&darr;</i></a>
            </li>
        </ul>
        {$pagestring}
    </div>
</header>