<ul id="cs_navigations" style="width:28px;position: absolute;margin:0;padding:0;top: 250px;right:0;list-style: none;z-index: 9999;">
	<li class="cs_home" onmouseover="services_ins()" onmouseout="services_outs()">
		<div id='cs_content_qq' style="float:right;width:212px;margin-right:-214px;display:none;">
            <div style="width:212px;height:37px;background:url('{$INI['system']['cdnprefix']}/static/img/Services.gif') 0 167px;"></div>
            <div align="center" style="width:190px;padding:10px;font-size:12px;border-left:1px solid #194E19;border-right:1px solid #194E19;background-color:#fff;line-height: 20px;">
            <!-- WPA Button Begin -->

<!-- WPA Button END -->
            </div>
            <div style="width:210px;border-left:1px solid #194E19;border-right:1px solid #194E19;">
                <img src="{$INI['system']['cdnprefix']}/static/img/ServicesTime.png" />
            </div>
            <div style="width:212px;height:6px;margin-top:-4px;background:url('{$INI['system']['cdnprefix']}/static/img/Services.gif') 0 109px;font-size:0;line-height:0;"></div>
		</div>
		<div id="cs_handle" style="float:right;margin-top:50px;padding:5px;width:18px;height:86px;font-size:14px;font-weight:600;line-height:1.4em;background:url('{$INI['system']['cdnprefix']}/static/img/Services.gif') 0 96px;color:#fff;">咨询客服</div>
	</li>
</ul>
<script type="text/javascript">
function services_ins(){
	$('#cs_navigations').css({'width':'240px'});
    $('#cs_content_qq').css({'marginRight':'0px','display':'block'});
	$('#cs_handle').css("background-position-x", "-56px");
}

function services_outs(){
	$('#cs_navigations').css({'width':'28px'});
    $('#cs_content_qq').css({'marginRight':'-214px','display':'none'});
	$('#cs_handle').css({'background-position-x':0});
}

$(window).scroll(function(){
    $("#cs_navigations").css("top", $(window).scrollTop() + 250);
});
</script>
<script type="text/javascript">
$(function() {
	$(window).scroll(function() {
		if($(this).scrollTop() != 0) {
			$('#btoTop').fadeIn();	
		} else {
			$('#btoTop').fadeOut();
		}
	});
 
	$('#btoTop').click(function() {
		$('body,html').animate({scrollTop:0},800);
	});	
});
</script>
<a id="btoTop">toTop</a>
<a id="btoTop" style="visibility:none;">toTop</a>
