<!--{if $team['id'] }-->

<!-- Baidu Button BEGIN -->
<!--{if $city['id'] == 355}-->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float: right;" data="{'bdDes':'优品会','text':'{$team['title']}','title':'{$team['product']}','url':'/team/{$team['id']}.html?r={$login_user_id}'}">
<span class="bds_more">邀请好友首次购买返利5元：</span>
<a class="bds_qzone"></a>
<a class="bds_tqf"></a>
<a class="bds_tqq"></a>
<a class="bds_tsina"></a>
<a class="bds_renren"></a>
<!--{else}-->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float: right;" data="{'bdDes':'优品会','text':'{$team['title']}','title':'{$team['product']}','url':'/team/{$team['id']}.html'}">
<span class="bds_more">分享到：</span>
<a class="bds_tsina"></a>
<a class="bds_qzone"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
<a class="bds_taobao"></a>
<a class="bds_s51"></a>
<a class="bds_tsohu"></a>
<a class="bds_tqf"></a>
<a class="bds_diandian"></a>
<!--{/if}-->

</div>

<!-- Baidu Button END -->
<!--{/if}-->
