<!--${
if($navThisPage == 'index'){
    $classon = 'active';
}else if($navThisPage == 'today'){
    $classon6 = 'active';
}else if($groupId == 29){
    $classon1 = 'active';
}else if($subId == 18){
    $classon7 = 'active';
}else if($groupId == 25){
    $classon2 = 'active';
}else if($groupId == 27){
    $classon3 = 'active';
}else if($groupId == 26){
    $classon4 = 'active';
}else if($navThisPage == 'dianping'){
    $classon5 = 'active';
}
}-->
<nav id="mainNav">
    <div class="container">
        <ul class="inline-block fl">
            <li class="first {$classon}"><a href="/"><span>首页</span></a></li>
            <li class="{$classon6}"><a href="/today">今日新单</a></li>
            <li class="{$classon1}"><a href="/cate/yougou/all"><span>精品网购</span></a></li>
            <li class="{$classon2}"><a href="/cate/lvyoujiudian/all"><span>旅游酒店</span></a></li>
            <!--{if $city['name'] == '乌鲁木齐'}-->
            <li class="{$classon7}"><a href="/cate/yule/photo"><span>摄影写真</span></a></li>
            <!--{/if}-->
            <li class="{$classon3}"><a href="/cate/yule/all"><span>休闲娱乐</span></a></li>
            <li class="{$classon4}"><a href="/cate/baojian/all"><span>美容保健</span></a></li>
            <!--<li class="{$classon5}"><a href="/team/comments.php"><span>买家点评</span></a></li>-->
        </ul>
    </div>
</nav>
