<!--{include business_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"》
					<h2>新建项目</h2>
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="/business/edit.php" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					<div class="wholetip clear"><h3>1、基本信息</h3></div>
					<div class="field">
						<label>项目类型</label>
						<select name="group_id" class="f-input" style="width:160px;">
                        <option value="29">精品网购</option>
                        <option value="23">数码家电</option>
                        </select>
					</div>
                    
                    </div>
					<div class="field">
						<label>项目标题</label>
						<input type="text" size="30" name="title" id="team-create-title" class="f-input" value="${htmlspecialchars($team['title'])}" datatype="require" require="true" />
					</div>
					<div class="field">
						<label>供货价</label>
						<input type="text" size="10" name="cost_price" id="team-create-cost-price" class="number" value="${moneyit($team['cost_price'])}" datatype="double" require="true" />
					</div>
					<div class="field">
						<label>本单简介</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="summary" id="team-create-summary" class="f-textarea" datatype="require" require="true"><!-- {if $team['summary']} --> ${htmlspecialchars($team['summary'])}<!--{else}-->${htmlspecialchars($summary)}<!--{/if}--></textarea></div>
					</div>
					<div class="field">
						<label>特别提示</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="notice" id="team-create-notice" class="f-textarea editor" style="width:710px;height:150px;"><!--{if $team['notice']}-->{$team['notice']}<!--{/if}--></textarea></div>
						<span class="hint">关于本单项目的有效期及使用说明</span>
					</div>
					<input type="hidden" name="guarantee" value="Y" />
					<input type="hidden" name="system" value="Y" />
					<div class="wholetip clear"><h3>2、项目信息</h3></div>
					<div class="field">
						<label>商户</label>
						<select name="partner_id" datatype="require" require="require" class="f-input" style="width:200px;">
                        <option value="{$partner_id}">{$login_partner['title']}</option>
                        </select>
					</div>
					
					
					<div class="field">
						<label>商品名称</label>
						<input type="text" size="30" name="product" id="team-create-product" class="f-input" value="{$team['product']}" datatype="require" require="true" />
					   <span class="hint">用于短信发送，要求6个中文字以内，尽量达意</span>
          </div>
					<div class="field">
						<label>商品指示语</label>
						<input type="text" size="30" name="product_ind" id="team-create-product_ind" class="f-input" value="{$team['product_ind']}" datatype="require" require="true" />
					  <span class="hint">报给商家可添加为商品名称及货号</span>
          </div>
					<div class="field">
						<label>购买必选项</label>
						<input type="text" size="30" name="condbuy_type" id="team-create-condbuy" class="f-input" value="{$team['condbuy_type']}" />
						<span class="hint">格式如：款式~#~颜色~#~尺码, 填完后接着添加购买选项分类项</span>
					</div>
					<div class="field">
						<label>购买选项分类</label>
						<input type="text" size="30" name="condbuy_class" id="team-create-class" class="f-input" value="{$team['condbuy_class']}" />
						<span class="hint">格式如：连裤袜款~$~九分裤款~#~黑色~$~肤色~#~S~$~M~$~L~$~XL, 对照购买必选项填</span>
					</div>
					<div class="field">
						<label>商品图片</label>
						<input type="file" size="30" name="upload_image" id="team-create-image" class="f-input" />
						<!--{if $team['image']}--><span class="hint">${team_image($team['image'])}</span><!--{/if}-->
					</div>
					<div class="field">
						<label>商品图片1</label>
						<input type="file" size="30" name="upload_image1" id="team-create-image1" class="f-input" />
						<!--{if $team['image1']}--><span class="hint" id="team_image_1">${team_image($team['image1'])}&nbsp;&nbsp;<a href="javascript:;" onclick="X.team.imageremove({$team['id']}, 1);">删除</a></span><!--{/if}-->
					</div>
					<div class="field">
						<label>商品图片2</label>
						<input type="file" size="30" name="upload_image2" id="team-create-image2" class="f-input" />
						<!--{if $team['image2']}--><span class="hint" id="team_image_2">${team_image($team['image2'])}&nbsp;&nbsp;<a href="javascript:;" onclick="X.team.imageremove({$team['id']}, 2);">删除</a></span><!--{/if}-->
					</div>
					
					<div class="field">
						<label>本单详情</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="detail" id="team-create-detail" class="f-textarea editor"><!--{if $team['detail']}-->${htmlspecialchars($team['detail'])}<!--{else}-->{$detail_default}<!--{/if}--></textarea></div>
					</div>
					<div class="field" id="field_userreview">
						<label>网友点评</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="userreview" id="team-create-userreview" class="f-textarea">${htmlspecialchars($team['userreview'])}</textarea></div>
						<span class="hint">格式：“真好用|小兔|http://ww....|XXX网”，每行写一个点评</span>
					</div>
					<div class="field">
						<label>推广辞</label>
						<div style="float:left;"><textarea cols="45" rows="5" name="systemreview" id="team-create-systemreview" class="f-textarea editor" style="width:710px;height:150px;">${htmlspecialchars($team['systemreview'])}</textarea></div>
					</div>
					<div class="wholetip clear"><h3>3、配送信息</h3></div>
					<div class="field">
						<label>递送方式</label>
						<div style="margin-top:5px;" id="express-zone-div">
							<input checked="checked"  type="radio" name="delivery" class="delivery" value='express'/>&nbsp;快递</div>
					</div>
					<input type="submit" value="提交审核" name="commit" id="leader-submit" style="margin:10px 0 0 120px; width:250px; height:45px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
</script>

