<div id="footer">
<div class="servicebox">
<div class="service">
<dl class="help1">
<dt>用户帮助</dt>

					<dd><a href="/help/tour.php">玩转牛奶团</a></dd>
					<dd><a href="/help/faqs.php">常见问题</a></dd>
				
					<dd><a href="/feedback/suggest.php">意见反馈</a></dd>
</dl>
<dl>
<dt>获取更新</dt>

					<dd><a href="/subscribe.php?ename=quanguo">邮件订阅</a></dd>
					<dd><a href="/feed.php?ename=quanguo">RSS订阅</a></dd>
									<dd><a target="_blank" href="http://t.sina.com.cn/niunaituan">新浪微博</a></dd>
													<dd><a target="_blank" href="http://t.qq.com/niunaituan5664">腾讯微博</a></dd>
				</dl>
<dl>
<dt>合作联系</dt>

					<dd><a href="/feedback/seller.php">提交团购信息</a></dd>
					<dd><a href="/help/link.php">友情链接</a></dd>
					<dd><a href="/biz/index.php">商家后台</a></dd>
					</dl>
<dl>
<dt>公司信息</dt>

					<dd><a href="/about/us.php">关于牛奶团</a></dd>
					<dd><a href="/about/job.php">工作机会</a></dd>
					<dd><a href="/about/contact.php">联系方式</a></dd>
					<dd><a href="/about/terms.php">用户协议</a></dd>
</dl>
<dl class="kefu">
      <dt>客户服务电话：400-828-6661</dt>
      <dd>工作时间:9:00-18:00（周一至周六） </dd>
      <dd class="follow">关注我们：<a title="去新浪微博关注我们" class="f_sina" target="_blank" href="http://t.sina.com.cn/niunaituan">新浪微博</a> 
		<a title="去腾讯微博关注我们" class="f_txqq" target="_blank" href="http://t.qq.com/niunaituan5664">腾讯微博</a> 
		
	  </dd>
    </dl>
<i class="bgbtm"></i>
<i class="bgtop"></i>
</div>
</div>


<div class="copyright"><br>

		<p>Copyright &copy; 2012 www.niunaituan.com All Rights Reserved.&nbsp;<a target="_blank" href="http://www.miibeian.gov.cn/">晋ICP备12004032号</a>&nbsp;&nbsp;<script language="JavaScript" src="http://s11.cnzz.com/stat.php?id=2713401&amp;web_id=2713401&amp;show=pic"></script><script type="text/javascript" charset="utf-8" src="http://c.cnzz.com/cnzz_core.php?web_id=2713401&amp;show=pic&amp;l=none"></script><a title="站长统计" target="_blank" href="http://www.cnzz.com/stat/website.php?web_id=2713401"><img vspace="0" hspace="0" border="0" src="http://icon.cnzz.com/pic.gif"></a></p> <p></p></div>
<!--{include business_html_footer}-->
