<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title>优品会 - 商户开放平台</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link rel="shortcut icon" href="/ico/favicon.ico" />
	<link rel="stylesheet" href="/static/theme/biz/css/biz.css" type="text/css" media="screen" charset="utf-8" />
	<script type="text/javascript">var WEB_ROOT = '';</script>
	<script src="/static/js/index.js" type="text/javascript"></script>
</head>
<body class="newbie">
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">
<div id="hdw">
	<div id="hd">
		<div id="logo"><a href=/quanguo class="link" target="_blank"><img src="/static/theme/ev56_58/css/img/logo.gif" /></a></div>
				<ul class="nav cf"><li class="current"><a href="/biz/index.php">商户首页</a></li><li><a href="/feedback/seller.php">申请入驻</a></li><li><a href="/biz/teams/index.php">商家协议</a></li><li><a href="/biz/order/index.php">常见问题</a></li></ul>
		<LINK 
rel=stylesheet type=text/css 
href="/static/theme/biz/css/style.css">

<DIV class=clear></DIV></DIV></DIV></DIV>
<!--{if $session_notice=Session::Get('error',true)}-->
<script type="text/javascript">
alert('{$session_notice}');
</script>
<!--{/if}-->
<DIV class=center_bg>
<DIV class=center_box>
<DIV class=box_middle>
<DIV class=box_left>
<DIV class=box_img><IMG 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/e_img.jpg"></DIV>
<DIV class=process>
<H2>优品会入驻流程指南</H2>
<DIV class=three>
<UL>
  <LI class=p_a>
  <P class=p_title>商家首先确认符合牛奶团入驻标准，<SPAN class=blue><A 
  href="/feedback/seller.php">在线提交申请</A></SPAN></P></LI>
  <LI class=p_b>
  <P class=p_title>双方沟通，确认合作意向，商家按照要求签订合同</P></LI>
  <LI class=p_c>
  <P class=p_title>商家准备需要合作产品的相关图片及说明</P></LI></UL></DIV></DIV></DIV>
<DIV class=box_right>
<DIV class=login>
<DIV class=registration>
<DIV class=spacing>
<FORM id="form" method="post" action="/business/login.php">


<TABLE class=t_info border=0 cellSpacing=0 width="100%">
  <TBODY>
  <TR>
    <TD class=t_r width="22%">用户名：</TD>
    <TD width="78%">
      <DIV class=input><input type="text" size="30" name="username" id="biz-username" class="in_box" datatype="require" require="true" />
  </DIV></TD></TR>
  <TR>
    <TD class=t_r>密码：</TD>
    <TD>
      <DIV class=input>  <input type="password" size="30" name="password" id="biz-password" class="in_box" datatype="require" require="true" /> </DIV></TD></TR>
  <TR>
    <TD>&nbsp;</TD>
    <TD><input type="submit" id="button1" class="form-btn b_nt" style="background-position: 0px 0px; height:30px;" value="" />
    <script type="text/javascript">
$(document).ready(function(){
  $("#button1").mouseenter(function(){
    $("#button1").css("background-position","-96px 0px");
  });
  $("#button1").mouseleave(function(){
    $("#button1").css("background-position","0px 0px");
  });
});
</script>
    <a href="#" id="aho" class="form-btn" style="margin-left:20px;"></a>
    </TD></TR></TBODY></TABLE></FORM></DIV></DIV></DIV>
<DIV class=notice>
<H2><A class=more_title 
href="#">更多</A>商家公告</H2>
<DIV class=n_list>
					

<P class=notice_tit><a href="/news.php?id=5" target="_blank">优品会商务合作联系方式</a>		       	
 
	</P></DIV></DIV></DIV>
<DIV class=clear></DIV>
<DIV class=cooperation>
<H2>合作媒体</H2></DIV>
<DIV class=coop_add><IMG alt="" 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/baidu.jpg"> 
<IMG alt="" 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/tuan360.jpg"> 
<IMG alt="" 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/sougou.jpg"> 
<IMG alt="" 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/zhifubao.jpg"> 
<IMG alt="" 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/wangyi.jpg"> 
<IMG alt="" 
src="http://www.niunaituan.com/static/theme/ev56_58/css/biz/2345.jpg"> 

<DIV class=clear></DIV></DIV></DIV></DIV></DIV>
<div id="footer">
<div class="servicebox">
<div class="service">
<dl class="help1">
<dt>用户帮助</dt>

					<dd><a href="/help/tour.php">玩转优品会</a></dd>
					<dd><a href="/help/faqs.php">常见问题</a></dd>
				
					<dd><a href="/feedback/suggest.php">意见反馈</a></dd>
</dl>
<dl>
<dt>获取更新</dt>

					<dd><a href="/subscribe.php?ename=quanguo">邮件订阅</a></dd>
					<dd><a href="/feed.php?ename=quanguo">RSS订阅</a></dd>
									<dd><a href="http://t.sina.com.cn/niunaituan" target="_blank">新浪微博</a></dd>
													<dd><a href="http://t.qq.com/niunaituan5664" target="_blank">腾讯微博</a></dd>
				</dl>
<dl>
<dt>合作联系</dt>

					<dd><a href="/feedback/seller.php">提交团购信息</a></dd>
					<dd><a href="/help/link.php">友情链接</a></dd>
					<dd><a href="/biz/index.php">商家后台</a></dd>
					</dl>
<dl>
<dt>公司信息</dt>

					<dd><a href="/about/us.php">关于优品会</a></dd>
					<dd><a href="/about/job.php">工作机会</a></dd>
					<dd><a href="/about/contact.php">联系方式</a></dd>
					<dd><a href="/about/terms.php">用户协议</a></dd>
</dl>
<dl class="kefu">
      <dt>客户服务电话：400-828-6661</dt>
      <dd>工作时间:9:00-18:00（周一至周六） </dd>
      <dd class="follow">关注我们：<a href="http://t.sina.com.cn/niunaituan" target="_blank" class="f_sina" title="去新浪微博关注我们">新浪微博</a> 
		<a href="http://t.qq.com/niunaituan5664" target="_blank" class="f_txqq" title="去腾讯微博关注我们">腾讯微博</a> 
		
	  </dd>
    </dl>
<i class="bgbtm"></i>
<i class="bgtop"></i>
</div>
</div>


<div class="copyright"><br />

		<p>Copyright &copy; 2012 www.aipintuan.com All Rights Reserved.&nbsp;&nbsp;&nbsp;</p></div>
</div>
</div>

</div>
</body>
</html>
</BODY>
</HTML>
