<!--{include header}-->

<div class="wrap">
	<div class="uleft c3" id="uleft_ev56">
		<h2 id="uctit">用户中心</h2>
		<h3>交易管理</h3>
		<ul>
		<li style="height: 0;display: block;"><img src="/static/theme/ev56_58/css/img/express.png" style="position: relative;left: 95px;top: 9px;"></li>
		${current_account('/order/index.php')}
		</ul>
		<h3>咨询与售后</h3>
		<ul>
			<li><a href="/feedback/suggest.php">咨询/投诉</a></li>
			<li><a href="/feedback/seller.php">商务合作</a></li>
			<li><a href="/team/comments.php">买家点评</a></li>
		</ul>
		<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
	</div>
    
		<div id="uright_ev56" class="uright">
		<div class="utit wrapper">
			<ul class="inline-block">
				<li class="active">
					<a href="/account/chengzhangzhi.php">我的成长值</a>
				</li>
				<li >
					<a href="/account/jifen.php">我的积分</a>
				</li>
			</ul>
		</div>
		<div class="sect grow">
			<section>
				<header class="wrapper">
					<h2>我的成长信息</h2>
					<p>VIP会员专属活动即将开放！</p>
				</header>
				<div>
					<p class="wrapper">
						<span>我当前的等级是：</span>
						<i class="level-1"></i>
						<span class="last">我目前的成长值是：<em>300</em></span>
					</p>
					<section class="grow-content">
						<p class="progress">
							<span style="width:17.7%"></span>
						</p>
						<ul class="inline level-icon">
							<li class="level-0"></li>
							<li class="level-1"></li>
							<li class="level-2"></li>
							<li class="level-3"></li>
							<li class="level-4"></li>
							<li class="level-5"></li>
							<li class="level-6"></li>
						</ul>
						<ul class="inline level-number">
							<li class="level-0">0</li>
							<li class="level-1">300</li>
							<li class="level-2">1000</li>
							<li class="level-3">3000</li>
							<li class="level-4">10000</li>
							<li class="level-5">30000</li>
							<li class="level-6">100000</li>
						</ul>
						<p class="tc">成长值 = 购买金额（手机购买双倍成长）- 退款金额</p>
					</section>
				</div>
			</section>
			<section class="mt20">
				<header class="wrapper">
					<h2>我的成长记录</h2>
				</header>
				<table class="grow-table">
					<tr>
						<th class="th-1">时间</th>
						<th class="th-2">详情</th>
						<th class="th-3">成长值</th>
					</tr>
					<tr>
						<td>2013-04-29 19:55</td>
						<td>购买 - <a href="">大明宫IMAX影院单人2D电影票1张，自强东路</a></td>
						<td>100</td>
					</tr>
					<tr>
						<td>2013-04-28 19:55</td>
						<td>购买 - <a href="">大明宫IMAX影院单人2D电影票1张，自强东路</a></td>
						<td>100</td>
					</tr>
					<tr>
						<td>2013-04-27 19:55</td>
						<td>购买 - <a href="">大明宫IMAX影院单人2D电影票1张，自强东路</a></td>
						<td>100</td>
					</tr>
				</table>
				<p class="mt10 mb10">记录日期从2013-02-01开始，此前的购买已经计算成长值但无明细信息。</p>
			</section>
		</div>
	</div>
    
	<div class="clear"></div>
</div>
<!--{include footer}-->
