<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新建邮件模版</title>
</head>

<body>
<div style="width:500px; border:#CCC inset thin; padding:10px 10px; margin:0 auto">
<!--{if $msg}-->
<div style="height:30px; background-color:red; text-align:center">{$msg}</div>
<!--{/if}-->
<form method="GET">
	<label>城市名称:</label><input type="text" name="cityName" value="{$_GET['cityName']}" /><span style="font-size:12px; color:#999">模版顶部显示的城市名称</span>
    <hr />
	<label>本批标识:</label><input type="text" name="from" value="{$_GET['from']}" /><span style="font-size:12px; color:#999">本批次的链接标识,用户订单转化追踪</span>
    <hr />
    <label style="vertical-align:top">商品编号:</label><textarea rows="10" cols="50" name="itemList">{$_GET['itemList']}</textarea><br />
    <span style="font-size:12px; color:#999; right:1">
    商品链接/team/<span style="color:#F00; font-weight:bold">98980</span>.html，
    其中98980为商品编号,每个编号以<b>英文半角<span style="color:red">,</span></b>为间隔,
    模版最终的商品排列顺序以这里的编号顺序为准.
    例:12345,32222,55662,44423,11324
    </span>
    <hr />
    <label style="vertical-align:top">退订链接:</label>
    <textarea rows="4" cols="50" name="tuidingLink">{$_GET['tuidingLink']}</textarea>
    <br />
    <span style="font-size:12px; color:#999">
    EDM的退订邮件链接
    </span>
    <br />
    <input type="submit" value="Create!"/>
</form>
</div>
</body>
</html>
