</section>
<style type="text/css">
    .two-code-left{_display:none;position:fixed;left:10px;bottom:314px;padding:2px;background:#fff;border:1px solid #d4d4d4}
    .two-code-left p{font-size:16px;color: #F00; padding-bottom:8px; font-weight:bold; padding-top:5px;}
    .two-code-left img{width:200px}
</style>
<footer id="footer">
    <a id="backToTop" href=""></a>
    <div class="container fs12">
        <ul class="inline">
            <li>
                <dl>
                    <dt>用户帮助</dt>
                    <dd>
                        <a href="/help/faqs.php">常见问题</a>
                    </dd>
                    <dd>
                        <a href="/feedback/suggest.php">意见反馈</a>
                    </dd>
                    <dd>
                        <a href="/about/terms.php">用户协议</a>
                    </dd>                    
                </dl>
            </li>
            <li>
                <dl>
                    <dt>获取更新</dt>
                    <dd>
                        <a href="/subscribe.php?ename={$city['ename']}">邮件订阅</a>
                    </dd>
                    <dd>
                        <a href="http://weibo.com/u/5264226494">新浪微博</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>合作联系</dt>
                    <dd>
                        <a href="/feedback/seller.php">商务合作</a>
                    </dd>
                    <dd>
                        <a href="/biz"><strong style="color: red">商家后台</strong></a>
                    </dd>
                    <dd>
                        <a href="/help/link.php">友情链接</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>公司信息</dt>
                    <dd>
                        <a href="/about/us.php">关于优品会</a>
                    </dd>
                    <dd>
                        <a href="/about/job.php">工作机会</a>
                    </dd>
                    <dd>
                        <a href="/about/contact.php">联系方式</a>
                    </dd>
                </dl>
            </li>
            <li class="last">
                <p class="tc">{$INI['system']['kefutel']}</p>
                <p>工作时间：09:00-18:00（周一至周六 )</p>
                <!--<p class="weekend">9:00-18:00 ( 周日 )</p>-->
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投诉：info@dealuse.com</p>
                <!--
                <p class="followUs wrapper">
                    <span>关注我们：</span>
                    <a class="sinaWeibo" href="http://e.weibo.com/u/2797879823" title="新浪微博">新浪微博</a>
                    <a class="txWeibo" title="腾讯微博">腾讯微博</a>
                    <a class="qqKongjian" title="QQ空间">QQ空间</a>
                </p>
                -->
            </li>
        </ul>
        <p class="tc mt20">Copyright © 2014 <a href="">upin technology Inc</a> All Rights Reserved </p>
    </div>
</footer>
<!--<div class="two-code-left" style="background:none; border:none;">
 <a href="/zc/jiameng.php" target="_blank"><img src="/static/v2/img/jiameng_ad.gif" alt="">
  
    </a>
</div>-->

<!--{include html_footer}-->