<!--{include header}-->

<div class="wrap2">
  <div class="uleft2" style="width: 918px;">
    <div class="acon">
      <div class="sect">
      	<h2 align="center">至优品会用户的一封信</h2>
      	<p>优品会服务器于3月6日上午10点，不明攻击再次大规模爆发，从而导致服务器宕机。随即官方关闭了服务器，进行紧急维护。经技术部门分析，此次服器宕机现象疑人为恶意攻击造成。优品会现已向当地公安部门报案<a href="{$INI['system']['cdnprefix']}/static/img/gonganhuizhi.png" target="_blank">(点击查看接受案件单)</a>，相信本次恶意攻击者必将承担相应的法律责任。我们在这里呼吁各同行一起筑建电子商务网站安全壁垒，共同维护广大用户的权益，还网购一片净土！</p>
<p>在此，优品会对最近用户登陆或购买造成的不便深表歉意，<strong>无论您现在使用优品会时有什么不便，都请您通过以下任何方式告知我们，我们将第一时间为您处理。</strong></p>

<ul style="margin-top:20px;border: 1px dashed #ccc;padding: 15px;width: 510px;background: rgb(255, 253, 215);">

	<li><strong>1、在线填写：</strong></li>
    <div class="ucon login">
    <form class="validator" method="post">
    	<li><label style="width: 125px;">您的注册手机号：</label><input datatype="mobile" msg="请填写正确的手机号码" require="true" class="i_text" type="text" name="mobile" /></li>
    	<li><label style="width: 125px;">您的QQ号码：</label><input class="i_text" type="text" name="qqcode" />
        <input type="submit" value="告知我们" class="input input42" />
        </li>
    	
    </form>
    </div>
	<li><strong>2、客服qq:1531395660</strong></li>
    <li><strong>3、客服邮箱:1531395660@qq.com</strong></li>
</ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
