<!--{include header}-->

<div class="wrap">
	<div class="uleft c3" id="uleft_ev56">
		<h2 id="uctit">用户中心</h2>
		<h3>交易管理</h3>
		<ul>
		<li style="height: 0;display: block;"><img src="/static/theme/ev56_58/css/img/express.png" style="position: relative;left: 95px;top: 9px;"></li>
		${current_account('/order/index.php')}
		</ul>
		<h3>咨询与售后</h3>
		<ul>
                    <li style="position: fixed"><a href="/feedback/suggest.php">咨询/投诉</a></li>
			<li><a href="/feedback/seller.php">商务合作</a></li>
			<li><a href="/team/comments.php">买家点评</a></li>
		</ul>
		<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
	</div>
    
	<div id="uright_ev56" class="uright">
		<div class="utit wrapper">
			<ul class="inline-block">
				<li>
					<a href="/account/chengzhangzhi.php">我的成长值</a>
				</li>
				<li class="active">
					<a href="/account/jifen.php">我的积分</a>
				</li>
			</ul>
		</div>
		<div class="sect grow point">
			<section>
				<header class="wrapper">
					<h2>您当前的积分是 <strong>681</strong> 分</h2>
					<p>即将推出积分换购等活动，敬请期待！</p>
				</header>
				<table class="grow-table point-table">
					<tr>
						<th class="th-1">时间</th>
						<th class="th-2">详情</th>
						<th class="th-3">积分</th>
					</tr>
					<tr>
						<td>2013-04-29 19:55</td>
						<td>评价 - <a href="">大明宫IMAX影院单人2D电影票1张，自强东路</a></td>
						<td>100</td>
					</tr>
					<tr>
						<td>2013-04-28 19:55</td>
						<td>评价 - <a href="">大明宫IMAX影院单人2D电影票1张，自强东路</a></td>
						<td>100</td>
					</tr>
					<tr>
						<td>2013-04-27 19:55</td>
						<td>评价 - <a href="">大明宫IMAX影院单人2D电影票1张，自强东路</a></td>
						<td>100</td>
					</tr>
				</table>
			</section>
		</div>
	</div>
    
	<div class="clear"></div>
</div>
<!--{include footer}-->
