<!--{include header}-->


<!---content--->
<style>
    #hezuo2{
        margin:10px 0 0 0;
        padding:10px;
        border:0px solid #CCC;
        margin-top:50px;
    }
    #hezuo2 p{
        font-size:14px
    }
    #hezuo2 li{
        font-size:13px;
        padding-left:13px;
        color:#000
    }
    #hezuo2 #title{
        padding-left:0;
        font-size:14px;
        font-weight:bold;
    }
    <style>
    #hezuo2{
        margin:10px 0 0 0;
        padding:10px;
        border:1px solid #CCC
    }
    #hezuo2 p{
        font-size:14px
    }
    #hezuo2 li{
        font-size:13px;
        padding-left:13px;
        color:#000
    }
    #hezuo2 #title{
        padding-left:0;
        font-size:14px;
        font-weight:bold;
    }
    .jm_title{font-size:20px; font-weight:bold;}
    .validator ul{ margin-top:50px;}
    .validator ul li{ width:657px;}
    .validator ul li label.name{ font-size:16px !important; font-family: "微软雅黑"; font-weight:100;}
    .validator ul li input.i_text{ height:30px; width:300px; margin-top:3px;}
    .i_tips{ left:430px !important;}
    .validator ul li.sub{ margin-top:30px;}
    .jm_submit{ height:36px; width:120px; letter-spacing:5px; color:#FFF; font-size:18px; padding:0px; line-height:36px; font-weight: bold; border:none; background:#FF6F00; border-radius:5px;}
    .shuom{ height:46px; line-height:40px; font-family:'微软雅黑' !important;font-size:18px; font-weight:bold; text-align:center; 
            color:#FF6F00}
    .jm_hr{ border:1px #FFC286 solid; border-bottom:none; border-left:none; border-right:none;}
    .jia{ padding:6px 0px; height:24px; line-height:24px; left:300px; text-align:center;position:absolute; text-decoration:none; color: #FFF}
    .jia:hover{ color:#FFF; text-decoration:none;}
    .jia:visited{ color:#FFF; text-decoration:none;}
    A:link {
        TEXT-DECORATION: none
    }
    A:visited {
        TEXT-DECORATION: none
    }
    A:hover {
        text-decoration: none;
    }
    A:active {
        text-decoration: none;
    }
</style>
<div class="wrap2">
    <div class="uleft2">
        <div class="utit">
            <h2>提供团购信息</h2>
        </div>
        <div class="ucon login">
            <span class="jm_title" >欢迎加盟优品会，我们将为您提供最优的平台、最好的服务！</span>

            <form id="feedback-form" method="post" action="/join/feedback.php" class="validator">
                <ul>
                    <li><label for="feedback-name" class="name">您的姓名</label> <input type="text" size="30" name="feedback-name" id="feedback-name" class="i_text" value="" require="true" datatype="require" /></li>
                    <li><label for="feedback-city" class="name">您的城市</label> <input type="text" size="30" name="feedback-city" id="feedback-city" class="i_text" value="" require="true" datatype="require" /></li>
                    <li><label for="feedback-contact" class="name">联系方式</label> <input type="text" size="30" name="feedback-contact" id="feedback-contact" class="i_text" value="" require="true" datatype="require" />
                        <div class="i_tips">
                            <em></em>请留下您的手机、QQ号或邮箱，方便联系
                        </div></li>
						<!--{if option_yes('verifyregister')}-->
					<li><label>验证码</label>
						 <input
									type="text" size="30" name="vcaptcha" id="signup-mobile"
									class="i_text i_yanz" require="true" datatype="require|limitc"
									min="4" max="4" style="text-transform: uppercase;" /> <img
									src="/captcha.php" title="看不清楚，点击更换" 
									onclick="X.misc.captcha(this);" style="cursor: pointer;vertical-align: top;width:96px;height: 32px" />
									<div class="signupTip">请输入图片中的验证码</div>
					</li>
					<!--{/if}-->
                    <li class="sub"><label></label><input class="jm_submit"
                                                              value="立即加盟" name="feedback-submit" id="feedback-submit"
                                                              type="button" onclick="submitbtn()" />
                        <a href="/zc/jiameng_detail.php" target="_blank" class="jm_submit jia">加盟详情</a> 
                    </li>
					
                </ul>
            </form>
        </div>
        <!--{if $login_user_id}-->

        <div id="hezuo2"  style="display:none;" >
            <div class="shuom" >优品会新项目上线费用缴纳说明</div>
            <hr class="jm_hr"/>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了更好的维护消费者权益，进一步保障商家所提供商品的品质及服务，自2012年10月1日起，优品会网将针对新上线项目，向合作商家收取上线费用。 </p>
            <p>所有通过审核、符合上线要求的项目，商家均需在约定时间内缴纳指定金额的上线费用。 </p>
            <ul>
                <li>1.&nbsp;缴纳范围：全国范围内的新上线项目 </li>
                <li>2.&nbsp;缴纳方式：按单个项目缴纳 </li>
                <li>3.&nbsp;缴纳时间：自团购项目上线日的前三个工作日内 </li>
                <li>4.&nbsp;上线费金额：每个项目2千元 </li>
                <li>5.&nbsp;缴纳帐户： </li>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(A)建设银行：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户名：刘博</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开户行：中国建设银行&nbsp;&nbsp;西安翠华南路支行 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号：6222&nbsp;8042&nbsp;2116&nbsp;1008&nbsp;762&nbsp; </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(B)支付宝： </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帐号：aipintuan311@163.com &nbsp; </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账户名：刘博 </p>
                <li id="title">说明 </li>
                <li>6.&nbsp;对于未在约定时间内缴纳保证金的商家，优品会将取消当次团购活动 </li>
                <li>7.&nbsp;合作期间，如果商家出现违约行为，按照双方签订的《优品会网络服务协议》，优品会将产品进行相关处理 </li>
                <li id="title">提醒 </li>
                <li>8.&nbsp;除上线费、按照《优品会网络服务协议》约定支付的网络服务费，优品会不会收取其他任何费用 </li>
                <li>9.&nbsp;收取上线费的优品会银行帐号，有且仅只有一个，为《优品会络服务协议》中的帐号（与上述缴纳账户一致） </li>
                <li>10.&nbsp;能够和商家签署服务协议，并协助上线的，只有优品会网员工，可拨打400-696-0223，核实优品会员工身份 </li>
                <li>11.&nbsp;优品会无任何第三方代理公司、个人；请勿向自称&#8220;优品会代理&#8221;的人员、公司支付任何款项 </li>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优品会将尽最大努力保护商家的合法权益不受侵害。对于日前出现的冒充优品会名义进行诈骗活动的不法行为，敬请广大优品会商家提高防范意识，如发现受骗后第一时间亲自向公安机关报案，并及时向优品会进行反馈，以便于双方共同打击违法行为。 </p>
                <p align="right">更新时间：2012年12月12日 </p>
            </ul>
        </div>
        <!--{/if}-->
        <br /><br />
    </div>
    <div class="uright2" style="margin-right:0;">
        <p><img src="/static/theme/ev56_58/css/img/shangjia.png" width="197" height="614" /></p>

    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    function submitbtn() {
        var lxfs = document.getElementById("feedback-contact").value;
        var lxxm = document.getElementById("feedback-name").value;
        if (lxfs == '' || lxxm == '') {
            alert('您的姓名或联系方式为空!');
        }
        var reg = /\w/;
        if (reg.exec(lxfs)) {
            document.getElementById("feedback-form").submit();
        } else {
            alert('请输入正确的联系方式');
        }
    }

</script>
<!---contentEnd--->
<!--{include footer}-->
