<div id="order-pay-dialog" class="order-pay-dialog-c">

	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">关闭</span>谷歌地图坐标定位</h3>
	 <div id="preview">
        <div id="float_search_bar">
            <label>区域：</label>
            <input type="text" id="keyword" />
            <button id="search_button">查找</button>
            <span>点击地图或标注获取坐标</span>
        </div>
        <div id="map_container"></div>
    </div>
    <div id="result" style="margin-top: 4px;"></div>
</div>
        
