<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/img/olpc/olpc.css" type="text/css" media="screen" charset="utf-8" />
<title>{$pagetitle}</title>
</head>

<body>
<div id="doc">
	<div id="bd" class="clearfix">
    	<div id="t_header">
        	<div class="t_topline">
            	<div class="t_title">
                	<h1>
						四年一轮回，奥运狂优惠
					</h1>
                    <h2>不管是快如闪电的刘翔,还是法网夺冠的李娜,亦或因伤退赛的张琳…他们都曾振奋世界的心跳.奥运精神,就是要敢拼敢赢,做自己的冠军.奥运来了,伦敦来了,我们动起来了!</h2>
                </div>
            </div>
        </div>
        <div id="t_body">
        	<dl class="type_left">
            	<dd class="focusimage">
                	<a target="_blank" href="/team/fanji.php">
						<img src="{$INI['system']['cdnprefix']}/static/team/2012/0728/13434638329442.jpg">
					</a>
                    <span class="desc" style="display: block;">
                    	<a target="_blank" href="/team/fanji.php">奥运女装反季专场,点击就送20元代金券！</a>
                    </span>
                </dd>
                <dd class="focus_title">
					<a target="_blank" href="/team/fanji.php">奥运女装反季专场	</a>
				</dd>
                <dd class="focus_des">
                四年一个轮回，占据了这个星球的我们，号称高级物种的我们，终于会四年有这么一次貌似大同的体育庆典，算是一个大"爬梯"吧，来自世界各国的人，玩一次体育的聚会，事实就是这样。奥运来了，伦敦我们也来了！
                <a target="_blank" class="view_more" href="/team/fanji.php">【进入专场】</a>
                </dd>
                <dd class="mini">
					<a target="_blank" href="/team/fanji.php"><img src="{$INI['system']['cdnprefix']}/static/team/2012/0728/13434692532834.jpg"></a>
					<span class="desc" style="display: none;"><a target="_blank" href="/team/fanji.php">短款女装羽绒服</a></span>
					<span class="desc" style="display: block;">
                		<a target="_blank" href="/team/fanji.php">
                		短款女装 &mdash; 反季羽绒服
                		</a>
                	</span>
                </dd>
                <dd class="mini">
					<a target="_blank" href="/team/fanji.php"><img src="{$INI['system']['cdnprefix']}/static/team/2012/0728/13434684458980.jpg"></a>
					<span class="desc" style="display: none;"><a target="_blank" href="/team/fanji.php">奥运发源地&mdash;马齐文洛克</a></span>
					<span class="desc" style="display: block;">
                		<a target="_blank" href="/team/fanji.php">
                		修身加厚 &mdash; 反季羽绒服
                		</a>
                	</span>
                </dd>
                <dd class="mini">
					<a target="_blank" href="/team/fanji.php"><img src="{$INI['system']['cdnprefix']}/static/team/2012/0728/13434625987600.jpg"></a>
					<span class="desc" style="display: none;"><a target="_blank" href="/team/fanji.php">奥运发源地&mdash;马齐文洛克</a></span>
					<span class="desc" style="display: block;">
                		<a target="_blank" href="/team/fanji.php">
                		百搭马甲 &mdash; 反季羽绒服
                		</a>
                	</span>
                </dd>
                <span class="more"><a target="_blank" href="/team/fanji.php"></a></span>
            </dl>

        	<dl class="type_left">
            	<dd class="focusimage">
                	<a target="_blank" href="/team/bag.php">
						<img src="{$INI['system']['cdnprefix']}/static/team/2012/0423/13351688086155.jpg">
					</a>
                    <span class="desc" style="display: block;">
                    	<a target="_blank" href="/team/bag.php">奥运活动，全场女包大减价！</a>
                    </span>
                </dd>
                <dd class="focus_title">
					<a target="_blank" href="/team/bag.php">全场女包大减价！</a>
				</dd>
                <dd class="focus_des">
                奥运赛场上的千奇百态，天外飞仙，让我们彻底给跪了！什么倒挂金钟，什么硬着头皮，什么金鸡独立，你想的到的，你想不到的，你没看过的，你忘却的……比比皆是啊！
                <a target="_blank" class="view_more" href="/team/bag.php">【进入专场】</a>
                </dd>
                <dd class="mini">
					<a target="_blank" href="/team/bag.php"><img src="{$INI['system']['cdnprefix']}/static/team/2012/0627/13407950496241.jpg"></a>
					<span class="desc" style="display: none;"><a target="_blank" href="/team/bag.php">韩版菱格纹链条</a></span>
					<span class="desc" style="display: block;">
                		<a target="_blank" href="/team/bag.php">
                		韩版菱格纹链条
                		</a>
                	</span>
                </dd>
                <dd class="mini">
					<a target="_blank" href="/team/bag.php"><img src="{$INI['system']['cdnprefix']}/static/team/2012/0706/13415806581872.jpg"></a>
					<span class="desc" style="display: none;"><a target="_blank" href="/team/bag.php">新款欧洲手提单肩</a></span>
					<span class="desc" style="display: block;">
                		<a target="_blank" href="/team/bag.php">
                		新款欧洲手提单肩
                		</a>
                	</span>
                </dd>
                <dd class="mini">
					<a target="_blank" href="/team/bag.php"><img src="{$INI['system']['cdnprefix']}/static/team/2012/0706/13415577577546.jpg"></a>
					<span class="desc" style="display: none;"><a target="_blank" href="/team/bag.php">米娜骑士真皮女包</a></span>
					<span class="desc" style="display: block;">
                		<a target="_blank" href="/team/bag.php">
                		米娜骑士真皮女包
                		</a>
                	</span>
                </dd>
                <span class="more2"><a target="_blank" href="/team/bag.php"></a></span>
            </dl>
                  
        </div>
	</div>
</div>
</body>
</html>
