<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>您刷新的太快啦,5秒后返回首页</title>
<script>
var i=6;
var t;
function showTimer(){
    if(i==0){
        window.location.href="";
        window.clearInterval(t);
    }else{
        i = i - 1 ;
        // 秒数减少并插入 timer 层中
        document.getElementById("timer").innerHTML= i;
    }
}
// 每隔一秒钟调用一次函数 showTimer()
t = window.setInterval(showTimer,1000); 
</script>
</head>
<body onload = "showTimer()">
<div style="color:#999;font-size:30pt;text-align:center">您刷新的太快啦,5秒后返回首页</div>
<div style="color:#F00;font-size:380pt;text-align:center" id ="timer">5</div> 
</body>
</html>