<!--{include header}-->
<!--main-->
<div class="map_main">
	<div class="map_left"f>
		<div class="map_left_til">网站地图</div>
		<div class="map_left_l">类别</div>
		<div class="map_left_l_c">
			<!-- {loop $cate $c} -->
			<div class="map_left_l_t">
				<span>{$c['name']}：</span>
			</div>
			<div class="map_left_l_ul">
				<ul>
					<!-- {loop $c['children'] $cli} -->
					<li><a href="/cate/{$cli['ename']}">{$cli['name']}</a></li>
					<!-- {/loop} -->
				</ul>
			</div>
			<!-- {/loop} -->
		</div>
		<div class="map_left_l">区域</div>
		<div class="map_left_l_c">
			<!-- {loop $area $ar} -->
			<!-- {if $ar['children']|@count != 0} -->
			<div class="map_left_l_t">
				<span>{$ar['name']}：</span>
			</div>
			<div class="map_left_l_ul">
				<ul>
					<!-- {loop $ar['children'] $a} -->
					<li><a href="/cate/{$a['ename']}">{$a['name']}</a></li>
					<!-- {/loop} -->
				</ul>
			</div>
			<div class="clear"></div>
			<!-- {/if} -->
			<!-- {/loop} -->
		</div>
	</div>

	<!-- <div class="map_right">
		<div class="map_right_til">热门专题</div>
		<div class="map_right_con">
			<ul class="zhuan_h">
				<li><a href="#">保健产品</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">减配</a></li>
				<li><a href="#">美容</a></li>
				<li><a href="#">蛋糕甜品</a></li>
				<li><a href="#">韩国料理</a></li>
				<li><a href="#">汽车用品</a></li>
				<li><a href="#">保健产品</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">减配</a></li>
				<li><a href="#">美容</a></li>
				<li><a href="#">蛋糕甜品</a></li>
				<li><a href="#">韩国料理</a></li>
				<li><a href="#">汽车用品</a></li>
				<li><a href="#">保健产品</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">减配</a></li>
				<li><a href="#">美容</a></li>
				<li><a href="#">蛋糕甜品</a></li>
				<li><a href="#">韩国料理</a></li>
				<li><a href="#">汽车用品</a></li>
				<li><a href="#">保健产品</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">照片冲印</a></li>
				<li><a href="#">减配</a></li>
				<li><a href="#">美容</a></li>
				<li><a href="#">蛋糕甜品</a></li>
				<li><a href="#">韩国料理</a></li>
				<li><a href="#">汽车用品</a></li>
			</ul>
		</div>
	</div>

	<div class="map_right">
		<div class="map_right_til">最新专题</div>
		<div class="map_right_con">
			<ul>
				<li><a href="#">世纪天华影城</a></li>
				<li><a href="#">渡凡国际影城</a></li>
				<li><a href="#">苏州世茂国际影城</a></li>
				<li><a href="#">西园影院</a></li>
				<li><a href="#">红旗影剧院</a></li>
				<li><a href="#">蛋糕甜品</a></li>
				<li><a href="#">韩国料理</a></li>
				<li><a href="#">汽车用品</a></li>
			</ul>
		</div>
	</div> -->

</div>
<!--{include footer}-->