<!--{include header}-->
<article id="yougouNav" class="wrapper">
    <section class="yougouNav-block yougouNav-menu">
        <div class="yougouNav-menu-border">
            <ul class="yougouNav-menu-show">
                <li>
                    <strong>
                        <a href="">精品服饰</a>
                    </strong>
                    <span>
                        <a class="yougouNav-hot" href="">女装</a>
                    </span>
                    <span>
                        <a href="">男装</a>
                    </span>
                    <span>
                        <a href="">童装</a>
                    </span>
                    <span>
                        <a href="">情侣装</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail wrapper">
                        <span>
                            <a href="">内衣</a>
                        </span>
                        <span>
                            <a href="">睡衣</a>
                        </span>
                        <span>
                            <a href="">泳衣</a>
                        </span>
                        <span>
                            <a href="">裤袜</a>
                        </span>
                        <span>
                            <a href="">服装配饰</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">家居用品</a>
                    </strong>
                    <span>
                        <a href="">生活日用</a>
                    </span>
                    <span>
                        <a href="">清洁用品</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">厨卫用品</a>
                        </span>
                        <span>
                            <a href="">成人用品</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">床上用品</a>
                    </strong>
                    <span>
                        <a href="">床单被罩</a>
                    </span>
                    <span>
                        <a href="">枕头抱枕</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">被子/毯子/床垫</a>
                        </span>
                        <span>
                            <a href="">浴巾/蚊帐/凉席</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">食品饮料</a>
                    </strong>
                    <span>
                        <a href="">休闲零食</a>
                    </span>
                    <span>
                        <a class="yougouNav-hot" href="">进口食品</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">地方特产</a>
                        </span>
                        <span>
                            <a href="">干果杂粮</a>
                        </span>
                        <span>
                            <a href="">水果生鲜</a>
                        </span>
                        <span>
                            <a href="">茶叶酒水</a>
                        </span>
                        <span>
                            <a href="">节日礼盒</a>
                        </span>
                        <span>
                            <a href="">保健品</a>
                        </span>
                        <span>
                            <a href="">其他</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">箱包皮具</a>
                    </strong>
                    <span>
                        <a href="">女包</a>
                    </span>
                    <span>
                        <a href="">男包</a>
                    </span>
                    <span>
                        <a href="">拉杆箱</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">电脑包</a>
                        </span>
                        <span>
                            <a href="">运动包</a>
                        </span>
                        <span>
                            <a href="">功能包</a>
                        </span>
                        <span>
                            <a href="">儿童书包</a>
                        </span>
                        <span>
                            <a href="">皮带/皮具礼盒</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">鞋靴运动</a>
                    </strong>
                    <span>
                        <a href="">女鞋</a>
                    </span>
                    <span>
                        <a href="">男鞋</a>
                    </span>
                    <span>
                        <a href="">童鞋</a>
                    </span>
                    <span>
                        <a class="yougouNav-hot" href="">情侣鞋</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">运动鞋</a>
                        </span>
                        <span>
                            <a href="">居家拖鞋</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">玩具器材</a>
                    </strong>
                    <span>
                        <a href="">玩具</a>
                    </span>
                    <span>
                        <a href="">体育用品</a>
                    </span>
                </li>
                <li>
                    <strong>
                        <a href="">汽车用品</a>
                    </strong>
                    <span>
                        <a href="">装饰</a>
                    </span>
                    <span>
                        <a href="">配件</a>
                    </span>
                    <span>
                        <a href="">车载电器</a>
                    </span>
                </li>
                <li>
                    <strong>
                        <a href="">母婴用品</a>
                    </strong>
                    <span>
                        <a href="">妈妈用品</a>
                    </span>
                    <span>
                        <a class="yougouNav-hot" href="">宝宝用品</a>
                    </span>
                </li>
                <li>
                    <strong>
                        <a href="">饰品玉器</a>
                    </strong>
                    <span>
                        <a href="">项链吊坠</a>
                    </span>
                    <span>
                        <a href="">耳饰发饰</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">手链手镯</a>
                        </span>
                        <span>
                            <a href="">戒指</a>
                        </span>
                        <span>
                            <a href="">玉器</a>
                        </span>
                        <span>
                            <a href="">眼镜</a>
                        </span>
                        <span>
                            <a href="">其他配饰</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">化妆品</a>
                    </strong>
                </li>
                <li>
                    <strong>
                        <a href="">手表</a>
                    </strong>
                    <span>
                        <a href="">女表</a>
                    </span>
                    <span>
                        <a href="">男表</a>
                    </span>
                    <span>
                        <a class="yougouNav-hot" href="">情侣表</a>
                    </span>
                    <span>
                        <a href="">电子表</a>
                    </span>
                </li>
                <li>
                    <strong>
                        <a href="">数码家电</a>
                    </strong>
                    <span>
                        <a href="">生活家电</a>
                    </span>
                    <span>
                        <a href="">厨房电器</a>
                    </span>
                    <em>&gt;</em>
                    <div class="yougouNav-menu-detail">
                        <span>
                            <a href="">个人护理</a>
                        </span>
                        <span>
                            <a href="">电脑配件</a>
                        </span>
                        <span>
                            <a href="">手机配件</a>
                        </span>
                        <span>
                            <a href="">其他</a>
                        </span>
                    </div>
                    <i></i>
                </li>
                <li>
                    <strong>
                        <a href="">其他网购</a>
                    </strong>
                </li>
            </ul>
            <script>
                $(function(){
                    $('.yougouNav-menu').hover(function(){
                       $(this).children('.yougouNav-menu-border').css('height','auto').css('overflow','visible');
                    },function(){
                        $(this).children('.yougouNav-menu-border').css('height','192px').css('overflow','hidden');
                    });
                    $('.yougouNav-menu-show li').hover(function(){
                        $(this).addClass('active');
                    },function(){
                        $(this).removeClass('active');
                    });
                });
            </script>
        </div>
    </section>
    <section  class="yougouNav-block yougouNav-banner">
        <div class="comiis_wrapad" id="slideContainer">
            <div id="frameHlicAe" class="frame cl">
                <div class="temp"></div>
                <div class="block">
                    <div class="cl">
                        <ul class="slideshow" id="slidesImgs">
                            <li>
                                <a href="">
                                    <img src="/static/v2/img/team01.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/v2/img/02.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/v2/img/team01.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/v2/img/02.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/v2/img/team01.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/static/v2/img/02.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="slidebar" id="slideBar">
                        <ul>
                            <li class="on">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function SlideShow(c) {
                var a = document.getElementById("slideContainer"), f = document.getElementById("slidesImgs").getElementsByTagName("li"), h = document.getElementById("slideBar"), n = h.getElementsByTagName("li"), d = f.length, c = c || 3000, e = lastI = 0, j, m;
                function b() {
                    m = setInterval(function () {
                        e = e + 1 >= d ? e + 1 - d : e + 1;
                        g()
                    }, c)
                }
                function k() {
                    clearInterval(m)
                }
                function g() {
                    f[lastI].style.display = "none";
                    n[lastI].className = "";
                    f[e].style.display = "block";
                    n[e].className = "on";
                    lastI = e
                }
                f[e].style.display = "block";
                a.onmouseover = k;
                a.onmouseout = b;
                h.onmouseover = function (i) {
                    j = i ? i.target : window.event.srcElement;
                    if (j.nodeName === "LI") {
                        e = parseInt(j.innerHTML, 10) - 1;
                        g()
                    }
                };
                b()
            }
            ;
            SlideShow(3000);
        </script>
    </section>
    <section  class="yougouNav-block yougouNav-user">
        
    </section>
</article>
<header id="categoryNav" class="box fs12 cb mt10">
    <div class="sort wrapper yougou-sort">
        <ul class="inline-block fl">
            <!--{if !$orderType}-->
            <li class="first active">
                <!--{else}-->
            <li class="first">
                <!--{/if}-->
                <a href="{$THIS_URL}">默认排序</a>
            </li>
            <!--{if $orderType == 'time'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/time">今日新单 <i>&darr;</i></a>
            </li>
            <!--{if $orderType == 'hot'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/hot">销量 <i>↓</i></a>
            </li>
            <!--{if $orderType == 'price_desc'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/price_desc">价格 <i>&darr;</i></a>
            </li>
            <!--{if $orderType == 'price_asc'}-->
            <li class="active">
                <!--{else}-->
            <li>
                <!--{/if}-->
                <a href="{$THIS_URL}/price_asc">价格 <i>&uarr;</i></a>
            </li>
        </ul>
        {$pagestring}
    </div>
</header>
<section id="list" class="mt10 mr10 fl w100">
    <!--团购列表-->
    <ul class="inline threeArrange">
        <!--{loop $itemData $tindex $item}-->
        <!--{if ($tindex+1)%3 == 0}-->
        <li class="third-item">
        <!--{else}-->
        <li>
        <!--{/if}-->
            <a class="img" target="_blank" href="/team/{$item['id']}.html" title="{$item['title']}">
                <img src="${team_image($item['image'],false,array(313,199))}" title="{$item['title']}" alt="{$item['title']}">
            </a>
            <a href="/team/{$item['id']}.html" target="_blank" title="{$item['title']}">
                <!--<h3>${mb_substr($item['product'],0,16);}</h3>-->
                <!--{if stripos($item['title'], '【') === 0}-->
                <p class="bracket">${mb_substr($item['title'],0,33);}...</p>
                <!--{else}-->
                <p>${mb_substr($item['title'],0,33);}...</p>
                <!--{/if}-->
            </a>
            <p class="price wrapper">
                <span class="fl"><strong>&yen;{$item['team_price']}</strong>原价 <i>&yen;{$item['market_price']}</i></span>
                <a class="fr" target="_blank" href="/team/{$item['id']}.html">去看看</a>
            </p>
            <p class="tr"><strong>${$item['now_number']+$item['pre_number']}</strong>人已团购</p>
            <!--{if $startingToday <= $item['begin_time'] && $item['sched_num'] <= 1}-->
            <i class="today"></i>
            <!--{/if}-->
        </li>
        <!-- {/loop} -->
    </ul>
    {$pagestring}
</section>
<!--{include footer}-->