<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
<link rel="stylesheet" href="/static/css/cloth.css" type="text/css" media="screen" charset="utf-8" />

    <form action="/team/buy.php?id={$team['id']}" method="post" class="validator">
	<input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
        <input id="deal-permin-number" value="{$team['permin_number']}" type="hidden" />
    <div id="deal-buy" class="box">
        <div class="box-top"></div>
        <div class="box-content">
            <div class="head"><h2>提交订单
            <!--{if $team['farefree'] == -1}-->&nbsp;(本单免运费)
            <!--{else if $team['farefree']>0}-->&nbsp;(<span class="currency">{$team['farefree']}</span>件免运费)<!--{/if}-->
            </h2></div>
            <div class="sect">
            <div class="cloth">
        		<ul class="cloth_text">
        			<li>产品名称：</li>
        			<li>
        				<span>{$team['title']}</span>
        			</li>
        		</ul>			
        		<div id="attr" name="attr"></div>
        		<div id="clo_bot" class="clo_bot">
        			<ul class="clob_top">
        				<!--<li class="clob_xuan">选择</li>-->
        				<li class="clob_text">商品</li>
        				<li class="clob_jia">单价(元)</li>
        				<li class="clob_jia">数量(件)</li>
        				<li class="clob_jia">小计(元)</li>
        				<li class="clob_cz">操作</li>
        			</ul>
        			<div id="order"></div>
        			<div id="order_cls">请选择商品并加入购物车</div>
        		
        		</div>
        		
        		<div id="mm_clo_qt" style="display:none" class="clo_qt">
        			<ul class="clo_qt_rig">
        				<li>共<span id="all_number">0</span>件商品</li>
        									<li>运费：<span id="mianyou" style="display:none">0</span><input type="hidden" readonly="true" id="hei_post" value="0"><span id="post">0</span>元</li>
        									<li><input type="hidden" id="per_number" value="0"><input type="hidden" id="delivery" value="express">商品总价（含运费）：<span id="all_total">0</span>元</li>
        			</ul>
        		</div>			
        	</div>


			<!--{if $team['delivery']=='express'}-->
			<!--<div class="expresstip">${nl2br(htmlspecialchars($team['express']))}</div>-->
			<div class="wholetip clear"><h3>快递信息</h3></div>
			<div class="field username">
				<label>收件人</label>
				<input type="text" size="30" name="realname" id="settings-realname" class="f-input" value="{$login_user['realname']}" require="true" datatype="require" />
				<span class="hint">收件人请与有效证件姓名保持一致，便于收取物品</span>
			</div>
			<div class="field mobile">
				<label>手机号码</label>
				<input type="text" size="30" name="mobile" id="settings-mobile" class="number" value="{$login_user['mobile']}" require="true" datatype="mobile" maxLength="11" /> <span class="inputtip">手机号码是我们联系您最重要的方式，请准确填写</span>
			</div>
      <div class="field address">
				<label>收件地址</label>
				<p>
        <select id="s1" name="province" style="display: inline; "><option value="">省份</option></select>
        <select id="s2" name="area" style="display: none; "><option value="">请选择</option></select>
        <select id="s3" name="city" style="display: none; "><option value="">请选择</option></select>
				</p>
			</div>
				<div class="field address">
				<label>街道地址</label>
				<input type="text" size="30" name="address" id="settings-address" class="f-input" value="{$login_user['address']}" require="true" datatype="require" />
			</div>
			<script src="/static/js/city.js" type="text/javascript"></script>
			<script>setupcity();</script>
			<div class="field zipcode">
				<label>邮政编码</label>
				<input type="text" size="30" name="zipcode" id="settings-mobile" class="number" value="{$login_user['zipcode']}" require="true" datatype="zip" maxLength="6" />
			</div>
			<!--{else}-->
			<div class="field mobile">
				<label>手机号码</label>
				<input type="text" size="30" name="mobile" id="settings-mobile" class="number" value="{$login_user['mobile']}" require="require" datatype="mobile" maxLength="11" /><span class="inputtip">请填写正确的手机号码（可为朋友代买）</span>
			</div>
			<!--{/if}-->
			<div class="wholetip clear"><h3>附加信息</h3></div>
			
			<!--{if is_array($team['condbuy']) && !empty($team['condbuy'][0])}-->
			<div class="field mobile">
				<label>订购选择</label>
				<!--{loop $team['condbuy'] $index $one}-->
				<select name="condbuy[]" class="f-input" style="width:auto;">${Utility::Option(array_combine($one, $one), 'condbuy')}</select> 
				<!--{/loop}-->
			</div>
			<!--{/if}-->
			<div class="field mobile">
				<label>订单附言</label>
				<textarea name="remark" style="width:500px;height:80px;padding:2px;">${htmlspecialchars($order['remark'])}</textarea>
			</div>
            <input type="hidden" name="id" value="{$order['id']}" />
			<div class="form-submit"><input type="submit" class="formbutton" name="buy" value="确认无误，购买"/></div>
            </div>
        </div>
        <div class="box-bottom"></div>
    </div>
    </form>
</div>
<div id="sidebar">
	<!--{include block_side_credit}-->
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script>
/*window.x_init_hook_dealbuy = function(){
	X.team.dealbuy_farefree(${abs(intval($order['quantity']))});
	X.team.dealbuy_totalprice();
};*/
</script>
<script type="text/javascript">
    var kk = 0;
    var str_type = "{$team['condbuy_type']}";          //属性
    var str = "{$team['condbuy_class']}";         //属性分类
    x_str = str.split("~#~");
    x_str_type = str_type.split("~#~");
    if (str != '' && x_str_type != '')
    {
        var doc = '';
        var cart_attr_value='';
        var cart_attr='<div id="mm_attr" class="clo_top">';     //mm_attr start   
        for (n=0;n<x_str_type.length;n++)
        {
            cart_attr += '<dl>';
            cart_attr += '<dt><font color="red">';
            cart_attr += '<font color="red">';
            cart_attr += '请选择'+x_str_type[n];
            cart_attr += "</font>";
            cart_attr += "</font><input type=\"hidden\" id=\"mm_"+n+"\">";
            cart_attr += '</dt>';
            cart_attr += '<dd id="bg_'+n+'">';
            mm_inner(n,x_str[n]);
            cart_attr += '</dd>';       
            if (n != 0) {doc = "&nbsp"};
            cart_attr_value += doc + "<span id=\"mm_"+n+"_value\"></span>"
            cart_attr += '</dl>';
        }
        cart_attr += '</div>';                              //mm_attr end   
        cart_attr += '<div class="clo_cen">';               //clo_cen start
        cart_attr += '<ul class="clo_cen_l">';
        cart_attr += '<li id="mm_select" style="display:none">';        
        cart_attr += '“';
        cart_attr += cart_attr_value;
        cart_attr += '”<span id="mm_stock" style="display:none"> , 库存<span id="stock" class="clo_text">0</span>件，单价<span id="price" class="clo_text">0</span>元，</span>'
        cart_attr += '</li>';
        cart_attr += '<li id="mm_num" style="display:none">';           
        cart_attr += '请输入购买数量'
        cart_attr += '</li>';
        cart_attr += '<li  id="mm_num2" class="clo_r" style="display:none">';
        cart_attr += '<input type="text" class="heng1" maxlength="4" name="quantity" onBlur="onBlur(\'deal-buy-quantity-inputa\')" onKeyUp="mm_stock(\'stock\',\'deal-buy-quantity-inputa\')" value="1" id="deal-buy-quantity-inputa"  ff="0"  />&nbsp;份，然后点击→<br /><!--<span style="font-size:12px;color:gray;">最多9999件-->';
        cart_attr += '</li>';
        cart_attr += '</ul>';
        cart_attr += '<ul class="clo_cen_r">';
        cart_attr += '<li class="clo_gwc">';
        cart_attr += '<img id="mm_submit" src="/static/theme/APT-pink/css/i/gwc.jpg" onClick="mm_add()">';
        cart_attr += '</li>';
        cart_attr += '</ul>';
        cart_attr += '</div>';                      //clo_cen end
        
        document.getElementById('attr').innerHTML = cart_attr;
    }

    //属性名称分类
    function mm_inner(id,mm_str)
    {   
        mm_str = mm_str.split("~$~");
        for (i=0;i<mm_str.length;i++)
        {           
            cart_attr += "<span id=\"arrt_id_"+id+i+"\" onClick=\"mm_check('"+id+"','"+mm_str[i]+"');mm_select('bg_"+id+"','arrt_id_"+id+i+"')\">"+mm_str[i]+"</span>";     
        }
                    
    }
    
</script> 



<script>	
	//属性单击事件			
	function mm_check(id,mm_value)
	{
		document.getElementById('mm_'+id).value = mm_value;
		document.getElementById('mm_'+id+'_value').innerHTML = mm_value;
		document.getElementById('mm_select').style.display="inline";
		sendTo();				
	}

	//验证属性，ajax 查询库存
	function sendTo()
	{	
		var obj = document.getElementById("attr").getElementsByTagName("input");
		var send = true;
		var str = "";
		var doc = "";
		for (k=0;k<obj.length;k++)
		{
			if (obj[k].type == 'hidden')
			{
				if (obj[k].value == "")
				{
					send = false;
					break;
				}
				if (k != 0) {doc = ","};
				str += doc + obj[k].value;
			}
			
		}
		if (send==true)
		{
			$.ajax({
			    url: 'http://up.aipintuan.com/team/stock.php?id=ZTMzc1Ng==&key='+encodeURIComponent(str),
			    type: 'GET',
			    dataType: 'text',
			    timeout: 5000,
			    error: function(){
			        alert('Error loading');
			    },
			    success: function(str){
			    		var stock;
			    		if (str == '') { str = '0,0'; }
			    		stock = str.split(",");
			    		if (stock[0] < 0 ) stock[0] = 0;
			    		if (stock[0] == 0)
			    		{
			    			document.getElementById('mm_submit').src='/static/theme/APT-pink/css/i/gwc_wu.jpg';
			    			document.getElementById('mm_submit').onclick = function(){
			    				alert('很抱歉，您选中的此款商品被其他顾客抢先付款，请您选择其它款式')
			    			};	
			    		}else{
			    			document.getElementById('mm_submit').src='/static/theme/APT-pink/css/i/gwc.jpg';
			    			document.getElementById('mm_submit').onclick = function(){
			    				mm_add();
			    			};	
			    		}
			    		document.getElementById('stock').innerHTML = stock[0];
			    		document.getElementById('price').innerHTML = stock[1];
			    		document.getElementById('mm_num').style.display="inline";
			    		document.getElementById('mm_num2').style.display="inline";
			    		document.getElementById('mm_stock').style.display="inline";
			    		
			    }
			});
 
		}
	}
	//添加
	function mm_add(types,obj)
	{
		var str_attr = '';		//显示商品属性
		var str_attr2 = '';		//传参商品属性
		var num = '';			//数量
		var dot = '';			//显示商品属性 分割符
		var dot2 = '';			//传参商品属性 分割符
		var kuchu = 0;			//库存
		var price = 0; 			//价格
		var total = 0;			//小计商品总额	
		//还原购物车 edit 还原
		if (types == 'edit')
		{
			str_attr = obj.p.replace(/,/g,' ');
			str_attr2 = obj.p;
			num = obj.n;
			kuchu = obj.k;
			price = obj.t;
			total = obj.n * obj.t;
		}else{
			var obj = document.getElementById("attr").getElementsByTagName("input");
			for (k=0;k<obj.length;k++)
			{
				if (obj[k].type == 'hidden')
				{
					if (obj[k].value == '')
					{
						alert('请选择商品属性.');
						return false;
					}
					if (k != 0) {dot = " "}
					str_attr += dot + obj[k].value;
					if (k != 0) {dot2 = ","}
					str_attr2 += dot2 + obj[k].value;
				}
				if (obj[k].type == 'text')
				{
					num = obj[k].value;
				}			
			}
			//是否已选择
			var obj = document.getElementById('order').getElementsByTagName('ul');
			for (i=0;i<obj.length;i++)
			{
				var obj3 = obj[i].getElementsByTagName('li');
				if (obj3[0].innerHTML == str_attr)
				{
					alert('您已购买过此属性商品，请修改商品数量.');
					return false;
				}
			}
			kuchu = document.getElementById('stock').innerHTML;
			price = document.getElementById('price').innerHTML;
			total = parseFloat(num) * parseFloat(price);
		}
		kuchu =  parseFloat(kuchu);
		price =  isNaN(parseFloat(price)) == false ? parseFloat(price).toFixed(2) : 0 ;
		total =  isNaN(parseFloat(total)) == false ? parseFloat(total).toFixed(2) : 0 ;	
		str = '<ul id="ul_'+kk+'" class="clob_bot">';
		//str += '<li class="clob_text"><input name="chkc" type="checkbox" value="ul_'+kk+'" /></li>';
		str += '<li class="clob_text">';
		str += str_attr;		
		str += '</li>';
		str += '<li class="clob_jia">';
		str += price;			
		str += '<input type="hidden" id="str_attr[]" name="str_attr[]" value="'+str_attr2+'">';	
		str += '<input type="hidden" id="h_price_'+kk+'" value="'+price+'">';
		str += '</li>';
		str += '<li class="clob_sl">';
		str += '<input type="text" class="heng2" maxlength="4" name="quantity[]" value="'+num+'" onKeyUp="mm_stock(\'stock_'+kk+'\',\'deal-buy-quantity-input_'+kk+'\')" onBlur="onBlur(\'deal-buy-quantity-input_'+kk+'\')" id="deal-buy-quantity-input_'+kk+'" />';
		str += '<br />';
		//str += '<span style="font-size:12px;color:gray;">';
		//str += '最多9999件';
		//str += '</span>';		
		str += '</li>';	
		str += '<li class="clob_jiaa">';
		str += '<span id="total_'+kk+'">';
		str += total;
		str += '</span>';
		str += '</li>';		
		str += '<li class="clob_cz">';
		str += '<a href="javascript:void(0)" onClick="mm_del(\'ul_'+kk+'\')">删除</a>';
		str += '<span style="display:none" id="stock_'+kk+'">'+kuchu+'</span>';
		str += '<input type="hidden" id="h_'+kk+'" value="'+kk+'">';
		str += '</li>';
		str += '</ul>';
		var obj = document.getElementById('order');
		obj.innerHTML += str;
		update();
		mm_reset();
		var value1 = Number(document.getElementById('deal-buy-quantity-input_'+kk+'').value);
		var value2 = Number(document.getElementById('stock_'+kk+'').innerHTML);
		if (value1 > value2) {document.getElementById('deal-buy-quantity-input_'+kk+'').style.background='#f2651a'}
		document.getElementById('mm_clo_qt').style.display='inline';
		document.getElementById('order_cls').style.display='none';
		if (types != 'edit')
		{
			if (value1 > value2) { document.getElementById('deal-buy-quantity-input_'+kk+'').style.background='#ff0000'}			
			var obj = document.getElementById('order').getElementsByTagName('ul');
			for (i=obj.length-1;i<obj.length;i++)
				{
					backg = obj[i];
					backg.style.background = "#fda33a";
					setTimeout('backg.style.background = "#fafafa"',1000);
				}
		}		
		//全局变量加 ul id
		kk++;
	}
	function update()
	{
		var all_total = 0;
		var all_number = 0;
		var h_price;
		var h_num;
		var h_kk = 0;
		var obj = document.getElementById('order').getElementsByTagName('ul');
		for (i=0;i<obj.length;i++)
		{
			var total = '';
			var obj2 = obj[i].getElementsByTagName('input');
			total = parseFloat(obj2[1].value) * parseFloat(obj2[2].value);
			all_total += parseFloat(total);
			all_number += parseFloat(obj2[2].value);
			//更新小计金额
			document.getElementById('total_'+obj2[3].value+'').innerHTML =  isNaN(parseFloat(total.toFixed(2))) == false ? parseFloat(total).toFixed(2) : 0;;				
		}
		//更新总金额、数量
		document.getElementById('all_number').innerHTML = isNaN(parseFloat(all_number)) == false ? all_number : 0;
		
		if (document.getElementById('delivery').value == 'express')
		{
			var post = parseFloat(document.getElementById('post').innerHTML);
			var hei_post = parseFloat(document.getElementById('hei_post').value);
			var mianyou = parseFloat(document.getElementById('mianyou').innerHTML);
			if (mianyou ==0){
				document.getElementById('post').innerHTML = hei_post;
				document.getElementById('all_total').innerHTML = isNaN(parseFloat(all_total + post).toFixed(2)) == false ? parseFloat(all_total + post).toFixed(2) : 0 ;	
			}else{
				if (mianyou > all_number) {
					document.getElementById('post').innerHTML = hei_post;
					document.getElementById('all_total').innerHTML = isNaN(parseFloat(all_total + hei_post).toFixed(2)) == false ? parseFloat(all_total + hei_post).toFixed(2) : 0 ;	
				}else{
					document.getElementById('post').innerHTML = 0;
					document.getElementById('all_total').innerHTML = isNaN(parseFloat(all_total).toFixed(2)) == false ? parseFloat(all_total).toFixed(2) : 0;	
				}
			}
		}else{
			document.getElementById('all_total').innerHTML = isNaN(parseFloat(all_total).toFixed(2)) == false ? parseFloat(all_total).toFixed(2) : 0;
		}
	
			
	}
	//删除HTM元素
	function mm_del(id)
	{
		$('ul').remove('#'+id);
		//更新价格
		update();
		var items=document.getElementById("order").getElementsByTagName("ul");   
		if (items.length == 0) 
		{
			document.getElementById('mm_clo_qt').style.display='none';
			document.getElementById('order_cls').style.display='';
		}
	}
	//清空购物车
	function mm_del_s()
	{
		if (confirm('您确定要清空购物车吗?')==true)
		{
			document.getElementById("order").innerHTML = ''; 
			update();
			document.getElementById('mm_clo_qt').style.display='none';
			document.getElementById('order_cls').style.display='';		
		}
		
	}
	//初始化选择条件
	function mm_reset()
	{
		var obj = document.getElementById('mm_attr').getElementsByTagName('span');
		for (i=0;i<obj.length;i++)
		{
			obj[i].style.background='#fff'; 
			obj[i].style.border='1px solid #CCCCCC';	
		}
		var obj = document.getElementById("attr").getElementsByTagName("input");
		for (k=0;k<obj.length;k++)
		{
			if (obj[k].type == 'hidden')
			{
				obj[k].value='';
				document.getElementById('mm_'+k+'_value').innerHTML="";
			}
			if (obj[k].type == 'text')
			{
				obj[k].value='1';
			}					
		}
		document.getElementById('mm_select').style.display='none';
		document.getElementById('mm_num').style.display="none";
		document.getElementById('mm_num2').style.display="none";		
		document.getElementById('mm_stock').style.display='none';		
			
	}
	//背景控制
	function mm_select(id,thisid)
	{
		var obj = document.getElementById(id).getElementsByTagName('span');
		for (i=0;i<obj.length;i++)
		{
			obj[i].style.background='#fff'; 
			obj[i].style.border='1px solid #ccc';
		}
		 document.getElementById(thisid).style.border='1px solid #FF8A00';
	}
	//更新商品数量
	function mm_stock(id1,id2)
	{
		var value1 = document.getElementById(id1).innerHTML;
		var value2 = document.getElementById(id2).value;
		if (IsInteger(value2) == false) {
			document.getElementById(id2).value = 1
		}
		if (Number(value1) < Number(value2))
		{
			document.getElementById(id2).value = value1;
			alert('对不起，此款库存仅剩 '+value1+' 件');	
		}
		document.getElementById(id2).style.background='#ffffff';
		update();		
	}
	function onBlur(id)
	{

		if (document.getElementById(id).value == 0) 
		{
			document.getElementById(id).value = 1;
		}
		update();	
	}
	//检测是否为正整数
	function IsInteger(fData) 
	{ 
	    //如果为空，返回true 
	    if (IsEmpty(fData)) 
	        return true 
	    if ((isNaN(fData)) || (fData.indexOf(".")!=-1) || (fData.indexOf("-")!=-1)) 
	        return false 	    
	    return true    
	} 
	function IsEmpty(fData) 
	{ 
	    return ((fData==null) || (fData.length==0) ) 
	} 	
	//还原购物车
	function edit(condbuy3)
	{
		var obj = condbuy3;
		for (z=0;z<obj.length;z++)
		{
			mm_add('edit',obj[z]);
		}		
		
	}
</script>

<script>edit([]);</script>
<!--{include footer}-->
