<!--{include header}-->
<!--{include ad/top_index_banner}-->
<!--{include block_navigator_ev56_s}-->
<section id="list" class="mt10 fl">
    <!--ItemList-->
    <ul class="inline">
        <!--{loop $itemData $tindex $item}-->
        <li>
            <a class="img" href="/team/{$item['id']}.html" target="_blank" title="{$item['title']}">
                <!--{if $tindex <= 1}-->
                <img src="${team_image($item['image'],false,array(313,199))}" target="_blank"  alt="{$item['product_ind']}">
                <!--{else}-->
                <img class="index-item-img" src="/static/v2/img/border.gif" data-original="${team_image($item['image'],false,array(313,199))}" target="_blank" alt="{$item['product_ind']}">
                <!--{/if}-->
            </a>
            <a href="/team/{$item['id']}.html" target="_blank" title="{$item['title']}">
                <h3>${mb_substr($item['product'],0,16);}</h3>
                <!--{if stripos($item['title'], '【') === 0}-->
                <p class="bracket">${mb_substr($item['title'],0,38);}...</p>
                <!--{else}-->
                <p>${mb_substr($item['title'],0,38);}...</p>
                <!--{/if}-->
            </a>
            <p class="price wrapper">
                <span class="fl"><strong>&yen;{$item['team_price']}</strong>原价 <i>&yen;{$item['market_price']}</i></span>
                <a class="fr" target="_blank" href="/team/{$item['id']}.html">去看看</a>
            </p>
            <p class="tr"><strong>${$item['now_number']+$item['pre_number']}</strong>人已团购</p>
            <!--{if $item['group_id'] != 23 && $item['group_id'] != 29}-->
            <!--{if $startingToday <= $item['begin_time'] && $item['sched_num'] <= 1 && $item['reservation'] == 0}-->
            <i class="today_no"></i>
            <!--{elseif $startingToday <= $item['begin_time'] && $item['reservation'] != 0 && $item['sched_num'] <= 1}-->
            <i class="today"></i>
            <!--{elseif $startingToday >= $item['begin_time'] && $item['reservation'] == 0}-->
            <i class="no"></i>
            <!--{/if}-->
            <!--{else}-->
            <!--{if $startingToday <= $item['begin_time'] && $item['sched_num'] <= 1}-->
            <i class="today"></i>
            <!--{/if}-->
            <!--{/if}-->
        </li>
        <!-- {/loop} -->
    </ul>
    {$pagestring}
</section>

<aside id="side" class="fr mt10">
    <!--aipintuanCommitment-->
    <header class="box commitment">
        <a href=""></a>
    </header>
    <!--{if $city['name'] == '鹤壁' || $city['name'] == '枣庄' || $city['name'] == '延安' || $city['name'] == '瑞安' || $city['name'] == '汉中'}-->
    <section class="box fs12">
        <div id="bannerFocus2" style="word-wrap:normal">
            <ul class="pic">
                <li>
                    <a href="/about/job.php" target="_blank">
                        <img src="/static/v2/img/zhaopin.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!--{/if}--> 
    <!--{if $city['name'] == '郑州' || $city['name'] == '西安' || $city['name'] == '济南' || $city['name'] == '鹤壁' || $city['name'] == '枣庄' || $city['name'] == '延安'}-->
    <section class="box fs12">
        <div id="bannerFocus" style="word-wrap:normal">
            <ul class="pic">
                <!--{if $city['name'] == '郑州' }--> 
                <li>
                    <a href="/hebi">
                        <img src="/static/v2/img/banner2.jpg">
                    </a>
                </li>
                <!--{/if}-->
                <!--{if $city['name'] == '西安'}-->
                <li>
                    <a href="/yanan">
                        <img src="/static/v2/img/banner3.jpg">
                    </a>
                </li>
                <!--{/if}-->
                <!--{if $city['name'] == '济南'}--> 
                <li>
                    <a href="/zaozhuang">
                        <img src="/static/v2/img/banner4.jpg">
                    </a>
                </li>
                <!--{/if}--> 
                <!--{if $city['name'] == '鹤壁' || $city['name'] == '枣庄' || $city['name'] == '延安' || $city['name'] == '瑞安' || $city['name'] == '汉中'}-->
                <li>
                    <a href="/account/refer.php" target="_blank">
                        <img src="/static/v2/img/fiveyuan.jpg">
                    </a>
                </li>
                <!--{/if}-->
            </ul>
        </div>
    </section>
    <!--{/if}-->
    <!--{include ad/right_index_banner}-->
    <!--userHelp-->
    <!--{include block_kefu}-->
    <!--LocationSitePoint-->
    <!--{include daigoudian/locationsite_yanan}-->
    <!--{include daigoudian/locationsite_hebi}-->
    <!--{include daigoudian/locationsite_ankang}-->
      <!--{include daigoudian/locationsite_hanyin}-->
    <!--{include daigoudian/locationsite_xingping}-->
    <!--siteInfo-->
    <section class="info box fs12">
        <ul class="block">
            <li class="info-1">
                <a href="/about/job.php">
                    <p class="title">招贤纳士</p>
                    <p>点击查看招聘职位&gt;&gt;</p>
                </a>
            </li>
            <li class="info-2">
                <a href="/team/ask.php">
                    <p class="title">意见反馈</p>
                    <p>有您的建议，优品会才能更好&gt;&gt;</p>
                </a>
            </li>
            <li class="info-3">
                <a href="/feedback/seller.php">
                    <p class="title">商务合作</p>
                    <p>想在优品会组织团购活动么？&gt;&gt;</p>
                </a>
            </li>
        </ul>
    </section>
</aside>
<!--{include footer}-->