<!--{include header}-->
<link rel="stylesheet" href="/static/css/cloth.css" type="text/css" media="screen" charset="utf-8" />
<div class="wrap2">
    <div class="uleft2"  id="deal-buy">
        <div class="utit">
            <ul class="step step1">
                <li>提交订单</li>
                <li>选择支付方式 </li>
                <li>支付成功</li>
            </ul>
            <h2>
                购买信息<!--{if $team['farefree'] == -1}-->&nbsp;(本单免运费)
                <!--{else if $team['farefree']>0}-->&nbsp;(<span class="currency">{$team['farefree']}</span>件免运费)<!--{/if}-->
            </h2>
        </div>

        <form action="/team/buy.php?id={$team['id']}" method="post" class="validator" id="orderFormJQ" >
            <input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
            <input id="deal-permin-number" value="{$team['permin_number']}" type="hidden" />
            <table width="100%" border="0" cellspacing=​0 cellpadding=0 class="RichCartProduct">
                <thead>
                    <tr>
                        <th width="40%" class="first">商品信息<!--{if $team['farefree'] == -1}-->&nbsp;(本单免运费)
                            <!--{else if $team['farefree']>0}-->&nbsp;(<span class="currency">{$team['farefree']}</span>件免运费)<!--{/if}--></th>
                        <th width="24%" align="center">数量</th>
                        <th width="18%" align="center">单价</th>
                        <th width="18%" align="center">总价</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td name="title">
                            <a href="/team.php?id={$team['id']}" title="{$team['title']}">{$team['product']}</a>
                        </td>
                        <td id="tCount"></td>
                        <td id="tPrice">¥{$team['team_price']}</td>
                        <td id="tTotal"></td>
                    </tr>
                </tbody>
            </table>
            <!-- 购物车:begin -->
            <div id="RichCart">

                <table width="100%" border="0" cellspacing=​0 cellpadding=0>
                    <thead>
                        <tr>
                            <th width="40%" class="first">规格</th>
                            <th width="24%">数量</th>
                            <th width="18%">单价</th>
                            <th width="18%">总价</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="cloth">


                <div id="mm_clo_qt" style="display:none" class="clo_qt">
                    <ul class="clo_qt_rig">
                        <li>共<span id="all_number">0</span>件商品</li>
                        <li>运费：<span id="mianyou" style="display:none">0</span><input type="hidden" readonly="true" id="hei_post" value="0"><span id="post">0</span>元</li>
                        <li><input type="hidden" id="per_number" value="0"><input type="hidden" id="delivery" value="express">商品总价（含运费）：<span id="all_total">0</span>元</li>
                    </ul>
                </div>			
            </div>
            <!--{if $isDEDay && $team['delivery'] == 'express'}-->
            <div style="
                 margin-top: 10px;
                 padding: 2px 30px;
                 border: 1px solid rgb(255, 176, 131);
                 background: #FFCB7C;
                 font-size: 12px;
                 display: inline-block;
                 color: #3A3A3A;"><strong style="color: red">*小提示: </strong>“双十一”活动正在进行中，请在下方输入优惠券以获得更多优惠哦！</div>
            <div style="margin-top: 10px;border:1px solid #E6E4E3;padding: 5px;">
                <label style="color: #555;font-size: 12px;margin-right: 5px">双十一优惠券：</label>
                <input style="margin-bottom: 0px;" type="text" name="de_code">
                <span style="font-size: 12px;margin-left: 15px;color: green;display: none" id="de-code-msg"></span>
            </div>
            <!--{/if}-->
            <!-- 快递信息填写new，begin -->
            <!--{if $team['delivery']=='express'}-->
            <table width="100%" border="0" cellspacing=​0 cellpadding=0 class="RichCartProduct">
                <thead>
                    <tr>
                        <th class="first">
                <h3>收货地址<!--{if $INI['alipay']['aliaddress'] == 'Y' && $_SESSION['ali_token']}-->&nbsp;<a href="/alifast/user_logistics_address_query.php"><img src="/static/css/i/aliaddress.png" /></a><!--{/if}--></h3>
                </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;padding:0;margin:0">
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>省市区</label>
                                <select id="s1" name="province"  class="f-select" datatype="require" require="true" msg="必须选择省份/自治区" msgid="s1Error"></select>
                                <select id="s2" name="city"  class="f-select" datatype="require" require="true" msg="必须选择城市/地区/自治州" msgid="s2Error"></select>
                                <select id="s3" name="area" class="f-select" ></select>
                                <div id="s1Error"></div>
                                <div id="s2Error"></div>
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>街道地址</label>
                                <input type="text" size="60" style="width:450px" name="address" id="settings-address" require="true" datatype="require"  class="i_text"  value="<!--{if $userData['address']}-->{$userData['address']} <!--{else}-->{$login_user['address']}<!--{/if}-->" placeholder="路名或街道地址,门牌号" msg="街道信息不能为空">
                                <span class="errorTip"></span>
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>收货人姓名</label>
                                <input type="text" size="30" name="realname" id="settings-realname" require="true" datatype="require" class="i_text" <!--{if $userData['realname']}-->value="{$userData['realname']}" <!--{else}-->value="{$login_user['realname']}"<!--{/if}--> placeholder="真实姓名" msg="收货人不能为空"/>
                                       <span class="errorTip"></span>
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>手机号码</label>
                                <input type="text" size="11" name="mobile" id="settings-mobile" require="true" datatype="require|mobile"  class="i_text" <!--{if $userData['mobile']}-->value="{$userData['mobile']}" <!--{else}-->value="{$login_user['mobile']}"<!--{/if}-->  maxLength="11" msg="手机号码不能为空|手机号码不正确"/>
                                       <span class="errorTip"></span>
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label>邮政编码</label>
                                <input type="text" size="30" name="zipcode" id="settings-mobile" class="i_text" <!--{if $userData['zipcode']}-->value="{$userData['zipcode']}" <!--{else}-->value="{$login_user['zipcode']}"<!--{/if}-->  maxLength="6" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;padding:0;margin:0">
                            <div class="field" style="padding:0;margin:5px 0 10px;">

                                <label>订单附言</label>
                                <input type="text" name="remark" class="i_text" style="width:450px;" value="${htmlspecialchars($order['remark'])}" placeholder="快递公司由商家根据情况选择，请不要指定。其他要求会尽量协调">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" style="margin-top: 20px;width: 100%;">
                <tbody>
                    <tr><td>&nbsp;</td><td align="right">
                            <!--{if $login_user}-->
                            <input type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{else}-->
                            <input id="no-login-btn" type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{/if}-->
                        </td></tr>
                </tbody>
            </table>
            <!--{else}-->
            <table border="0" style="margin-top: 20px;width: 100%;">
                <tbody>
                    <tr><td>
                            <label style="width:170px;font-size: 14px;font-weight: bold;display: inline-block;padding: 2px 0;">将发送{$INI['system']['couponname']}至手机号:</label>
                            <input type="text" size="30" name="mobile" id="settings-mobile"  require="true" style="width:100px" class="i_text" datatype="require|mobile" msg="手机号码不能为空|手机号码格式不正确" <!--{if $userData['mobile']}-->value="{$userData['mobile']}" <!--{else}-->value="{$login_user['mobile']}"<!--{/if}--> require="true" maxLength="11" />
                        </td><td align="right">
                            <!--{if $login_user}-->
                            <input type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{else}-->
                            <input id="no-login-btn" type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{/if}-->
                        </td></tr>
                </tbody>
            </table>
            <!--{/if}-->
            <!-- 快递信息填写new，end -->

            <input type="hidden" name="id" value="{$order['id']}" />
        </form>          
        <!--{if $team['delivery']=='express'}-->
        <div class="expresstip">
            <div class="detail_send_con detail_send_con_x">
                <ul>
                    <li>
                        <b class="detail_send_pos">快递费用</b>
                        <span>
                            {$express_info[0]}
                        </span>
                    </li>
                    <li>
                        <b class="detail_send_ems">默认快递</b>
                        <span>{$express_info[1]}</span>
                    </li>
                    <li>
                        <b class="detail_send_ran">配送范围</b>
                        <span>{$express_info[2]}</span>
                    </li>
                    <li>
                        <b class="detail_send_cit">发货城市</b>
                        <span>{$express_info[3]}</span>
                    </li>
                    <li>
                        <b class="detail_send_tim">发货时间</b>
                        <span>{$express_info[4]}</span>
                    </li>
                    <li>
                        <b class="detail_send_pro">签收提示</b>
                        <span>{$express_info[5]}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--{/if}-->



        <div class="clear"></div>   
    </div>
    <div class="uright2">
        <h3>账户余额</h3>
        <p>您的账户余额：<span class="money">{$currency}</span>${moneyit($login_user['money'])}</p>
    </div>
    <!--include block_side_credit-->
    <div class="clear"></div>
</div>

<script language="javascript">
</script>
<script>
    /*window.x_init_hook_dealbuy = function(){
     X.team.dealbuy_farefree(${abs(intval($order['quantity']))});
     X.team.dealbuy_totalprice();
     };*/
</script>
<!--百分点代码：购物车页-->
<script type="text/javascript">
    window["_BFD"] = window["_BFD"] || {};
     _BFD.BFD_INFO = {
          "cart_items" : [["{$team['id']}", {$team['team_price']}, "{$userData['quantity']}"]],   //2维数组，参数分别是["商品id号","该商品的单价","购物车中该商品的数量"];商品id号需和单品页提供的ID号一致
          "category" : ["",""],   //购物车内的商品的最小类别
          "user_id" : "{$login_user['id']}", //网站当前用户id，如果未登录就为0或空字符串
          "page_type" : "shopcart" //当前页面全称，请勿修改
     };
</script>
<?php $includeScript[] = 'team_buy_cloth'; ?>
<!--{include footer}-->