<!--{include header}-->

<div class="wrap2" style="min-height: 500px;">

    <div class="uleft2"  id="deal-buy">
        <div class="utit">
            <ul class="step step1">
                <li>提交订单</li>
                <li>选择支付方式 </li>
                <li>支付成功</li>
            </ul>
            <h2>
                购买信息<!--{if $team['farefree'] == -1}-->&nbsp;(本单免运费)
                <!--{else if $team['farefree']>0}-->&nbsp;(<span class="currency">{$team['farefree']}</span>件免运费)<!--{/if}-->
            </h2>
        </div>

        <form action="/team/buy.php?id={$team['id']}" method="post" class="validator" id="orderFormJQ" >
            <input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
            <input id="deal-permin-number" value="{$team['permin_number']}" type="hidden" />


            <!-- 购物车new : start -->
            <!-- 购物车:begin -->
            <div id="RichCart">
                <table width="100%" border=0 cellspacing=​0 cellpadding=​0>
                    <thead>
                        <tr>
                        <th class="deal-buy-desc">项目名称</th>
                    <th class="deal-buy-quantity">数量</th>
                    <th class="deal-buy-multi"></th>
                    <th class="deal-buy-price">价格</th>
                    <th class="deal-buy-equal"></th>
                    <th class="deal-buy-total">总价</th>

                        </tr>
                <tr>
                    <td class="deal-buy-desc">{$team['title']}</td>
                    <td class="deal-buy-quantity"><input type="text" class="input-text f-input" maxlength="4" name="quantity" value="{$order['quantity']}" ff="${abs(intval($team['farefree']))}" id="deal-buy-quantity-input" ${$team['per_number']==1?'readonly':''} /><br /><span style="font-size:12px;color:gray;"><!--{if $team['per_number']==0}-->最多9999件<!--{else}-->最多{$team['per_number']}件<!--{/if}--></span></td>
                    <td class="deal-buy-multi">x</td>
                    <td class="deal-buy-price"><span class="money">{$currency}</span><span id="deal-buy-price">{$team['team_price']}</span></td>
                    <td class="deal-buy-equal">=</td>
                    <td class="deal-buy-total"><span class="money">{$currency}</span><span id="deal-buy-total">{$order['quantity']*$team['team_price']}</span></td>
                </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                    </tfoot>
                </table>
            </div>
            <!-- 购物车:end -->
            <!--{if $team['delivery']=='express'}-->
            <table width="100%" border="0" cellspacing=​0 cellpadding=0 class="RichCartProduct">
                <thead>
                    <tr>
                        <th class="first">
                <h3>收货地址<!--{if $INI['alipay']['aliaddress'] == 'Y' && $_SESSION['ali_token']}-->&nbsp;<a href="/alifast/user_logistics_address_query.php"><img src="/static/css/i/aliaddress.png" /></a><!--{/if}--></h3>
                </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;padding:0;margin:0">
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>省市区</label>
                                <select id="s1" name="province"  class="f-select" datatype="require" require="true" msg="必须选择省份/自治区" msgid="s1Error"></select>
                                <select id="s2" name="city"  class="f-select" datatype="require" require="true" msg="必须选择城市/地区/自治州" msgid="s2Error"></select>
                                <select id="s3" name="area" class="f-select" ></select>
                                <div id="s1Error"></div>
                                <div id="s2Error"></div>
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>街道地址</label>
                                <input type="text" size="60" style="width:450px" name="address" id="settings-address" require="true" datatype="require"  class="i_text"  value="<!--{if $userData['address']}-->{$userData['address']} <!--{else}-->{$login_user['address']}<!--{/if}-->" placeholder="路名或街道地址,门牌号" msg="街道信息不能为空">
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>收货人姓名</label>
                                <input type="text" size="30" name="realname" id="settings-realname" require="true" datatype="require" class="i_text" <!--{if $userData['realname']}-->value="{$userData['realname']}" <!--{else}-->value="{$login_user['realname']}"<!--{/if}--> placeholder="真实姓名" msg="收货人不能为空" />
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label><font color="red">*</font>手机号码</label>
                                <input type="text" size="11" name="mobile" id="settings-mobile" require="true" datatype="require|mobile"  class="i_text" <!--{if $userData['mobile']}-->value="{$userData['mobile']}" <!--{else}-->value="{$login_user['mobile']}"<!--{/if}-->  maxLength="11" msg="手机号码不能为空|手机号码不正确" /> <!--span class="inputtip">手机号码是我们联系您最重要的方式，请准确填写</span-->
                            </div>
                            <div class="field" style="padding:0;margin:5px 0 10px;">
                                <label>邮政编码</label>
                                <input type="text" size="30" name="zipcode" id="settings-mobile" class="i_text" <!--{if $userData['zipcode']}-->value="{$userData['zipcode']}" <!--{else}-->value="{$login_user['zipcode']}"<!--{/if}-->  maxLength="6" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;padding:0;margin:0">
                            <div class="field" style="padding:0;margin:5px 0 10px;">

                                <label>订单附言</label>
                                <input type="text" name="remark" class="i_text" style="width:450px;" value="${htmlspecialchars($order['remark'])}" placeholder="快递公司由商家根据情况选择，请不要指定。其他要求会尽量协调">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" style="margin-top: 20px;width: 100%;">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td align="right">
                            <!--{if $login_user}-->
                            <input type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{else}-->
                            <input id="no-login-btn" type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{/if}-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--{/if}-->
            <table border="0" style="margin-top: 20px;width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <label style="width:170px;font-size: 14px;font-weight: bold;display: inline-block;padding: 2px 0;">将发送{$INI['system']['couponname']}至手机号:</label>
                            <input type="text" size="30" name="mobile" style="width:100px" id="settings-mobile" class="i_text"  require="true" datatype="require|mobile" maxLength="11" msg="手机号码不能为空|手机号码格式不正确" <!--{if $userData['mobile']}-->value="{$userData['mobile']}" <!--{else}-->value="{$login_user['mobile']}"<!--{/if}--> />
                        </td>
                        <td align="right">
                            <!--{if $login_user}-->
                            <input type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{else}-->
                            <input id="no-login-btn" type="submit" class="input input1" name="buy" value="提交订单"/>
                            <!--{/if}-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--{/if}-->
            <input type="hidden" name="quantity" value="{$userData['quantity']}" />
            <!-- 购物车new : end -->
            <input type="hidden" name="id" value="{$order['id']}" />
        </form>  
        <!--{if $team['delivery']=='express'}-->
        <div class="expresstip">
            <div class="detail_send_con detail_send_con_x">
                <ul>
                    <li>
                        <b class="detail_send_pos">快递费用</b>
                        <span>
                            {$express_info[0]}
                        </span>
                    </li>
                    <li>
                        <b class="detail_send_ems">默认快递</b>
                        <span>{$express_info[1]}</span>
                    </li>
                    <li>
                        <b class="detail_send_ran">配送范围</b>
                        <span>{$express_info[2]}</span>
                    </li>
                    <li>
                        <b class="detail_send_cit">发货城市</b>
                        <span>{$express_info[3]}</span>
                    </li>
                    <li>
                        <b class="detail_send_tim">发货时间</b>
                        <span>{$express_info[4]}</span>
                    </li>
                    <li>
                        <b class="detail_send_pro">签收提示</b>
                        <span>{$express_info[5]}</span>
                    </li>
                </ul>
            </div>
        </div>  
        <!--{/if}-->  
        <div class="clear"></div>   
    </div>
    <div class="uleft2"   style="width:260px; padding:0px; border:none;" id="deal-buy">
        <a href="/zc/jiameng.php" target="_blank">
            <img src="/static/v2/img/jiameng_ad2.jpg"  />
        </a>
        <!--基于全网历史的推荐 畅销-->
        <!--{include ad/right_guess_like}-->
    </div>
    <div class="uright2">
        <h3>账户余额</h3>
        <p>您的账户余额：<span class="money">{$currency}</span>${moneyit($login_user['money'])}</p>
    </div>
    <div class="clear"></div>
</div>
<?php $includeScript[] = 'team_buy'; ?>
<!--{include footer}-->