<!--{include header}-->

<div class="wrap new-order team_comment">
    <div class="uleft c3" id="uleft_ev56">
<h2 id="uctit" style="display:none">用户中心</h2>
<h3 style="display:none">交易管理</h3>
<ul>
	<li style="height: 0;display: none;"><img src="/static/theme/ev56_58/css/img/express.png" style="position: relative;left: 95px;top: 9px;"></li>
  ${current_account('null')}
</ul>
<h3 style="display:none">咨询与售后</h3>
<ul style="display:none">
  <li><a href="/feedback/suggest.php">咨询/投诉</a></li>
  <li><a href="/feedback/seller.php">商务合作</a></li>
  <li class="cur"><a href="/team/comments.php">买家点评</a></li>
</ul>

<a class="faq" href="/help/faqs.php" target="_blank" style="display:none">常见问题&gt;&gt;</a>
</div>    <div class="uright" id="uright_ev56">
    <div class="utit">	  
	  
      <h2>买家点评</h2>
    </div>
	
	              <p>这里是在{$INI['system']['sitename']}购物过的朋友留下的评价。您也可以在"我的{$INI['system']['abbreviation']}"下方的"我的订单"里面给已经发货的订单评价哦~</p>
    <ul class="qa_list qa_list1">
				     <!--{loop $orders $index $one}-->
                     <!--${
                     	$mixtime = time() - $one['comment_time'];
                        $i++;
                     }-->
                    <li style="padding-right: 0px; width:100%">
                    <p class="asker"><font>第${189392-$index}个评论</font></p>
                    <div style="width: 285px; float: left;">
                    	<a href="/team/{$one['team_id']}.html"><img height="170px" src="${team_image($teams[$one['team_id']]['image'])}"></a>
                    </div>
                    <div style="width: 458px; float: left;">
            		<p class="asker" style="background-image: none;">
                    	<a name="qa{$one['user_id']}"></a>
                   			<span>&nbsp;</span>
                            <strong style="padding-right: 10px; font-size: 18px;">{$users[$one['user_id']]['username']}</strong>
                            <span>${date("Y年m月d日",$users[$one['user_id']]['create_time'])}注册</span>
            		</p>
            		<p class="askcon"> 
                    评价了TA在{$INI['system']['sitename']}买到的 
                    <a href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a>
                    </p>
             		</div>
            		<div class="anscon" style="float: left; width: 420px;">
            			<p><span>点评：</span>  {$one['comment_content']}<!--{if $mixtime<86400*3}--><span style="float: right; color: #999999;font-weight: normal;">(今天)</span><!--{/if}-->
            				<!--{if $mixtime>86400*3&&$mixtime<86400*5}-->
            				<span style="float: right; color: #999999;font-weight: normal;">(近三天)</span>
            				<!--{/if}--></p>
            		</div>
                    <div align="right">
						<a class="ajaxlink" href="/order/ajax.php?action=ordercomment&id={$one['team_id']}"><b>我也要评论</b></a>
					</div>
            	</li>
                
				    <!--{/loop}-->
              
          </ul>
    

					<div  class="class_quick_fm">{$pagestring}</div>	
  <div class="clear"></div>
</div>
</div>
<!--{include footer}-->
