<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>优品会--羽绒服反季专场 喜迎八一建军节 奥运会 特此推出20元抢购代金券活动</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/v1.base.css?20111122" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/v1.lister.css?20111122" type="text/css"  media="screen" charset="utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/v1.uc.css?20111122" type="text/css"  media="screen" charset="utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/ev56_common.css?20111122" type="text/css" media="screen" charset="utf-8" />
<script src="/static/theme/ev56_58/js/index.js" type="text/javascript"></script>
<style>
body {
	background:url('{$INI['system']['cdnprefix']}/static/img/fanji/bj.png');
}
.tuanitem{
	margin: 0 12px 12px 8px;
}
.lister {
	width:1030px;
}
.ft {
    color: #333;
    padding: 20px;
    text-align: center;
}
.tuanitem{
	border: 1px solid #FFCCCC;
}
#a_links{
 margin: 70px 0 0 550px;
 position: absolute;
 width:150px; 
 height:55px;
 /*background:url({$INI['system']['cdnprefix']}/static/img/baidu10/images/10button.png); */
 display:block;
 text-decoration:none;
}
#a_links:hover{
/*background-image:url({$INI['system']['cdnprefix']}/static/img/baidu10/images/10buttonho.png); */
}
</style>
</head>
<body>
<div id="pagemasker"></div><div id="dialog"></div>
<div style=""></div>
<div style="width:1001px; margin-left:auto; margin-right:auto; height:150px; background:url('{$INI['system']['cdnprefix']}/static/img/fanji/3.png');">
<a id="a_links" style="display:none" class="ajaxlink" href="/ajax/getcard.php?action=getcard&code=dujun_yurongfu">
<img width="150px" height="55px" src="{$INI['system']['cdnprefix']}/static/img/baidu20/images/20bot.gif" />
</a>
</div>
<div id="main" style="width:1024px; margin-top:0; border-top:none; padding-top:0px; margin-top:20px;">
<div class="listerouter" style="width:1024px; padding-bottom: 15px;">
<div class="lister">
	<!--{loop $teams $tindex $oneev56}-->
  															<dl class="tuanitem">
                                                           		 <dd class="dse">
				<h2>
						<a  id="teamsecondurl{$oneev56['id']}"  target="_blank" href="/team.php?id={$oneev56['id']}&f=yrf" title="{$oneev56['title']}" class="c_b">
							<span class="c_r"> ${team_discount($oneev56)}折：</span>
							{$oneev56['title']}
						</a>
					</h2>
                    </dd>
                <dt>
					<a  id="teamfirsturl{$oneev56['id']}"  href="/team.php?id={$oneev56['id']}&f=yrf" target="_blank"><img width="294" heigth="184" alt="{$oneev56['title']}" title="{$oneev56['title']}" src="${team_image($oneev56['image'])}" /></a>
<!--start 商户调用-->
<!--${
$team_partner_id = $oneev56['partner_id'];
$team_partner = Table::Fetch('partner', $team_partner_id);
}-->					
<!--{if $oneev56['partner_id']}-->											
								<!--<i class="localmask"></i>-->
                                <div class="buy-mask"></div>
                                <div class="buy-state">
									<span class="orig-price">原价<del>${moneyit($oneev56['market_price'])}元</del></span>
                					<span class="orig-price">折扣 <strong>${team_discount($oneev56)}</strong>折</span>
                					<span class="buy-ed"><strong>{$oneev56['now_number']}</strong>人已购买</span>
            					</div>

<!--{/if}--> 									
								<!-- {if $detail[$oneev56['id']]['is_today']} -->
								<i class="new" title="最新上线"></i>
								<!-- {elseif $oneev56['now_number']>30} -->
								<i class="hot" title="热点团购"></i>
								<!-- {/if} -->
				</dt>
				<dd class="des">
				<div class="gobuy">
											<a  id="teamthirdurl{$oneev56['id']}"  href="/team.php?id={$oneev56['id']}&f=yrf" target="_blank" class="<!--{if ($oneev56['state']=='soldout')}-->soldout_i<!--{elseif $oneev56['close_time']}-->soldout_i<!--{else}-->golook<!--{/if}-->">去看看</a>
                                        <!--${
                                        	$floats = explode('.',$oneev56['team_price']);
                                        }-->    
										<span class="nprice"><em>&yen;</em>${trim($floats[0])}</span><span class="nprice" style="font-size:28px; margin-left: 0px;">.{$floats[1]}元</span>
				</div>
				</dd>
				<dd class="btmbar">
					<div class="bar">
			<div style="float:left">商品评分：</div>
            <div class="pl_star" title="<?php echo $pinfen = rand(40,50)/10 ?>分">
            <span style="width:<?php echo $pinfens = $pinfen/5*100 ?>%">&nbsp;</span>
            </div>
            {$pinfen}分&nbsp;
            <a href="/team/comments.php" target="_blank">
            <!--<span style="color: rgb(51, 102, 204); text-decoration: none;"> </span>-->
            评论(<?php echo rand(80,200) ?>)
            
            </a>
			</div>
									</dd>
				<dd class="shadow"></dd>
				</dl>													
	<!-- {/loop} -->
    		    <div class="clear"></div>
		</div>
	</div>
</div>
<!--{include block_block_service}-->
<script type="text/javascript">
		$(document).ready(function(){
  			$("#a_links").fadeIn(1500);
		});
</script>
<div class="ft">Copyright &copy; 优品会. All Rights Reserved.<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F29e85ae5874018d870fc25260b2f82c9' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script> <script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-9515342-4"); pageTracker._trackPageview(); } catch(err) {}</script>
</body>
</html>