<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>优品会儿童节专场</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/v1.base.css?20111122" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/v1.lister.css?20111122" type="text/css"  media="screen" charset="utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/v1.uc.css?20111122" type="text/css"  media="screen" charset="utf-8" />
<link rel="stylesheet" href="{$INI['system']['cdnprefix']}/static/theme/ev56_58/css/ev56_common.css?20111122" type="text/css" media="screen" charset="utf-8" />
<script src="/static/theme/ev56_58/js/index.js" type="text/javascript"></script>
<style>
body {
	background:#78c7fd;
}
.tuanitem{
	margin: 0 12px 12px 8px;
}
.lister {
	width:1030px;
}
.ft {
    color: #333;
    padding: 20px;
    text-align: center;
}
</style>
</head>
<body>
<div style="width:1024px; margin-left:auto; margin-right:auto;">
<table id="__01" width="1024" height="569" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_01.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_02.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_03.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_04.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_05.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_06.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_07.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_08.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_09.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_10.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_11.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_12.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_13.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_14.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_15.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_16.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_17.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_18.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_19.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_20.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_21.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_22.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_23.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_24.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_25.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_26.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_27.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_28.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_29.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_30.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_31.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_32.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_33.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_34.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_35.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_36.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_37.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_38.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_39.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_40.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_41.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_42.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_43.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_44.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_45.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_46.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_47.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_48.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_49.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_50.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_51.jpg" width="102" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_52.jpg" width="102" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_53.jpg" width="103" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_54.jpg" width="102" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_55.jpg" width="103" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_56.jpg" width="102" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_57.jpg" width="102" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_58.jpg" width="103" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_59.jpg" width="102" height="55" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_60.jpg" width="103" height="55" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_61.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_62.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_63.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_64.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_65.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_66.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_67.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_68.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_69.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_70.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_71.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_72.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_73.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_74.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_75.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_76.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_77.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_78.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_79.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_80.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_81.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_82.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_83.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_84.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_85.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_86.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_87.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_88.jpg" width="103" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_89.jpg" width="102" height="57" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_90.jpg" width="103" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_91.jpg" width="102" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_92.jpg" width="102" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_93.jpg" width="103" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_94.jpg" width="102" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_95.jpg" width="103" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_96.jpg" width="102" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_97.jpg" width="102" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_98.jpg" width="103" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_99.jpg" width="102" height="58" alt=""></td>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/61_2/child_100.jpg" width="103" height="58" alt=""></td>
	</tr>
</table>
</div>
<div id="main" style="width:1024px; margin-top:0; padding-top:12px; background:#FFF; border:#FFF dashed medium; border-top:none;">
<div class="listerouter" style="width:1024px;border-top: 3px dashed #78c7fd;padding-top: 12px; padding-bottom: 15px;">
<div class="lister">
	<!--{loop $teams $tindex $oneev56}-->
  															<dl class="tuanitem">
                                                           		 <dd class="dse">
				<h2>
						<a  id="teamsecondurl{$oneev56['id']}"  target="_blank" href="/team.php?id={$oneev56['id']}" title="{$oneev56['title']}" class="c_b">
							<span class="c_r"> ${team_discount($oneev56)}折：</span>
							{$oneev56['title']}
						</a>
					</h2>
                    </dd>
                <dt>
					<a  id="teamfirsturl{$oneev56['id']}"  href="/team.php?id={$oneev56['id']}" target="_blank"><img width="294" heigth="184" alt="{$oneev56['title']}" title="{$oneev56['title']}" src="${team_image($oneev56['image'])}" /></a>
<!--start 商户调用-->
<!--${
$team_partner_id = $oneev56['partner_id'];
$team_partner = Table::Fetch('partner', $team_partner_id);
}-->					
<!--{if $oneev56['partner_id']}-->											
								<!--<i class="localmask"></i>-->
                                <div class="buy-mask"></div>
                                <div class="buy-state">
									<span class="orig-price">原价<del>${moneyit($oneev56['market_price'])}元</del></span>
                					<span class="orig-price">折扣 <strong>${team_discount($oneev56)}</strong>折</span>
                					<span class="buy-ed"><strong>{$oneev56['now_number']}</strong>人已购买</span>
            					</div>

<!--{/if}--> 									
								<!-- {if $detail[$oneev56['id']]['is_today']} -->
								<i class="new" title="最新上线"></i>
								<!-- {elseif $oneev56['now_number']>30} -->
								<i class="hot" title="热点团购"></i>
								<!-- {/if} -->
				</dt>
				<dd class="des">
				<div class="gobuy">
											<a  id="teamthirdurl{$oneev56['id']}"  href="/team.php?id={$oneev56['id']}" target="_blank" class="<!--{if ($oneev56['state']=='soldout')}-->soldout_i<!--{elseif $oneev56['close_time']}-->soldout_i<!--{else}-->golook<!--{/if}-->">去看看</a>
                                        <!--${
                                        	$floats = explode('.',$oneev56['team_price']);
                                        }-->    
										<span class="nprice"><em>&yen;</em>${trim($floats[0])}</span><span class="nprice" style="font-size:28px; margin-left: 0px;">.{$floats[1]}元</span>
				</div>
				</dd>
				<dd class="btmbar">
					<div class="bar">
			<div style="float:left">商品评分：</div>
            <div class="pl_star" title="<?php echo $pinfen = rand(40,50)/10 ?>分">
            <span style="width:<?php echo $pinfens = $pinfen/5*100 ?>%">&nbsp;</span>
            </div>
            {$pinfen}分&nbsp;
            <a href="/team/comments.php" target="_blank">
            <!--<span style="color: rgb(51, 102, 204); text-decoration: none;"> </span>-->
            评论(<?php echo rand(80,200) ?>)
            
            </a>
			</div>
									</dd>
				<dd class="shadow"></dd>
				</dl>													
	<!-- {/loop} -->
    		    <div class="clear"></div>
		</div>
	</div>
</div>
<!--{include block_block_service}-->
<div class="ft">Copyright &copy; 优品会. All Rights Reserved.<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F29e85ae5874018d870fc25260b2f82c9' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script> <script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-9515342-4"); pageTracker._trackPageview(); } catch(err) {}</script>
</body>
</html>