<!DOCTYPE html>
<html lang="zn-cn">
	<head>
		<meta charset="utf-8">		
		<!--{if !$pagetitle||$request_uri=='index'}-->
		<title>{$INI['system']['sitename']} - {$INI['system']['sitetitle']}|{$city['name']}购物|{$city['name']}团购|{$city['name']}打折</title>
	<!--{else}-->
		<title>{$pagetitle} | {$INI['system']['sitename']} - {$INI['system']['sitetitle']} |{$city['name']}购物|{$city['name']}团购|{$city['name']}打折{$INI['system']['subtitle']}</title>
	<!--{/if}-->
		<meta name="description" content="{$INI['system']['sitetitle']}|{$city['name']}购物|{$city['name']}团购|{$city['name']}打折" />
		<meta name="keywords" content="{$INI['system']['sitename']}, {$city['name']}, {$city['name']}{$INI['system']['sitename']}，{$city['name']}购物，{$city['name']}团购，{$city['name']}打折，团购，打折，精品消费，购物指南，消费指南" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">	
		<link rel="shortcut icon" href="../favicon.ico" />		
		<link rel="stylesheet" media="screen"  href="../static/theme/wap_default/css/style_mobile.css" />
	</head>
	<body>
		<a name="top" id="top"></a>	