<!--{include header}-->
<div style="text-align:center;margin:auto;background:url('{$INI['system']['cdnprefix']}/static/img/bag_0711/bg1.png') #dce5ec repeat-x;">
<div style="margin:0px auto;width:960px;">
<a name="tops" id="tops"></a>
<table id="__01" width="960" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td>
			<img id="x672ax6807x9898_1_01" src="{$INI['system']['cdnprefix']}/static/img/bag_0711/images/top.jpg" width="960" height="430" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="x672ax6807x9898_1_02" src="{$INI['system']['cdnprefix']}/static/img/bag_0711/images/inset01.jpg" width="960" height="396" alt="" usemap="#map01"/></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/bag_0711/images/inset02.jpg" alt="" width="960" height="364" border="0" usemap="#map02" id="x672ax6807x9898_1_03"/></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/bag_0711/images/inset03.jpg" alt="" width="960" height="365" border="0" usemap="#map03" id="x672ax6807x9898_1_04"/></td>
	</tr>
	<tr>
		<td>
			<img src="{$INI['system']['cdnprefix']}/static/img/bag_0711/images/bottom.jpg" alt="" width="960" height="72" border="0" usemap="#map04" id="x672ax6807x9898_1_05"/></td>
	</tr>
</table>
<map name="map01">
  <area shape="rect" coords="20,50,319,380" href="/team/46157.html?f=zc_bag" target="_blank" />
  <area shape="rect" coords="327,51,628,379" href="/team/47069.html?f=zc_bag" target="_blank"/>
  <area shape="rect" coords="637,52,940,380" href="/team/46820.html?f=zc_bagl" target="_blank"/>
</map>

</div>
</div>


<map name="map02" id="map02">
  <area shape="rect" coords="19,12,320,345" href="/team/46025.html?f=zc_bag" target="_blank" />
  <area shape="rect" coords="328,13,630,345" href="/team/47010.html?f=zc_bag" target="_blank" />
  <area shape="rect" coords="639,14,939,345" href="/team/46144.html?f=zc_bag" target="_blank" />
</map>

<map name="map03" id="map03">
  <area shape="rect" coords="20,17,318,346" href="/team/46142.html?f=zc_bag" target="_blank" />
  <area shape="rect" coords="328,16,629,346" href="/team/46793.html?f=zc_bag" target="_blank" />
  <area shape="rect" coords="639,17,939,345" href="/team/46011.html?f=zc_bag" target="_blank" />
</map>

<map name="map04" id="map04">
  <area shape="rect" coords="315,14,470,51" href="" />
  <area shape="rect" coords="491,15,645,51" href="#tops" />
</map>
<!--{include footer}-->