<style type="text/css">
        <!--
        #biggest_content {
                background-color: #EADBB4;
        }
        .xuan{
                top:0px;
        }
        a:link {
                text-decoration: none;
        }
        a:visited {
                text-decoration: none;
        }
        a:hover {
                text-decoration: none;
        }
        a:active {
                text-decoration: none;
        }
</style>
<div id="biggest_content">

        <div  class="xuan" style="text-align: center;"><span class="xuan" style="text-align: center;"><img src="{$INI['system']['cdnprefix']}/static/img/daoxiangcun/yi.jpg" width="1440" height="510" /></span></div>
        <div  class="xuan" style="text-align: center;"><span class="xuan" style="text-align: center;"><img src="{$INI['system']['cdnprefix']}/static/img/daoxiangcun/zhutui.jpg" width="957" height="347" border="0" usemap="#Map" />
                        <map name="Map" id="Map"><area shape="rect" coords="54,33,917,318" href="/team/102933.html" target="_blank" alt="" />
                        </map></span></div>
        <div  class="xuan" style="text-align: center;">
                <span class="xuan" style="text-align: center;">
                        <img src="{$INI['system']['cdnprefix']}/static/img/daoxiangcun/zhuti_01.png" width="1049" height="409" border="0" usemap="#Map2" />
                </span>
                <map name="Map2" id="Map2"><area shape="rect" coords="411,24,673,391" href="/team/102940.html" target="_blank" alt="" />
                        <area shape="rect" coords="727,16,953,386" href="/team/102939.html" target="_blank" alt="" />
</map></div>
        <div  class="xuan" style="text-align: center;">
                <span class="xuan" style="text-align: center;">
                        <img src="{$INI['system']['cdnprefix']}/static/img/daoxiangcun/zhuti_02.png" width="1049" height="306" border="0" usemap="#Map2" />
                </span>
  </div>
        <div  class="xuan" style="text-align: center;">
                <span class="xuan" style="text-align: center;">
                        <img src="{$INI['system']['cdnprefix']}/static/img/daoxiangcun/zhuti_03.png" width="1049" height="276" border="0" usemap="#Map2" />
                </span>
        </div>
        <div  class="xuan" style="text-align: center;">
                <span class="xuan" style="text-align: center;">
                        <img src="{$INI['system']['cdnprefix']}/static/img/daoxiangcun/zhuti_04.png" width="1049" height="418" border="0" usemap="#Map3" />
                </span>
                <map name="Map3" id="Map3"><area shape="rect" coords="320,76,534,317" href="/team/102941.html" target="_blank" alt="" />
                        <area shape="rect" coords="548,76,760,315" href="/team/102942.html" target="_blank" alt="" />
                        <area shape="rect" coords="770,76,980,318" href="/team/102943.html" target="_blank" alt="" />
                </map>
        </div>
</div>