<!--{include header}-->
<div style="position:absolute;left:25px;top:2px;width:46px;height:33px;z-index:1;"><a name="one"></a></div>
<table id="__01" width="1380" height="1908" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_01.jpg" width="1380" height="560" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_02.png" alt="" width="1380" height="151" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_03.png" width="201" height="1197" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_04.png" alt="" width="332" height="236" border="0" usemap="#Map2"></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_05.png" alt="" width="312" height="236" border="0" usemap="#Map3"></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_06.png" alt="" width="324" height="236" border="0" usemap="#Map4"></td>
		<td rowspan="6">
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_07.png" width="211" height="1197" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_08.png" alt="" width="332" height="280" border="0" usemap="#Map5"></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_09.png" alt="" width="312" height="280" border="0" usemap="#Map6"></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_10.png" alt="" width="324" height="280" border="0" usemap="#Map7"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_11.png" alt="" width="332" height="290" border="0" usemap="#Map8"></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_12.png" alt="" width="312" height="290" border="0" usemap="#Map9"></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_13.png" alt="" width="324" height="290" border="0" usemap="#Map10"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_14.png" alt="" width="332" height="235" border="0" usemap="#Map11"></td>
		<td colspan="2" rowspan="2">
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_15.png" alt="" width="636" height="339" border="0" usemap="#Map12"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_16.png" width="332" height="104" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="http://static.aipintuan.com/static/img/zc_dj/images/zc_dj_17.png" alt="" width="968" height="52" border="0" usemap="#Map13"></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="1070,18,1161,43" href="/search.php?s=%E5%91%B5%E5%91%B5%E5%98%BF" target="_blank" alt="">
</map>
<map name="Map2"><area shape="rect" coords="11,2,326,231" href="/team/99005.html" target="_blank" alt="">
</map>
<map name="Map3"><area shape="rect" coords="3,3,304,228" href="/team/99004.html" target="_blank" alt="">
</map>
<map name="Map4"><area shape="rect" coords="2,2,309,231" href="/team/98999.html" target="_blank" alt="">
</map>
<map name="Map5"><area shape="rect" coords="16,49,323,276" href="/team/99014.html" target="_blank" alt="">
</map>
<map name="Map6"><area shape="rect" coords="4,54,304,275" href="/team/99002.html" target="_blank" alt="">
</map>
<map name="Map7"><area shape="rect" coords="6,49,308,277" href="/team/99019.html" target="_blank" alt="">
</map>
<map name="Map8"><area shape="rect" coords="14,54,322,281" href="/team/99003.html" target="_blank" alt="">
</map>
<map name="Map9"><area shape="rect" coords="4,60,305,283" href="/team/98996.html" target="_blank" alt="">
</map>
<map name="Map10"><area shape="rect" coords="1,55,309,284" href="/team/99021.html" target="_blank" alt="">
</map>
<map name="Map11"><area shape="rect" coords="15,8,322,234" href="/team/99022.html" target="_blank" alt="">
</map>
<map name="Map12"><area shape="rect" coords="7,7,614,335" href="/team/99014.html" target="_blank" alt="">
</map>
<map name="Map13"><area shape="rect" coords="304,10,454,38" href="" target="_blank" alt="优品会首页">
<area shape="rect" coords="481,8,616,38" href="#one" target="_parent" alt="顶部">
</map>
<!--{include footer}-->
