<!--{include header}-->
<!-- ImageReady Slices (fsxp.psd) -->
<table id="__01" width="1425" height="2721" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_01.gif" width="603" height="415" alt=""></td>
		<td colspan="4">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_02.gif" width="822" height="415" alt=""></td>
	</tr>
	<tr>
		<td rowspan="7">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_03.gif" width="215" height="2305" alt=""></td>
		<td colspan="4">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_04.gif" alt="" width="964" height="152" border="0" usemap="#Map8"></td>
<td rowspan="7">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_05.gif" width="246" height="2305" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="/team/9834.html" target="_blank"><img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_06.gif" alt="" width="618" height="496" border="0" usemap="#Map"></a></td>
<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_07.gif" alt="" width="346" height="496" border="0" usemap="#Map2"></td>
  </tr>
	<tr>
		<td colspan="4">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_08.gif" alt="" width="964" height="349" border="0" usemap="#Map3"></td>
  </tr>
	<tr>
		<td colspan="2">
			<a href="/team/9726.html" target="_blank"><img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_09.gif" alt="" width="561" height="485" border="0" usemap="#Map4"></a></td>
<td colspan="2">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_10.gif" alt="" width="403" height="485" border="0" usemap="#Map5"></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_11.gif" alt="" width="964" height="424" border="0" usemap="#Map6"></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_12.png" alt="" width="964" height="386" border="0" usemap="#Map7"></td>
  </tr>
	<tr>
		<td colspan="4">
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/fsxp_13.gif" width="964" height="13" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/·Ö¸ô·û.gif" width="215" height="1" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/·Ö¸ô·û.gif" width="388" height="1" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/·Ö¸ô·û.gif" width="173" height="1" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/·Ö¸ô·û.gif" width="57" height="1" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/·Ö¸ô·û.gif" width="346" height="1" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/zc/fsxp/images/·Ö¸ô·û.gif" width="246" height="1" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="9,3,984,466" href="/team/9834.html" target="_blank" alt="">
<area shape="rect" coords="616,247,766,272" href="#"><area shape="rect" coords="616,247,697,253" href="#">
</map>
<map name="Map2"><area shape="rect" coords="3,8,354,493" href="/team/9834.html" target="_blank" alt="">
</map>
<map name="Map3"><area shape="rect" coords="3,4,963,346" href="/team/9733.html" target="_blank" alt="">
</map>
<map name="Map4"><area shape="rect" coords="3,4,560,484" href="/team/9726.html" target="_blank" alt="">
</map>
<map name="Map5"><area shape="rect" coords="4,7,400,483" href="/team/9726.html" target="_blank" alt="">
</map>
<map name="Map6"><area shape="rect" coords="3,3,958,423" href="/team/9739.html" target="_blank" alt="">
</map>
<map name="Map7"><area shape="rect" coords="5,4,962,386" href="/team/9725.html" target="_blank" alt="">
</map>
<map name="Map8"><area shape="rect" coords="34,113,127,142" href="/account/signup.php" target="_blank" alt="">
</map>
<!--{include footer}-->