<!--{include header}-->
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:209px;
	top:0px;
	width:58px;
	height:37px;
	z-index:1;
}
-->
</style>

<div id="Layer1"><a name="one"></a></div>
<table id="__01" width="1423" height="1800" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan="7">
			<img  src="http://static.aipintuan.com/static/img/zc_liren/images/1_01.png" width="210" height="1800" alt=""></td>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_02.png" width="999" height="350" alt=""></td>
		<td rowspan="7">
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_03.png" width="214" height="1800" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_04.png" width="999" height="66" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_05.png" alt="" width="999" height="318" border="0" usemap="#Map"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_06.png" alt="" width="999" height="328" border="0" usemap="#Map2"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_07.png" alt="" width="999" height="356" border="0" usemap="#Map3"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_08.png" alt="" width="999" height="326" border="0" usemap="#Map4"></td>
	</tr>
	<tr>
		<td>
			<img src="http://static.aipintuan.com/static/img/zc_liren/images/1_09.png" alt="" width="999" height="56" border="0" usemap="#Map5"></td>
	</tr>
</table>
<!-- End ImageReady Slices -->

<map name="Map"><area shape="rect" coords="48,32,310,298" href="/team/98358.html " target="_blank" alt="">
<area shape="rect" coords="521,196,525,200" href="#"><area shape="rect" coords="348,34,624,299" href="/team/98368.html " target="_blank" alt="">
<area shape="rect" coords="666,36,938,300" href="/team/98367.html " target="_blank" alt="">
</map>
<map name="Map2"><area shape="rect" coords="60,51,309,307" href="/team/98366.html " target="_blank">
<area shape="rect" coords="375,51,628,306" href="/team/98363.html " target="_blank" alt="">
<area shape="rect" coords="678,47,937,308" href="/team/98364.html" target="_blank" alt="">
</map>
<map name="Map3"><area shape="rect" coords="60,46,310,308" href="/team/98365.html" target="_blank" alt="">
<area shape="rect" coords="373,47,625,307" href="/team/98360.html " target="_blank" alt="">
<area shape="rect" coords="685,53,934,306" href="/team/98361.html " target="_blank" alt="">
</map>
<map name="Map4"><area shape="rect" coords="41,39,304,300" href="/team/98362.html " target="_blank" alt="">
<area shape="rect" coords="364,45,618,302" href="/team/98359.html " target="_blank" alt="">
</map>
<map name="Map5"><area shape="rect" coords="302,8,452,39" href="/" target="_blank" alt="·µ»ØÊ×Ò³">
<area shape="rect" coords="478,13,615,39" href="#one" target="_parent" alt="">
</map>
<!--{include footer}-->
