<!--{include header}-->
<table border="0" align="center" bgcolor="#FFFFFF"width="990" >
  <tr>
    <td><img src="/static/img/zc_ski/i/zhengban.jpg" width="990" height="450" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/a.gif" width="990" height="350" border="0" usemap="#Map2" />
      <map name="Map2" id="Map2">
        <area shape="rect" coords="21,14,332,260" href="/team/100970.html" target="_blank" alt="【延庆县】仅298元!享原价800元的八达岭滑雪场周末滑雪客房+早餐+滑雪票,含:滑雪场门票+周末不限时滑雪+早餐+雪鞋+雪板+雪仗+拖牵雪毯!德胜门919路直达八达岭滑雪场!本单限周末使用!邀上亲朋好友一起畅玩!" /><area shape="rect" coords="224,300,318,331" href="/team/100970.html" target="_blank" alt="【延庆县】仅298元!享原价800元的八达岭滑雪场周末滑雪客房+早餐+滑雪票,含:滑雪场门票+周末不限时滑雪+早餐+雪鞋+雪板+雪仗+拖牵雪毯!德胜门919路直达八达岭滑雪场!本单限周末使用!邀上亲朋好友一起畅玩!" />
      <area shape="rect" coords="346,16,647,259" href="/team/100966.html" target="_blank" alt="【延庆县】仅378元!享原价880元的八达岭滑雪场节假日滑雪客房+早餐+滑雪票,含:滑雪场门票+节假日不限时滑雪+早餐+雪鞋+雪板+雪仗+拖牵雪毯!德胜门919路直达八达岭滑雪场!限节假日(元旦/春节)使用!邀上亲朋好友一起畅玩!" />
      <area shape="rect" coords="539,298,638,332" href="/team/100966.html" target="_blank" alt="【延庆县】仅378元!享原价880元的八达岭滑雪场节假日滑雪客房+早餐+滑雪票,含:滑雪场门票+节假日不限时滑雪+早餐+雪鞋+雪板+雪仗+拖牵雪毯!德胜门919路直达八达岭滑雪场!限节假日(元旦/春节)使用!邀上亲朋好友一起畅玩!" />
      <area shape="rect" coords="664,17,965,262" href="/team/100964.html" target="_blank" alt="【延庆县】仅118元!享原330元的八达岭滑雪场周末滑雪和动物园套票,含:滑雪场门票+周末白天滑雪+动物园门票+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!德胜门919路直达八达岭滑雪场!在八达岭滑雪场,找寻专属于冬季的乐趣!" />
      <area shape="rect" coords="856,297,955,333" href="/team/100964.html" target="_blank" alt="【延庆县】仅118元!享原330元的八达岭滑雪场周末滑雪和动物园套票,含:滑雪场门票+周末白天滑雪+动物园门票+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!德胜门919路直达八达岭滑雪场!在八达岭滑雪场,找寻专属于冬季的乐趣!" />
      </map>
    </td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/b.gif" width="990" height="345" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/c.gif" width="990" height="338" border="0" usemap="#Map3" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/d.gif" width="990" height="337" border="0" usemap="#Map4" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/e.gif" width="990" height="338" border="0" usemap="#Map5" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/f.gif" width="990" height="341" border="0" usemap="#Map6" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/g.png" width="991" height="341" border="0" usemap="#Map7" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/h.gif" width="990" height="334" border="0" usemap="#Map8" /></td>
  </tr>
  <tr>
    <td><img src="/static/img/zc_ski/i/j.png" width="990" height="342" border="0" usemap="#Map9" /></td>
  </tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="24,3,333,252" href="/team/100959.html" target="_blank" alt="【延庆县】仅88元!享原价260元的八达岭滑雪场平日滑雪和动物园套票.含:滑雪场门票+平日白天滑雪+动物园门票+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!德胜门919路直达八达岭滑雪场!在八达岭滑雪场,找寻专属于冬季的乐趣!" />
<area shape="rect" coords="220,288,319,320" href="/team/100959.html" target="_blank" alt="【延庆县】仅88元!享原价260元的八达岭滑雪场平日滑雪和动物园套票.含:滑雪场门票+平日白天滑雪+动物园门票+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!德胜门919路直达八达岭滑雪场!在八达岭滑雪场,找寻专属于冬季的乐趣!" />
<area shape="rect" coords="344,6,648,253" href="/team/100956.html" target="_blank" alt="【延庆县】仅148元!享原360元的八达岭滑雪场节假日滑雪和动物园套票,含:滑雪场门票+节假日白天滑雪+动物园门票+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!德胜门919路直达八达岭滑雪场!在八达岭滑雪场,找寻专属于冬季的乐趣!" />
<area shape="rect" coords="539,285,638,320" href="/team/100956.html" target="_blank" alt="【延庆县】仅148元!享原360元的八达岭滑雪场节假日滑雪和动物园套票,含:滑雪场门票+节假日白天滑雪+动物园门票+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!德胜门919路直达八达岭滑雪场!在八达岭滑雪场,找寻专属于冬季的乐趣!" />
<area shape="rect" coords="659,3,966,250" href="/team/100929.html" target="_blank" alt="【延庆县】仅39元!享原价170元的八达岭滑雪场滑雪通票.含:滑雪场门票+不限时滑雪+雪鞋+雪板+雪仗+拖牵雪毯!不限时!德胜门919路直达八达岭滑雪场!冬季滑雪,尽在达八达岭滑雪场!" />
<area shape="rect" coords="854,285,956,323" href="/team/100929.html" target="_blank" alt="【延庆县】仅39元!享原价170元的八达岭滑雪场滑雪通票.含:滑雪场门票+不限时滑雪+雪鞋+雪板+雪仗+拖牵雪毯!不限时!德胜门919路直达八达岭滑雪场!冬季滑雪,尽在达八达岭滑雪场!" />
</map>
<map name="Map3" id="Map3"><area shape="rect" coords="10,0,330,249" href="/team/100927.html" target="_blank" alt="【延庆县】仅108元!享原价270元的八达岭滑雪场节假日全天不限时票.含:滑雪场门票+节假日全天不限时滑雪+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!冬季滑雪,尽在达八达岭滑雪场!" />
<area shape="rect" coords="223,283,320,317" href="/team/100927.html" target="_blank" alt="【延庆县】仅108元!享原价270元的八达岭滑雪场节假日全天不限时票.含:滑雪场门票+节假日全天不限时滑雪+雪鞋+雪板+雪仗+拖牵雪毯!全天不限时!冬季滑雪,尽在达八达岭滑雪场!" />
<area shape="rect" coords="340,1,647,246" href="/team/100044.html" target="_blank" alt="【昌平区】仅80元,乐享原价1100元雪世界滑雪场周末全天滑雪票1张,含门票.雪鞋.雪板(双板).雪杖及拖牵,不一样的滑雪世界,不一样的刺激与速度的体验,享受不一样的快乐!" />
<area shape="rect" coords="541,281,638,316" href="/team/100044.html" target="_blank" alt="【昌平区】仅80元,乐享原价1100元雪世界滑雪场周末全天滑雪票1张,含门票.雪鞋.雪板(双板).雪杖及拖牵,不一样的滑雪世界,不一样的刺激与速度的体验,享受不一样的快乐!" />
<area shape="rect" coords="662,3,963,247" href="/team/100042.html" target="_blank" alt="【昌平区】仅50元,乐享原价1100元雪世界滑雪场周一至周五畅玩滑雪票1张,含门票.雪鞋.雪板(双板),雪杖及拖牵,雪白的世界中,畅快体验雪的乐趣!" />
<area shape="rect" coords="857,282,958,314" href="/team/100042.html" target="_blank" alt="【昌平区】仅50元,乐享原价1100元雪世界滑雪场周一至周五畅玩滑雪票1张,含门票.雪鞋.雪板(双板),雪杖及拖牵,雪白的世界中,畅快体验雪的乐趣!" />
</map>
<map name="Map4" id="Map4"><area shape="rect" coords="4,3,331,250" href="/team/100040.html" target="_blank" alt="【海淀区】仅38元,乐享原价80元的狂飙乐园滑雪场夜场或者平日4小时滑雪票1张(2选1 ),含门票.公共责任险.雪鞋.雪板.雪杖及拖牵等,精彩的夜晚,感受刺激与速度的相结合,在这里,每一个夜晚都很刺激!" />
<area shape="rect" coords="224,284,321,318" href="/team/100040.html" target="_blank" alt="【海淀区】仅38元,乐享原价80元的狂飙乐园滑雪场夜场或者平日4小时滑雪票1张(2选1 ),含门票.公共责任险.雪鞋.雪板.雪杖及拖牵等,精彩的夜晚,感受刺激与速度的相结合,在这里,每一个夜晚都很刺激!" />
<area shape="rect" coords="341,3,647,250" href="/team/100038.html" target="_blank" alt="【海淀区】仅78元,乐享原价160元的狂飙乐园滑雪场周末全天滑雪门票1张:门票+公共责任险+雪鞋+雪板+雪杖+拖牵等,专业滑雪场地带给你最快乐的滑雪体验!" />
<area shape="rect" coords="542,286,637,318" href="/team/100038.html" target="_blank" alt="【海淀区】仅78元,乐享原价160元的狂飙乐园滑雪场周末全天滑雪门票1张:门票+公共责任险+雪鞋+雪板+雪杖+拖牵等,专业滑雪场地带给你最快乐的滑雪体验!" />
<area shape="rect" coords="659,2,965,252" href="/team/100034.html" target="_blank" alt="【海淀区】仅58元,乐享原价160元的狂飙乐园滑雪场周末4小时滑雪门票1张:门票+公共责任险+雪鞋+雪板+雪杖+拖牵等,冰雪世界中,快乐的身影怎么能缺少你靓丽的身影!" />
<area shape="rect" coords="857,282,956,317" href="/team/100034.html" target="_blank" alt="【海淀区】仅58元,乐享原价160元的狂飙乐园滑雪场周末4小时滑雪门票1张:门票+公共责任险+雪鞋+雪板+雪杖+拖牵等,冰雪世界中,快乐的身影怎么能缺少你靓丽的身影!" />
</map>
<map name="Map5" id="Map5"><area shape="rect" coords="4,3,330,250" href="/team/100033.html" target="_blank" alt="【海淀区】仅58元,乐享原价160元的狂飙乐园滑雪场平日全天畅玩门票1张:门票+公共责任险+雪鞋+雪板+雪杖+拖牵等,白色的世界中怎么能缺少了你快乐的身影!" />
<area shape="rect" coords="225,287,319,321" href="/team/100033.html" target="_blank" alt="【海淀区】仅58元,乐享原价160元的狂飙乐园滑雪场平日全天畅玩门票1张:门票+公共责任险+雪鞋+雪板+雪杖+拖牵等,白色的世界中怎么能缺少了你快乐的身影!" />
<area shape="rect" coords="344,5,649,250" href="/team/100030.html" target="_blank" alt="【海淀区】仅38元,乐享原价120元的狂飙乐园滑雪场平日4小时滑雪畅玩:门票+公共责任险+雪鞋+雪板+雪杖及拖牵等,冬季的最大的快乐,你怎么能错过!" />
<area shape="rect" coords="540,288,638,322" href="/team/100030.html" target="_blank" alt="【海淀区】仅38元,乐享原价120元的狂飙乐园滑雪场平日4小时滑雪畅玩:门票+公共责任险+雪鞋+雪板+雪杖及拖牵等,冬季的最大的快乐,你怎么能错过!" />
<area shape="rect" coords="661,6,963,252" href="/team/100646.html" target="_blank" alt="【河西区】仅88元!享原价120元的盘山国际滑雪场自驾票一张.顾客须提前一天持团购券致电兑换电子票.浪漫的冬季,让你在纯白的世界里感受到冬的美妙和雪的纯白!" />
<area shape="rect" coords="857,287,957,322" href="/team/100646.html" target="_blank" alt="【河西区】仅88元!享原价120元的盘山国际滑雪场自驾票一张.顾客须提前一天持团购券致电兑换电子票.浪漫的冬季,让你在纯白的世界里感受到冬的美妙和雪的纯白!" />
</map>
<map name="Map6" id="Map6"><area shape="rect" coords="20,9,331,256" href="/team/100645.html" target="_blank" alt="【河西区】仅68元!享原价120元的玉龙国际滑雪场自驾票一张.顾客须提前一天持团购券致电兑换电子票.浪漫的冬季,纯白的世界,尽情畅玩,无限精彩,尽在玉龙国际滑雪场!" />
<area shape="rect" coords="223,289,322,324" href="/team/100645.html" target="_blank" alt="【河西区】仅68元!享原价120元的玉龙国际滑雪场自驾票一张.顾客须提前一天持团购券致电兑换电子票.浪漫的冬季,纯白的世界,尽情畅玩,无限精彩,尽在玉龙国际滑雪场!" />
<area shape="rect" coords="342,9,646,254" href="/team/100638.html" target="_blank" alt="【河西区】仅98元!享原价148元的蓟县国际滑雪场自驾票一张.顾客须提前一天持团购券致电兑换电子票.浪漫的冬季,让你感受到别样的欢乐和纯白世界里的美妙!" />
<area shape="rect" coords="538,289,638,325" href="/team/100638.html" target="_blank" alt="【河西区】仅98元!享原价148元的蓟县国际滑雪场自驾票一张.顾客须提前一天持团购券致电兑换电子票.浪漫的冬季,让你感受到别样的欢乐和纯白世界里的美妙!" />
<area shape="rect" coords="662,10,967,251" href="/team/100643.html" target="_blank" alt="【河西区】仅168元!享原价240元的盘山国际滑雪场一日游.周六及周日参团且身高在1.2米以上游客即可享购.浪漫的冬季,让你在纯白的世界里感受到冬的美妙和雪的纯白!" />
<area shape="rect" coords="856,289,955,323" href="/team/100643.html" target="_blank" alt="【河西区】仅168元!享原价240元的盘山国际滑雪场一日游.周六及周日参团且身高在1.2米以上游客即可享购.浪漫的冬季,让你在纯白的世界里感受到冬的美妙和雪的纯白!" />
</map>
<map name="Map7" id="Map7"><area shape="rect" coords="23,17,328,254" href="/team/100644.html" target="_blank" alt="【河西区】仅148元!享原价230元的玉龙国际滑雪场一日游.周六及周日参团且身高在1.2米以上游客即可享购.浪漫的冬季,纯白的世界,尽情畅玩,无限精彩,尽在玉龙国际滑雪场!" />
<area shape="rect" coords="223,294,319,329" href="/team/100644.html" target="_blank" alt="【河西区】仅148元!享原价230元的玉龙国际滑雪场一日游.周六及周日参团且身高在1.2米以上游客即可享购.浪漫的冬季,纯白的世界,尽情畅玩,无限精彩,尽在玉龙国际滑雪场!" />
<area shape="rect" coords="342,15,644,258" href="/team/100628.html" target="_blank" alt="【河西区】仅188元!享原价240元的蓟县国际滑雪场一日游.周六及周日参团且身高在1.2米以上游客即可享购.浪漫的冬季,让你感受到别样的欢乐和纯白世界里的美妙!" />
<area shape="rect" coords="539,291,634,330" href="/team/100628.html" target="_blank" alt="【河西区】仅188元!享原价240元的蓟县国际滑雪场一日游.周六及周日参团且身高在1.2米以上游客即可享购.浪漫的冬季,让你感受到别样的欢乐和纯白世界里的美妙!" />
<area shape="rect" coords="661,16,961,258" href="/team/98879.html" target="_blank" alt="【河西区】仅698元,乐享原价998元冰城哈尔滨+亚布力滑雪4日游,游览亚洲第一高钢铁塔,参观东正教圣•索菲亚教堂,游玩哈尔滨极地馆,观驰名中外的哈尔滨雪雕博览会,更有东北虎园,冰雪大世界,俄罗斯民族风情小镇,亚布力滑雪旅游度假区,带你畅游冰城!" />
<area shape="rect" coords="855,296,951,328" href="/team/98879.html" target="_blank" alt="【河西区】仅698元,乐享原价998元冰城哈尔滨+亚布力滑雪4日游,游览亚洲第一高钢铁塔,参观东正教圣•索菲亚教堂,游玩哈尔滨极地馆,观驰名中外的哈尔滨雪雕博览会,更有东北虎园,冰雪大世界,俄罗斯民族风情小镇,亚布力滑雪旅游度假区,带你畅游冰城!" />
</map>
<map name="Map8" id="Map8"><area shape="rect" coords="15,7,329,247" href="/team/100479.html" target="_blank" alt="【长安区】仅158元,乐享原价480元翠华山滑雪场周内不限时单人套票,限周一至周五使用,放飞心情,感受冰雪世界,尽在翠华山滑雪场!" />
<area shape="rect" coords="224,287,319,320" href="/team/100479.html" target="_blank" alt="【长安区】仅158元,乐享原价480元翠华山滑雪场周内不限时单人套票,限周一至周五使用,放飞心情,感受冰雪世界,尽在翠华山滑雪场!" />
<area shape="rect" coords="344,6,645,250" href="/team/100481.html" target="_blank" alt="【长安区】仅238元,乐享原价480元翠华山滑雪场周末不限时单人套票,周一至周日全天不限时滑雪(法定节假日除外),放飞心情,感受冰雪世界,在冰雪世界中畅玩,一切快乐尽在翠华山滑雪场!" />
<area shape="rect" coords="539,285,637,320" href="/team/100481.html" target="_blank" alt="【长安区】仅238元,乐享原价480元翠华山滑雪场周末不限时单人套票,周一至周日全天不限时滑雪(法定节假日除外),放飞心情,感受冰雪世界,在冰雪世界中畅玩,一切快乐尽在翠华山滑雪场!" />
<area shape="rect" coords="26,341,332,584" href="/team/100559.html" target="_blank" alt="【沣峪】仅145元,乐享原价280元沣峪庄园滑雪场全天不限时单人套票:沣峪庄园门票+雪场保险+雪具(雪鞋、雪板、雪杖)+不限时滑雪+托牵.团购券节假日通用!" />
<area shape="rect" coords="217,505,313,538" href="/team/100559.html" target="_blank" alt="【沣峪】仅145元,乐享原价280元沣峪庄园滑雪场全天不限时单人套票:沣峪庄园门票+雪场保险+雪具(雪鞋、雪板、雪杖)+不限时滑雪+托牵.团购券节假日通用!" />
<area shape="rect" coords="659,7,965,248" href="/team/100579.html" target="_blank" alt="【白鹿原】仅168元!乐享原价190元白鹿原滑雪场周末不限时单人滑雪套餐:周一到周日全天不限时滑雪(法定节假日除外)!包含:雪场门票+雪场保险+雪具(雪鞋、雪板、雪杖)+滑雪+魔毯+拖牵." />
<area shape="rect" coords="858,285,955,320" href="/team/100579.html" target="_blank" alt="【白鹿原】仅168元!乐享原价190元白鹿原滑雪场周末不限时单人滑雪套餐:周一到周日全天不限时滑雪(法定节假日除外)!包含:雪场门票+雪场保险+雪具(雪鞋、雪板、雪杖)+滑雪+魔毯+拖牵." />
</map>

<map name="Map9" id="Map9"><area shape="rect" coords="25,13,329,257" href="/team/100559.html" target="_blank" alt="【沣峪】仅145元,乐享原价280元沣峪庄园滑雪场全天不限时单人套票:沣峪庄园门票+雪场保险+雪具(雪鞋、雪板、雪杖)+不限时滑雪+托牵.团购券节假日通用!" />
<area shape="rect" coords="222,293,322,328" href="/team/100559.html" target="_blank" alt="【沣峪】仅145元,乐享原价280元沣峪庄园滑雪场全天不限时单人套票:沣峪庄园门票+雪场保险+雪具(雪鞋、雪板、雪杖)+不限时滑雪+托牵.团购券节假日通用!" />
<area shape="rect" coords="345,16,643,256" href="/team/100570.html" target="_blank" alt="【白鹿原】仅138元!乐享原价158元白鹿原滑雪场单人滑雪套餐:周一到周五滑雪不限时/周六、周日滑雪3小时(2选1)!包含:雪场门票+雪场保险+雪具(雪鞋、雪板、雪杖)+滑雪+魔毯+拖牵." />
<area shape="rect" coords="544,295,638,325" href="/team/100570.html" target="_blank" alt="【白鹿原】仅138元!乐享原价158元白鹿原滑雪场单人滑雪套餐:周一到周五滑雪不限时/周六、周日滑雪3小时(2选1)!包含:雪场门票+雪场保险+雪具(雪鞋、雪板、雪杖)+滑雪+魔毯+拖牵." />
<area shape="rect" coords="840,272,898,329" href="#one" target="_parent" alt="返回顶部" />
</map></body>
</html>
