<!--{include header}-->
<div style="text-align:center;margin:auto;background:url('{$INI['system']['cdnprefix']}/static/img/zc_sp/i/bg.png') #a87850 repeat-x;">
<div style="margin:0px auto;width:1024px;">
<a name="tops" id="tops"></a>
<table id="__01" width="1024" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img id="sp_01" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_01.jpg" width="1024" height="271" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_02" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_020.jpg" width="1024" height="310" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_03" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_030.jpg" width="1024" height="241" alt="" name="sp_03" usemap="#sp_03Map"  /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_04" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_04.jpg" width="1024" height="244" alt="" usemap="#sp_04Map"  /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_05" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_05.jpg" width="1024" height="248" alt="" usemap="#sp_05Map" /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_06" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_06.jpg" width="1024" height="234" alt="" usemap="#sp_06Map"  /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_07" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_07.jpg" width="1024" height="244" alt="" usemap="#sp_07Map"  /></td>
	</tr>
	<tr>
		<td>
			<img id="sp_08" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_08.jpg" width="1024" height="253" alt="" usemap="#sp_08Map"/></td>
	</tr>
	<tr>
		<td>
			<img id="sp_09" src="{$INI['system']['cdnprefix']}/static/img/zc_sp/i/sp_09.jpg" width="1024" height="130" alt="" usemap="#sp_10Map"/></td>
	</tr>
</table>

</div>
</div>
<!--{include footer}-->
<map name="sp_03Map" id="sp_03Map">
  <area shape="rect" coords="179,5,406,237" href="/team/63345.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="414,7,636,236" href="/team/63529.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="644,7,863,233" href="/team/63546.html?f=zc_sp" target="_blank" />
</map>

<map name="sp_04Map" id="sp_04Map">
  <area shape="rect" coords="184,7,407,242" href="/team/62751.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="416,4,634,240" href="/team/63528.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="645,4,862,240" href="/team/63532.html?f=zc_sp target="_blank"" />
</map>

<map name="sp_05Map" id="sp_05Map">
  <area shape="rect" coords="184,8,405,241" href="/team/60572.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="416,8,637,240" href="/team/63766.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="645,8,863,242" href="/team/63683.html?f=zc_sp" target="_blank" />
</map>

<map name="sp_06Map" id="sp_06Map">
  <area shape="rect" coords="181,5,403,233" href="/team/63715.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="413,6,634,234" href="/team/63672.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="643,7,862,234" href="/team/63677.html?f=zc_sp" target="_blank" />
</map>

<map name="sp_07Map" id="sp_07Map">
  <area shape="rect" coords="180,8,402,237" href="/team/63236.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="413,5,631,238" href="/team/63730.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="643,5,865,236" href="/team/63769.html?f=zc_sp" target="_blank" />
</map>

<map name="sp_08Map" id="sp_08Map">
  <area shape="rect" coords="181,5,402,234" href="/team/62742.html?f=zc_sp" target="_blank" />
  <area shape="rect" coords="412,6,634,235" href="/team/63754.html?f=zc_sp" target="_blank" />
</map>

<map name="sp_10Map" id="sp_10Map">
  <area shape="rect" coords="389,56,520,92" href="" />
  <area shape="rect" coords="524,56,646,92" href="#tops" />
</map>
