<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:590px;">
    <h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">关闭</span>由于您是第三方帐号登录，为了给您更好的提供服务，请完善您的注册信息：</h3>
    <div class="dialog-email">
        <p class="mb5">邮箱地址：<input class="dialog-email-text" id="dialog-email-text-email" type="text"><span id="dialog-email-tip-email" class="errorTip" style="display: none"></span></p>
        <div class="mb10" style="font-size: 12px;color: #666;padding-left: 75px;">请输入真实有效邮箱以便于密码找回<span style="color: red">(推荐使用QQ邮箱注册)</span></div>
        <p class="mb10">设置密码：<input class="dialog-email-text" id="dialog-email-text-pwd1" type="password"><span id="dialog-email-tip-pwd1" class="errorTip" style="display: none"></span></p>
        <p class="mb10">确认密码：<input class="dialog-email-text" id="dialog-email-text-pwd2" type="password"><span id="dialog-email-tip-pwd2" class="errorTip" style="display: none"></span></p>
        <button id="dialog-email-submit" class="dialog-email-submit">提交</button>
        <!--<button class="dialog-email-submit dialog-email-disable"  type="button"><i></i>提交</button>-->
    </div>
</div>
<script>
        $('#dialog-email-submit').click(function() {
            var p1 = $('#dialog-email-text-pwd1').val();
            var p2 = $('#dialog-email-text-pwd2').val();
            var email = $('#dialog-email-text-email').val();
            $('#dialog-email-tip-email,#dialog-email-tip-pwd1,#dialog-email-tip-pwd2').hide();
            $(this).addClass('dialog-email-disable').html('<i></i>');
            var ob = this;
            $.getJSON('/ajax/validator.php?n=binding&p1=' + p1 + '&p2=' + p2 + '&v=' + email, function(res) {
                if(res.st == 'error'){
                    $('#dialog-email-tip-'+res.ac).show().text(res.m);
                }else{
                    X.boxClose();
                }
                $(ob).removeClass('dialog-email-disable').html('提交');
            })
        })
</script>