<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="google-site-verification" content="LGdg-27r0KVvf-bz-0W3b-46JyCN0sq9tJi50DrprBQ" />
        <meta property="qc:admins" content="315127622761101645166375" />
        <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1" />
        <!--{if $newSeo}-->
        <title>{$newSeo['title']}</title>
        <!--{elseif !$pagetitle||$request_uri=='index'}-->
        <title>{$INI['system']['sitename']} - {$INI['system']['sitetitle']}|{$city['name']}购物|{$city['name']}团购|{$city['name']}打折</title>
        <!--{else}-->
        <title>{$pagetitle} | {$INI['system']['sitename']} - {$INI['system']['sitetitle']} |{$city['name']}购物|{$city['name']}团购|{$city['name']}打折{$INI['system']['subtitle']}</title>
        <!--{/if}-->
        <!--{if $newSeo}-->
        <meta name="description" content="{$newSeo['description']}" />
        <!--{elseif $seo_description}-->
        <meta name="description" content="{$seo_description}" />
        <!--{elseif $team}-->
        <meta name="description" content="${mb_strimwidth(strip_tags($team['title'] .', '. $team['summary'] .', '. $team['systemreview']), 0, 320)}" />
        <!--{else}-->
        <meta name="description" content="团购,最有保障的团购网站-{$INI['system']['sitename']}。每天团购：餐厅、酒吧、KTV、SPA、美发店、瑜伽馆、电影、洗车、手机数码、家居日用、服装服饰等团购。电 话:400-696-0223" />
        <!--{/if}-->
        <!--{if $newSeo}-->
        <meta name="keywords" content="{$newSeo['keywords']}" />
        <!--{elseif $seo_keyword}-->
        <meta name="keywords" content="{$seo_keyword}，购物，团购，打折，拼团，优品会，优品会网，团购，打折，精品消费，购物指南，消费指南" />
        <!--{else}-->
        <meta name="keywords" content="{$INI['system']['sitename']}, 购物,团购,打折,拼团,优品会,优品会网,团购,打折,精品消费,购物指南,消费指南" />
        <!--{/if}-->
        <link href="{$INI['system']['wwwprefix']}/feed.php?ename={$city['ename']}" rel="alternate" title="订阅更新" type="application/rss+xml" />
        <link rel="shortcut icon" href="/ico/favicon.ico" />
        <link href="/static/flagshop/css/css.1_1.css" type="text/css"  rel="stylesheet" />
        <link href="/static/flagshop/css/index.1_1.css" type="text/css"  rel="stylesheet" />
        <link href="/static/flagshop/lunbo/css/global.1_1.css" type="text/css"  rel="stylesheet" />
        <link href="/static/flagshop/lunbo/css/global_flag.1_1.css" type="text/css"  rel="stylesheet" />
        <link rel="stylesheet" href="/static/theme/ev56_58/css/base.1_1.css" />
        <link rel="stylesheet" href="/static/v2/css/aipintuan.1_3.css" />
        <link href="/static/flagshop/css/base.1_4.css" type="text/css"  rel="stylesheet" />
        <link href="/static/flagshop/css/myshop.css" type="text/css"  rel="stylesheet" />
        
        <link rel="stylesheet" href='/static/flagshop/css/qianshujf_1.css' />
        <script src="/static/flagshop/lunbo/js/jquery-1.4.4.min.js"></script>
        <!--index轮播-->
        <script src="/static/flagshop/lunbo/js/slides.min.jquery.js"></script>
        <script src="/static/flagshop/lunbo/js/slides_flag.min.jquery.js"></script>
        <!--index轮播 end-->
        <!--内页轮播-->
        <script type="text/javascript" src='/static/flagshop/js/14B.js' ></script>
        <script type="text/javascript" src='/static/flagshop/js/15b.js' ></script>
        <script type="text/javascript">
            $(function() {
                var Cwidth = document.body.clientWidth;
                $("#focus ul li img").width(Cwidth);
                $("#focus ul li img").height((Cwidth * 600) / 1800);
                var Aheight = $("#focus ul li img").height();
                $("#focus").css("height", Aheight + 'px');

            });
           
        </script>   
        <!--内页轮播 end-->
        <script src="/static/flagshop/js/my.js"></script>
        <script type="text/javascript">
            if ($.browser.version != "6.0") {
                $(window).scroll(function() {
                    if ($(this).scrollTop() > 170) {
                        $("#c_left").css({position: 'fixed', top: '5px'});
                    } else {
                        if (($(document).height() - $(this).scrollTop()) <= ($(window).height() + $(".aysw-footer").innerHeight())) {
                            $("#c_left").css({position: 'absolute', top: ($(".aysw-footer").offset().top - $("#c_left").innerHeight() - $(".page-home").offset().top - 20) + 'px'});
                        } else {
                            $("#c_left").css({position: 'absolute', top: '175px'});
                        }
                    }
                });
            } 
        </script>

        <script>
            $(document).ready(function() {
                $(".menu li a").mouseenter(function() {
                    $(this).addClass("current");
                    $(".menu li a").not($(this)).removeClass("current");
                });
                $(".menu li a").mouseleave(function() {
                    $(this).removeClass("current");
                    $(".menu li a").each(function() {
                        if ($(this).attr("class"))
                        {
                            $(this).addClass("current");
                        }
                    });
                });
            });
        </script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35390127-1']);
            _gaq.push(['_setDomainName', '.aipintuan.com']);
            {
                $_GaPageView
            }
        </script>

        <script>
            $(function() {
                $('#slides_s').slides_s({
                    preload: true,
                    preloadImage: '/static/flagshop/lunbo/img/loading.gif',
                    play: 5000,
                    pause: 2500,
                    hoverPause: true
                });
            });
            $(function() {
                $('#slides_a').slides_a({
                    preload: true,
                    preloadImage: '/static/flagshop/lunbo/img/loading.gif',
                    play: 5000,
                    pause: 2500,
                    hoverPause: true
                });
            });
        </script>
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script src="/static/v2/js/nwmatcher-1.2.5.js"></script>
            <script src="/static/v2/js/selectivizr-1.0.2-min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="/static/v2/js/html5shiv.js"></script>
            <script src="/static/v2/js/pie-1.0.0.js"></script>
        <![endif]-->
    </head>
    <body class="${$request_uri=='index'?'bg-alt':'newbie'}">
        <div id="pagemasker"></div>
        <div id="dialog"></div>
