<script type="text/javascript">

var Speed_1 = 10; //速度(毫秒)
var Space_1 = 20; //每次移动(px)
var PageWidth_1 = 107 * 2; //翻页宽度
var interval_1 = 5000; //翻页间隔时间
var fill_1 = 0; //整体移位
var MoveLock_1 = false;
var MoveTimeObj_1;
var MoveWay_1="right";
var Comp_1 = 0;
var AutoPlayObj_1=null;
function GetObj(objName){
	if(document.getElementById){return eval('document.getElementById("'+objName+'")')}else{return eval('document.all.'+objName)}}
function AutoPlay_1(a){
	clearInterval(AutoPlayObj_1);AutoPlayObj_1=setInterval('ISL_GoDown_1('+a+');ISL_StopDown_1('+a+');',interval_1)}
function ISL_GoUp_1(a){
	if(MoveLock_1)return;clearInterval(AutoPlayObj_1);MoveLock_1=true;MoveWay_1="left";MoveTimeObj_1=setInterval('ISL_ScrUp_1('+a+');',Speed_1);}
function ISL_StopUp_1(a){
	if(MoveWay_1 == "right"){return};clearInterval(MoveTimeObj_1);
	if((GetObj('ISL_Cont_'+a).scrollLeft-fill_1)%PageWidth_1!=0){Comp_1=fill_1-(GetObj('ISL_Cont_'+a).scrollLeft%PageWidth_1);
	CompScr_1(a)}else{MoveLock_1=false}
    AutoPlay_1(a)}
function ISL_ScrUp_1(a){
	if(GetObj('ISL_Cont_'+a).scrollLeft<=0){GetObj('ISL_Cont_'+a).scrollLeft=GetObj('ISL_Cont_'+a).scrollLeft+GetObj('List1_'+a).offsetWidth}
    GetObj('ISL_Cont_'+a).scrollLeft-=Space_1}
function ISL_GoDown_1(a){
	clearInterval(MoveTimeObj_1);
	if(MoveLock_1)return;
	clearInterval(AutoPlayObj_1);
	MoveLock_1=true;MoveWay_1="right";
	ISL_ScrDown_1(a);
	MoveTimeObj_1=setInterval('ISL_ScrDown_1('+a+')',Speed_1)}
function ISL_StopDown_1(a){
	if(MoveWay_1 == "left"){return};
	clearInterval(MoveTimeObj_1);
	if(GetObj('ISL_Cont_'+a).scrollLeft%PageWidth_1-(fill_1>=0?fill_1:fill_1+1)!=0){Comp_1=PageWidth_1-GetObj('ISL_Cont_'+a).scrollLeft%PageWidth_1+fill_1;    
	  CompScr_1(a)}else{MoveLock_1=false}
      AutoPlay_1(a)}
function ISL_ScrDown_1(a){
	if(GetObj('ISL_Cont_'+a).scrollLeft>=GetObj('List1_'+a).scrollWidth){GetObj('ISL_Cont_'+a).scrollLeft=GetObj('ISL_Cont_'+a).scrollLeft-GetObj('List1_'+a).scrollWidth}
GetObj('ISL_Cont_'+a).scrollLeft+=Space_1}
function CompScr_1(a){
	if(Comp_1==0){MoveLock_1=false;return}
var num,TempSpeed=Speed_1,TempSpace=Space_1;
if(Math.abs(Comp_1)<PageWidth_1/2){TempSpace=Math.round(Math.abs(Comp_1/Space_1));
if(TempSpace<1){TempSpace=1}}
if(Comp_1<0){
	if(Comp_1<-TempSpace){
		Comp_1+=TempSpace;
		num=TempSpace
		}else{num=-Comp_1;Comp_1=0}
GetObj('ISL_Cont_'+a).scrollLeft-=num;setTimeout('CompScr_1('+a+')',TempSpeed)}else{if(Comp_1>TempSpace){Comp_1-=TempSpace;num=TempSpace}else{num=Comp_1;Comp_1=0}
GetObj('ISL_Cont_'+a).scrollLeft+=num;setTimeout('CompScr_1('+a+')',TempSpeed)}}
function picrun_ini(a){
	//alert(a);
GetObj("List2_"+a).innerHTML=GetObj("List1_"+a).innerHTML;
GetObj('ISL_Cont_'+a).scrollLeft=fill_1>=0?fill_1:GetObj('List1_'+a).scrollWidth-Math.abs(fill_1);
GetObj("ISL_Cont_"+a).onmouseover=function(){clearInterval(AutoPlayObj_1)}
GetObj("ISL_Cont_"+a).onmouseout=function(){AutoPlay_1(a)}
AutoPlay_1(a);
}
</script>
<script type="text/javascript">
        <!--
        picrun_ini('1');
		picrun_ini('2');
		picrun_ini('3');
		picrun_ini('4');
		picrun_ini('5');
        //-->
        </script>
<script type="text/javascript" >
//lh = line-height 即滚动高度
//speed = 滚动速度，数值越小，滚动越快
//delay = 多少时间后开始滚动，0为立即滚动，1000为1秒后开始滚动
//id = 滚动容器的id名称
function startmarquee(lh,speed,delay,id) {  
    var t;  
    var p = false;  
    var o = document.getElementById(id);  
    o.innerHTML += o.innerHTML + o.innerHTML + o.innerHTML;  
    o.onmouseover = function() {  
        p = true;  
    }  
    o.onmouseout = function() {  
        p = false;  
    }  
    o.scrollTop = 0;  
  
    function start() {  
        t = setInterval(scrolling,speed);  
        if(!p) o.scrollTop += 2;  
    }  
  
    function scrolling() {  
        if(o.scrollTop%lh != 0) {  
            o.scrollTop += 2;  
            if(o.scrollTop >= o.scrollHeight / 2) o.scrollTop = 0;  
        } else {  
            clearInterval(t);  
            setTimeout(start,delay);  
        }  
    }  
    setTimeout(start,delay);  
}  
</script>  
<script type="text/javascript">  
window.onload = function() {  
    setTimeout("startmarquee(300, 0, 3000, 'marquee')", 1000);  
}  
$(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll >= 280) {
        $('#backToTop').css('display', 'block');
    }
    if (scroll < 280) {
        $('#backToTop').css('display', 'none');
    }
});
//回到顶部
    $("#backToTop").click(function() {
        $('body,html').animate({
            scrollTop: 0
        }, 300);
        return false;
    });
</script> 
</body>
</html>
