<!--${
if($REAL_LINK_GLOBAL['isyougou']){
    $classon['mall'] = ' class="active"';
}else if($REAL_LINK_GLOBAL['gid'] == 97){
    $classon['lvyou'] = ' class="active"';
}else if($REAL_LINK_GLOBAL['gid'] == 75){
    $classon['fun'] = ' class="active"';
}else if($REAL_LINK_GLOBAL['gid'] == 74){
    $classon['eat'] = ' class="active"';
}else if($classon['flagship'] === true){
    $classon['flagship'] = ' class="active"';
}else if($classon['join'] === true){
	$classon['join'] = ' class="active"';
}else{
    $classon['index'] = ' class="first active"';
}
}-->
<nav id="mainNav">
    <div class="container">
        <ul class="inline-block fl" id="menuOfUl">
            <li{$classon['index']}><a href="/{$city['ename']}"><span>首页</span></a></li>
            <li{$classon['mall']}><a href="/mall"><span>精品网购</span></a></li>
            <li{$classon['eat']}><a href="/{$city['ename']}/cate/meishi"><span>餐饮美食</span></a></li>
            <li{$classon['fun']}><a href="/{$city['ename']}/cate/xiuxianyule"><span>休闲娱乐</span></a></li>
            <li{$classon['lvyou']}><a href="/{$city['ename']}/cate/lvyou"><span>旅游</span></a></li>
            <li{$classon['flagship']}><a href="/flagship"><span>旗舰店</span><span style="display: inline-block; height: 10px;  margin: 0px 0px; line-height: 0px; "><img src="/static/img/new.gif" style="margin-top: -12px;"/></span></a></li>
            <li{$classon['join']}><a href="/join/feedback.php"><span  style="margin-left: -16px; color: #F5FF00">分站加盟</span></a></li>
        </ul>
    </div>
</nav>

