<script charset="utf-8" type="text/javascript" src="http://map.soso.com/api/v2/main.js?libraries=convertor"></script>
<script type="text/javascript">
    var sosoMapLonglat = {long:{$longlat[1]}, lat:{$longlat[0]}}
    soso.maps.convertor.translate(new soso.maps.LatLng(sosoMapLonglat.lat, sosoMapLonglat.long), 3, function(res) {
        var center = new soso.maps.LatLng(res[0].lat, res[0].lng);
        var sosoMap = new soso.maps.Map(document.getElementById("sosomap"), {
            center: center,
            zoom: 13
        });
        new soso.maps.MapTypeControl({map: sosoMap});
        new soso.maps.NavigationControl({
            align: soso.maps.ALIGN.TOP_LEFT,
            style: soso.maps.NavigationControlStyle.SMALL,
            map: sosoMap
        });
        var sosoMapMarker = new soso.maps.Marker({
            position: center,
            map: sosoMap
        });
        sosoMap.setOptions({
            keyboardShortcuts: false,
            scrollwheel: false
        });
    })
</script>