<!--{if $team['delivery']=='express'}-->
<script src="/static/v2/js/v1/city.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#s1").change(function(){var values1=$(this).val();});
    X.selectCity.setupcity();
    //初始化地址
    <!--{if $userData['province']}-->
    document.getElementById("s1").value = "{$userData['province']}";X.selectCity.change(1);
    <!--{/if}-->
    <!--{if $userData['city']}-->
    document.getElementById("s2").value = "{$userData['city']}";X.selectCity.change(2);
    <!--{/if}-->
    <!--{if $userData['area']}-->
    document.getElementById("s3").value = "{$userData['area']}";
    <!--{/if}-->

    <!--{if $login_user['province']}-->
    document.getElementById("s1").value = "{$login_user['province']}";X.selectCity.change(1);
    <!--{/if}-->
    <!--{if $login_user['city']}-->
    document.getElementById("s2").value = "{$login_user['city']}";X.selectCity.change(2);
    <!--{/if}-->
    <!--{if $login_user['area']}-->
    document.getElementById("s3").value = "{$login_user['area']}";
    <!--{/if}-->
</script>
<!--{/if}-->
<script language="javascript">
    jQuery(function(){
        jQuery('form').submit(function(){
            if(X.cart.RichCartModel.itemsCount<=0){
                alert("商品数量不能为空!");
                return false;
            }
            //判断是否有订单
            var items = X.cart.RichCartModel.items;
		
            var $form = $(this);
            $('input[name^=quantity]',$form).remove();
            $('input[name^=str_attr]',$form).remove();
            $('input[name^=express_price]',$form).remove();
            $('input[name^=express_id]',$form).remove();
		
            for(var idx in items){
                var item = items[idx];
                if(!item.count) continue;
                $('<input type="hidden" name="quantity[]">').val(item.count).appendTo($form);
                $('<input type="hidden" name="str_attr[]">').val(item.str_attr).appendTo($form);
            }
            if(X.cart.RichCartModel.needExpress){
                $('<input type="hidden" name="express_id" value="34">').appendTo($form);
                $('<input type="hidden" name="express_price" value="8">').appendTo($form);
            }
        });

        X.cart.RichCartModel.onCalc = function(count,prodTotal,fare,total){
            jQuery('#tCount').html(count);
            jQuery('#tTotal').html("¥"+prodTotal);
            jQuery('#RichCart table tfoot tr td:first').html("商品总价:<span>¥"+prodTotal+"</span>　　配送费:<span>¥"+fare+"</span>");
            jQuery('#RichCart table tfoot tr td:last').html("<b>应付总额:</b><label>¥"+total+"</label>");
        }
        //初始化购物车
        X.cart.initRichCart({$initRichCart},{$team['farefree']});
	
        var str = "{$team['condbuy_class']}";         //属性分类
        var condbuy_classes = str.split("~#~");
    
	
	
        if(condbuy_classes.length==2){
            var condbuy1 = condbuy_classes[0].split('~$~');
            var condbuy2 = condbuy_classes[1].split('~$~');
            for(var idx in condbuy1){
                for(var idx2 in condbuy2){
                    X.cart.addItem({
                        id:"{$team['id']}",
                        title:"{$team['title']}",//标题
                        img:"{$team['image']}",//图片
                        url:"/team/{$team['id']}.html",
                        price:{$team['team_price']},//单价
                        str_attr:condbuy1[idx]+condbuy2[idx2],//商品规格
                        count:0//商品数量
                    });
                }
            }
        }else{
            var condbuy1 = condbuy_classes[0].split('~$~');
            for(var idx in condbuy1){
                X.cart.addItem({
                    id:"{$team['id']}",
                    title:"{$team['title']}",//标题
                    img:"{$team['image']}",//图片
                    url:"/team/{$team['id']}.html",
                    price:{$team['team_price']},//单价
                    str_attr:condbuy1[idx],//商品规格
                    count:0//商品数量
                });
            }
        }
	
        //初始化
        <!--{loop $userData['quantity'] $idx $item}-->
        X.cart.addItem({
            id:"{$team['id']}",
            title:"{$team['title']}",//标题
            img:"{$team['image']}",//图片
            url:"/team/{$team['id']}.html",
            price:{$team['team_price']},//单价
            str_attr:"{$userData['str_attr'][$idx]}",//商品规格
            count:{$item}//商品数量
        });
        <!--{/loop}-->
        $('#RichCart table tr:odd').addClass('even');
    });
</script>  
<!--{if !$login_user}-->
<script language="javascript">
    $(document).ready(function(){
        if($('#no-login-btn').length > 0){
            var ajaxFormConf = {
                beforeSubmit:  showRequest,
                success:       showResponse,
                url:'/ajax/login.php'
            }
            $("#orderFormJQ").ajaxForm(ajaxFormConf);
            /*$("#no-login-btn").click(function(){
                $("#orderFormJQ").ajaxSubmit(ajaxFormConf);
                return false; 
            });*/
            function showRequest(formData, jqForm, options) { 
                return true;
            }
            function showResponse(responseText, statusText, xhr, $form)  { 
                var datta = eval("("+responseText+")");
                X.boxShow(datta.data.data,true);
            }
        }
    })
</script>
<!--{/if}-->
<!--{if $isDEDay}-->
<script language="javascript">
$(function(){
    $('input[name="de_code"]').blur(function(e){
        var code = $(this).val();
        if(code){
            DE.displayMsg(true,'正在验证中..')
            $.ajax({
                url:"/api/check_de_code.php",
                dataType:'json',
                type:'POST',
                data:{code:code},
                success:function(d){
                    DE.displayMsg((d.c == 'PASS'),d.m);
                }
            })
        }
    })
    var DE = {};
    DE.displayMsg = function(status,str){
        var displayPanel = $('#de-code-msg');
        var _str;
        if(status){
            _str = '√ '+str;
            displayPanel.css({color:'green'}).show();
        }else{
            _str = '× '+str;
            displayPanel.css({color:'red'}).show();
        }
        displayPanel.text(_str);
    }
})
</script>
<!--{/if}-->