<script>
    $(function() {
        $('p.stars i').mouseenter(function() {
            var classNameStr = $(this).attr('class');
            var classNameArr = classNameStr.split('-');
            ChangeStarNum(classNameArr[1], this);
        });
        $('p.stars i').mouseleave(function() {
            var mval = $(this).parent('p').attr('mval');
            if (mval > 0) {
                ChangeStarNum(mval, this);
            } else {
                $(this).parent('p').removeClass().addClass('stars wrapper');
                $(this).parent('p').children('.msg').text('');
            }
        })
        $('p.stars i').click(function() {
            var classNameStr = $(this).attr('class');
            var classNameArr = classNameStr.split('-');
            $.mvals = classNameArr[1];
            $(this).parent('p').attr('mval', classNameArr[1]);
            var link = $(this).parent('p').children('a').attr('href');
            $.getJSON(link, function(data) {
                X.boxShow(data.data.data, true);
            })
        })
    });
    var msgList = {};
    msgList[1] = '很不满意';
    msgList[2] = '不满意';
    msgList[3] = '一般';
    msgList[4] = '满意';
    msgList[5] = '很满意';
    function ChangeStarNum(num, ev) {
        $(ev).parent('p').removeClass().addClass('stars wrapper star' + num);
        $(ev).parent('p').children('.msg').text(msgList[num]);
    }
</script>