<!--{include header}-->

<div class="wrap new-order">
    <div class="fl" style="width:700px">
        <div class="uleft c3" id="uleft_ev56">
            <ul class="wrapper">
                ${current_account('/user/points/index.php')}
            </ul>
        </div>
        <div class="uright" id="uright_ev56">
            <div class="utit">
                <ul class="wrapper">${current_points_index($selector)}</ul>
            </div>
            <div class="sect grow point">
                <section>
                    <header class="wrapper">
                        <h2>您当前的积分是 <strong>{$login_user['score']}</strong> 分</h2>
                        <p>即将推出积分换购等活动，敬请期待！</p>
                    </header>
                    <table class="grow-table point-table">
                        <tr>
                            <th class="th-1">时间</th>
                            <th class="th-2">详情</th>
                            <th class="th-3">积分</th>
                        </tr>
                        <!--{loop $create $index $one}-->
                        <?php
                            $msg = '';
                            if($one['action'] == login){
                                if($one['score'] == 1){
                                    $msg = '每日登录';
                                }elseif($one['score'] == 2){
                                    $msg = '连续1天登录加成';
                                }elseif($one['score'] == 3){
                                    $msg = '连续2天登录加成';
                                }
                            }else{
                                $msg = ZCredit::Explain($one);
                            }
                        ?>
                        <tr>
                            <td>${date('Y-m-d H:i:s',$one['time'])}</td>
                            <td>[{$msg}]<a target="_blank" href="/team/{$one['tid']}.html">{$one['name']}</a></td>
                            <td style="text-align: center"><strong>${intval($one['score'])}</strong></td>
                        </tr>
                        <!--{/loop}-->
                    </table>
                    <p class="mt10 mb10">记录日期从2013-06-12开始，此前的积分已保留但无明细信息。</p>
                </section>
            </div>
        </div>
    </div>
    <div class="new-order-right fr">
        <!--{include usercenter/block_userinfo}-->
        <article class="tips">
            <header>
                <p class="title">需要帮助</p>
            </header>
            <section>
                <div>
                    <p class="title">如何升级？</p>
                    <p class="mb10">会员等级体现了优品会会员不同的成长阶段，升级依靠成长值的积累，即累计购买金额。</p>
                    <p class="title">升级有什么好处？</p>
                    <p class="mb10">优品会为不同级别的VIP会员提供专属的尊享礼遇，即将开放，敬请期待。</p>
                    <p class="title">如何获得成长值？</p>
                    <p class="mb10">购买即可获得。成长值=累计购买金额，且退款时会扣除相应成长值，每日可获得的成长值上限为5000，个别特殊任务也可以获得成长值。</p>
                    <p class="title">如何获得积分</p>
                    <p class="mb10">通过短信/网站对消费过的订单进行评价，可获赠与每次现金消费金额相等的积分。</p>
                    <p class="title">成长值和积分有什么不同？</p>
                    <p class="mb10">成长值是优品会会员通过购物所获得的经验值，可换算会员等级。积分是通过评价等行为获得的财富值，可兑换奖品，用于消耗。</p>
                </div>
            </section>
        </article>
    </div>
    <div class="clear"></div>
</div>
<!--{include footer}-->
