<link href="/static/flagshop/css/6540/detail.css" type="text/css"  rel="stylesheet" />
<!--{include FlagshipStore/html_header}-->
<article id="topNav">
    <div class="container fs12">
        <ul class="inline-block fl">
            <li class="phone">
                <a href="http://m.aipintuan.com/">手机版</a>
            </li>
            <li class="mail">
                <a href="http://list.qq.com/cgi-bin/qf_invite?id=74f03b0e898ca209b68039cc929c35af4c7dbe6addbc9d8b">邮件订阅</a>
            </li>
        </ul>
        <ul class="inline-block fr">
            <!--{if $login_user}-->
            <li id="login-1" class="wrapper"><span class="fl">您好,${mb_substr($login_user['username'],0,15);}</span><i class="level-${Growth::GetLevelNumByUserId($login_user_id)}"></i></li>
            <li id="login-2">
                <a href="/order/index.php">[我的优品会]</a>
            </li>
            <li id="login-3">
                <a href="/account/logout.php">[退出]</a>
            </li>
            <!--{else}-->
            <li id="login-1">您好,欢迎您来到优品会</li>
            <li id="login-2">
                <a href="/account/login.php">登录</a>
            </li>
            <li id="login-3">
                <a href="/account/loginup.php">免费注册</a>
            </li>
            <!--{/if}-->
            <li class="addFavorite">
                <a href="#" title="{$INI['system']['sitename']}" rel="nofollow" onclick="jQuery.addFavorite('{$INI['system']['wwwprefix']}', '{$INI['system']['sitename']}'); return false;">收藏我们</a>
            </li>
            <li class="help pr">
                <a id="help" href="/help/helpbuy.php" target="_blank">帮助中心</a>
                <ul>
                    <li>
                        <a href="/help/helpbuy.php" target="_blank">如何团购</a>
                    </li>
                    <li>
                        <a href="/help/faqs.php" target="_blank">常见问题</a>
                    </li>
                    <li>
                        <a href="/feedback/suggest.php" target="_blank">意见反馈</a>
                    </li>
                    <li>
                        <a href="/feedback/seller.php" target="_blank">商务合作</a>
                    </li>
                </ul>
            </li>
            <li class="call">
                <a>{$INI['system']['kefutel']}</a>
            </li>
            <!--
            <li class="last weibo">
                <a href="http://weibo.com/u/2797879823" target="_blank">加关注</a>
            </li>
            -->
        </ul>
    </div>
</article>
<!--logo、导航部分-->
<div class="index_top" style=" height:auto; ">
    <div class="hdw hdw_6540 ">
        <div class="head">
            <div class="head_logo">
                <a href=""><div class="flag_aipin_logo" ><img src="/static/flagshop/img/logo_z.png"  width="220" height="70" /></div></a>
                <div class="flag_name" >
                    <!--优品会-->
                    <img src="/static/flagshop/img/6540/parter_logo1.png"  width="221" height="120" style="margin-top: 0px;"/>
                </div>
            </div>
        </div>
        <div class="hd1 hd1_6540">
            <div class="menu menu_6540">
                <ul>
                   <li> <a href="/" >首页</a></li>
                    <li><a href="/flagship/" target="_blank">旗舰店</a></li>
                    <li><a href="/mall" target="_blank">购物</a></li>
                    <li><a href="/join/feedback.php" target="_blank">分站加盟</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="menu2"></div>-->
</div>
<div class="flag_index_ad bak_6540" style="width:100%;">
    <div class="flag_index_ad_img" style="margin:0 auto; width:100%; height: auto;  display: block; " >
        <div class="wrapper">
            <div id="focus">
                <ul >
                    <li><img src="/static/flagshop/img/6540/lun1.jpg" /></li>
                    <li><img src="/static/flagshop/img/6540/lun2.jpg" /></li>
                </ul>
            </div><!--focus end-->
        </div>
    </div>
    <div class="main_mid">
        <img src="/static/flagshop/img/6540/mid.jpg" width="1200"/>
        <!--全部产品列表-->
        <div  class="flag_index_pro_list" >
            <ul>
                <!--{loop $allData $index $one}-->
                <li>
                    <div class="flag_pro_list_li">
                        <a href="/team/{$one['id']}.html?f=flagship_6540"  target="_blank"><img src="${team_image($one['image'],false,array(313,199))}" height="231" width="327" /></a>
                    </div>
                    <div class="left_price">
                        <div class="flag_pro_list_til" >
                            <a href="/team/{$one['id']}.html?f=flagship_6540" target="_blank"><p class="p_2" >{$one['product_sms']}</p></a>
                        </div>
                        <div class="flag_pro_list_pri" >
                           <span class="fuhao">$</span><span  class="s_1" >{$one['team_price']}</span>
                            <span class="s_3" >$<del>{$one['market_price']}</del></span>
                        </div>
                    </div>
                    <div class="right_qiang">
                        <a href="/team/{$one['id']}.html?f=flagship_6540" target="_blank">
                            <p class="p_2 p2img" >立即抢购</p>
                        </a>
                    </div>        
                </li>
                <!--{/loop}-->
            </ul>
        </div>
        <!--全部产品列表完-->
    </div>
    <div class='bottom'>©2013 优品会（www.aipintuan.com）版权所有|请使用IE6以上浏览本页面</div>
</div>  
<script type="text/javascript">
            //百分点
            window["_BFD"] = window["_BFD"] || {};
            _BFD.client_id = "Ctest_aipintuan";
            _BFD.script = document.createElement("script");
            _BFD.script.type = "text/javascript";
            _BFD.script.async = true;
            _BFD.script.charset = "utf-8";
            _BFD.script.src = (('https:' == document.location.protocol?'https://ssl-static1':'http://static1') + '.baifendian.com/service/aipintuan/aipintuan.js');
            document.getElementsByTagName("head")[0].appendChild(_BFD.script);
</script>
<!--{include FlagshipStore/html_footer}-->