<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
					<h2>编辑项目的库存信息</h2>
					<ul class="filter">${current_manageteam('editstock', $team['id'])}</ul>
				<!--{/if}-->
				</div>
                <div class="sect">
					<div class="wholetip clear"><h3>1、上传库存信息</h3></div>
					<form method="post" action="/manage/team/editstock.php?id={$team['id']}" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					<div class="field">
						<label>库存文件</label>
						<input type="file" size="30" name="upload_txt" class="f-input" style="width:300px;"/> <input type="submit" value="上传库存信息" name="commit" id="leader-submit" class="formbutton" style="margin-left:120px;"/>
						<span class="hint">文本文件，每行一个库存信息</span>
					</div>
					</form>

					<div class="wholetip clear"><h3>2、库存列表&nbsp;&nbsp;<a href="/manage/team/ajax.php?action=removeteamstock&id={$team['id']}" class="ajaxlink" ask="确定清空本项目的库存信息吗？">清空库存信息</a></h3></div>
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="50">ID</th><th width="250">项目编号</th><th width="250">款式</th><th width="60">颜色</th><th width="150">大小</th><th width="40" nowrap>价格</th><th width="40" nowrap>库存</th><th width="100">操作</th></tr>
					<!--{loop $stocks $index $one}-->
					<tr ${$index%2?'':'class="alt"'}>
						<td>{$one['id']}</td>
						<td>{$one['team_id']}</td>
						<td>{$one['style']}</td>
						<td>${$one['color']}</td>
						<td>{$one['size']}</td>
						<td>{$one['price']}</td>
						<td>${intval($one['quantity'])}</td>
						<td class="op"><a href="/manage/team/ajax.php?action=stockedit&id={$one['id']}" class="ajaxlink">编辑</a>｜<a href="/manage/team/ajax.php?action=stockremove&id={$one['id']}" class="ajaxlink" ask="确定删除此库存？">删除</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="4">{$pagestring}</tr>
                    </table>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
