.user_frame{width:470px; border:#cbcbcb 1px solid; float:left; position:relative;padding-bottom:47px; height:407px; background:#ffffff; overflow:hidden;}
h2.user_state{width:452px;display:inline-block;  height:30px; line-height:30px; clear:both;  background:#EC1865; position:relative;padding:0 0 0 18px; color:#ffffff;font-size:16px;}
h2.title{ width:452px; display:inline-block;  height:37px; clear:both;  background:url(/img/robot/l_15.jpg) repeat-x left bottom;padding:10px 0 0 18px; position:relative;}
h2.user_state a.del{ width:14px; height:13px; background:url(/img/robot/del.jpg) no-repeat; position:absolute; right:12px; top:10px;}
.user_info{ width:452px;overflow:hidden;clear:both;}
.user_info_l{ width:452px; height:360px; float:left; border-right:0; overflow:hidden;/*margin-top:53px;*/}
.f_item{ width:328px; float:left; overflow:hidden; height:51px; padding-left:142px;}
label.i_label{ width:112px; height:25px;font:12px/25px '宋体'; display:inline-block; float:left; text-align:right; margin-left:-115px;}
label.f_forgot_pwd{width:80px;padding-left:10px; }
label.f_forgot_pwd a{color:#777777;}
input.i_text,input.i_text_checkCode{ width:199px; height:22px; border:#a7a6ab 1px solid;padding-left:5px; line-height:22px;}
input.i_text_checkCode{ width:88px;}
a.checkcode-link{ width:48px; height:24px; color:#797979; text-align:center;line-height:24px;}
img.checkCodeImg{padding-left:5px;vertical-align: text-bottom; width: 68px; height:24px;}
input.i_text_error{border:#e60065 1px solid;}
label.i_correct{ width:30px; height:18px;background:url(/img/robot/l_09.jpg) no-repeat;padding:3px 15px; display:inline-block; vertical-align: top;}
.f_explain,.f_explain_code{padding-left: 20px; background:url(/img/robot/l_06.jpg) no-repeat left 5px;}
span.check_code{ display:inline-block;}
input.i_btn_ok{ width:87px; height:30px; background:url(/img/robot/l_07.jpg) no-repeat; overflow:hidden;  color:#ffffff; border:0; font:16px/30px '微软雅黑';  text-align:center; cursor:pointer;}
input.i_btn_disabled{width:87px; height:30px; overflow:hidden;  color:#ffffff; border:0; font:16px/30px '微软雅黑';  text-align:center; cursor:pointer;}
.pt12{padding-top:12px;}
.pt39{padding-top:39px;}
label.f_register{width:80px;padding-left:22px; }
h2.title1{padding-left:6px;width:465px; }
span.loginmsg { float: left; overflow: hidden; width: 253px; border:1px solid #EB1764;color:#EB1764;margin-left:28px;margin-bottom:10px;padding:5px 5px 5px 60px; }
span.check_code {display: inline-block;}
#loginMsg{padding-top:20px;}
a.i_findpsd{ color:#d2023c; text-decoration:underline;}