</div>
<script type="text/javascript">
	/*
	function keepMeAlive(imgName){
		myImg = document.getElementById(imgName);
		if(myImg) myImg.src = myImg.src.replace(/\?.*$/, '?' + Math.random());
	}
	*/
	//一分钟刷一次
	//window.setInterval("keepMeAlive('phpSessionImg');", 120*1000);
	//<img id="phpSessionImg" src="/hartbeat.gif?" width="1" height="1" />
	function keepMeAlive(mySpan) {
		$('#'+mySpan).load('/hartbeat.php?f='+Math.random());
	}
	
	$(document).ready(function(){
		keepMeAlive('showLoginTime');
	})
	
	window.setInterval("keepMeAlive('showLoginTime');", 60*1000);
</script>
</body>
</html>
