<!--{include manage_header_new}-->
<link href="/static/css/city.css" rel="stylesheet" type="text/css" />
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="leader">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team('team')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $team['id']}-->
					<h2>编辑项目</h2>
					<ul class="filter">${current_manageteam('edit', $team['id'])}</ul>
				<!--{else}-->
					<h2>新建项目</h2>
				<!--{/if}-->
				</div>
                <div class="sect">
				<form id="-user-form" method="post" action="" enctype="multipart/form-data" class="validator">
					<input type="hidden" name="id" value="{$team['id']}" />
					
					<dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
					
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">1、类别信息</dt>
						<dd class="field">
							<label>项目类型</label>
							<select name="team_type" class="f-input" style="width:160px;" onchange="X.team.changetype(this.options[this.options.selectedIndex].value);">${Utility::Option($option_teamtype, $team['team_type'])}</select>
						<select name="group_id" class="f-input" style="width:160px;">${Utility::Option($groups, $team['group_id'])}</select>
                        <select name="sub_id" id="sub_id" class="f-input" style="width:160px;">
                        <option value="0">选择细分类</option>
                        <!--${
                        	$first = 0;
                            $flagcates = 0;
                        }-->
                        <!--{loop $level_groupss $indexcate $cate}-->
                            <!--${
                            	if($cate['flag'] && $first == 0){
                                	$flagcates = 1;
                                    $first = 1;
                            }-->
                            <optgroup label="{$cate['cname']}">
                            <!--${
                            	continue;
                                } else if($cate['flag'] && $first){
                            }-->
                            </optgroup>
                            <optgroup label="{$cate['cname']}">
                            <!--${
                            	continue;
                            	} 
                           	}-->
                        	<option <?php if($team['sub_id']==$cate['id']){?> selected=""  <?php } ?> value="{$cate['id']}">{$cate['cname']}</option>
                            
                            
                        <!--{/loop}-->
                        </optgroup>
                        </select>
						</dd>
						<dd class="field">
							<label>负责人</label>
							<select name="user_id" datatype="require" require="require" class="f-input" style="width:200px;">
				                  <option value="" >--选择负责人--</option>
				                  <!--{loop $admins $index $one}-->
				                     <!--{if $one['id'] == $team['user_id']}-->
				                         <option value="{$one['id']}" selected>${ $one['realname'] . "(".$one['username'].")"}</option>
				                     <!--{else}-->
				                         <option value="{$one['id']}">${ $one['realname'] . "(".$one['username'].")"}</option>
				                     <!--{/if}-->    
				                  <!--{/loop}-->
				            </select><span class="inputtip">负责人为可选项</span>
						</dd>
                    	<dd class="field" style="background-color:#FC0;padding:5px; font-weight:bold;text-align:center;padding:0 10px" >百度API相关</dd>
                    	<dd class="baidu_show field">
	                        <label style="width:180px; padding-right:5px;">是否让百度收录此项目?</label>
	                        <!--{if $team['baidu_show'] == 'Y'}-->
	                        <input type="checkbox" class="city_checkbox" style="margin-top:8px; margin-left:10px;" name="baidu_show" value="Y" checked="checked"/>
	                        <!--{else}-->
	                        <input type="checkbox" class="city_checkbox" style="margin-top:8px;margin-left:10px;" name="baidu_show" value="Y"/>收录
	                        <!--{/if}-->
	                        <span style="width:630px;color: #989898; font-size:12px;">尽管选择了不让百度收录，也需要填写下面的表单，以便日后重新选择收录</span>
                        </dd>
                        <!--{if $team['baidu_category']}-->
                        <script type="text/javascript">
							$(document).ready(function(){
								var htmldata = $("#baidufun").html();
								$("#baidufun").remove();
								$("#reselected").click(function(){
									$("#baidufun2").remove();
									$("#baidufun3").append(htmldata);
								})
							})
						</script>
                        <dd id="baidufun3"></dd>
                        <dd id="baidufun2" class="baidu_category2 field">
	                        <label>百度分类</label> 
							<select disabled="disabled" class="f-input" style="width:160px;" name="baidu_category"  >
								<option value="{$team['baidu_category']}" selected="selected">{$BaiduCategoryList[$team['baidu_category']]}</option>
							</select>
							<select disabled="disabled"   class="f-input" style="width:160px;" name="baidu_subcategory" >
								<option value="{$team['baidu_subcategory']}" selected="selected">{$team['baidu_subcategory']}</option>
							</select>
							<select disabled="disabled"  class="f-input" name="baidu_thrcategory" style="width:160px;">
								<option value="{$team['baidu_thrcategory']}" selected="selected">
								<!--${
								if($team['baidu_thrcategory']){
								echo $team['baidu_thrcategory'];
								}else{
								echo '无';
								}
								}--></option>
							</select>
							<input type="button" id="reselected" value="点击重新选择类目" />
							<input type="hidden" name="ischanged" value="no" />
                         </dd>
                        <!--{/if}-->
                        <dd id="baidufun"  class="baidu_category field">
                        	<script type="text/javascript" src="/static/js/EditBaiduAPI.js"></script>
                        	<label>百度分类</label> 
                          	<select class="f-input" style="width:160px;" name="baidu_category" id='BaiduCategoryList' datatype="require" require="true"></select>
                          	<select class="f-input" style="width:160px;" name="baidu_subcategory" id='BaiduSubcategoryListExcYougou' datatype="require" require="true"></select>
                          	<select class="f-input" name="baidu_thrcategory" id='BaiduThrcategoryListYougou' style='width:160px; display:none'></select>
                          	<span id="loading" style="display:none">正在加载</span>
                          	<span class="hint" style="width:630px;">下拉菜单项都必须选择，第三项只有主类选择<span style="color:#F00">"网上购物"</span>才会出现，请大家认真选择，可参见公司的百度分类说明文档</span>
                        </dd>
                        <dd class="baidu_characteristic field">
                          	<label>餐饮特色</label>
                          	<select class="f-input" style="width:160px;" name="baidu_characteristic">
                          	<option selected="selected" value="">----餐饮特色(可选)---</option>
                          	<!--{loop $BaiduCharacteristic $index $one}-->
                          	<option value="{$one}"<!--{if $one == $team['baidu_characteristic']}-->selected="selected" <!--{/if}-->>{$one}</option>
                          	<!--{/loop}-->
                          	</select>
                          	<span class="hint" style="width:630px;">此项可选，只限上面大分类已选择<span style="color:#F00">"餐饮美食"</span>类后选择，<span style="color:#F00">为了提高曝光度，符合选项的餐饮美食类项目请尽量选择。非餐饮美食类请不要填写</span>可参见公司的百度分类说明文档</span> 
                        </dd>
                        <dd class="baidu_destination field">
                          	<label>旅游目的地</label>
                          	<input type="text" style="width:135px;" class="f-input" value="{$team['baidu_destination']}" name="baidu_destination" /><span class="hint" style="width:630px;">上面二级分类若选择"旅游"此项就<span style="color:#F00">必须填写</span>，非"旅游"类项目请不要填写。<span style="color:#F00">国内城市名称（如北京、上海、杭州等）、港澳（如香港、澳门、港澳）、境外（境外旅游，目的地填写"境外"）；不能填写景点名称（如：少林寺），不能填写全国。</span>可参见公司的百度分类说明文档</span> 
                        </dd>
                    </dl>
					<!-- 百度API相关 end -->
					<dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">2、商户信息</dt>
						<dd class="field">
							<label>商户</label>
							<select name="partner_id"  id="partner_select" datatype="require" require="require" class="f-input" style="width:200px;">${Utility::Option($partners, $team['partner_id'], '------ 请选择商户 ------')}</select>&nbsp;<input type="text" size="30" name="p_id" id="partner_id" class="partner" style="float: left;display:inline;width:200px;border-color: #89B4D6;border-style: solid;border-width: 1px;font-size: 14px;margin: 3px 15px 0 10px;padding: 5px 4px;" /><span class="inputtip">输入关键字查找,  商户为可选项<a href="javascript:openPartnerDialog()">新建商户</a></span>
							<script type="text/javascript">
							//打开一个添加商户的窗口，并处理返回结果
							function openPartnerDialog(){
								var rv = window.showModalDialog('/manage/partner/create.php?type=dialog',{},'dialogWidth=1000px;dialogHeight=700px');
								if (rv == undefined) {
									rv = window.returnValue;
									delete window.returnValue;
							    }
								if(!rv) return;
								//刷新商户列表
								$.get("?action=getPartners&lastId="+rv,function(result){
									$(result).appendTo($('#partner_select').empty());
									$('#partner_select').val(rv).change();
								});
							}
							</script>
						</dd>
					</dl>
					
					
					<!-- 特殊属性 -->
					<dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear inithide" style="background-color:#FC0;padding:5px; font-weight:bold">3、特殊属性（条件、数量限制、退款、代金卷、返利）</dt>
						<dd class="field" id="field_limit">
							<label>限制条件</label>
							<select name="conduser" class="f-input" style="width:160px;">${Utility::Option($option_cond, $team['conduser'])}</select>
							<select name="buyonce" class="f-input" style="width:160px;">${Utility::Option($option_buyonce, $team['buyonce'])}</select>
						</dd>
						<dd class="field">
							<label>最低数量</label>
							<input type="text" size="10" name="min_number" id="team-create-min-number" class="number" value="${intval($team['min_number'])}" maxLength="6" datatype="number" require="true" />
							<label>最高数量</label>
							<input type="text" size="10" name="max_number" id="team-create-max-number" class="number" value="${intval($team['max_number'])}" maxLength="6" datatype="number" require="true" />
							<label>每人限购</label>
							<input type="text" size="10" name="per_number" id="team-create-per-number" class="number" value="${intval($team['per_number'])}" maxLength="6" datatype="number" require="true" />
						        <label>最低购买</label>
							<input type="text" size="10" name="permin_number" id="team-create-per-min-number" class="number" value="${intval($team['permin_number'])}" maxLength="6" datatype="number" require="true" />
	                                          	<span class="hint">最低数量必须大于0，最高数量/每人限购：0 表示没最高上限 （产品数|人数 由成团条件决定）</span>
						</dd>
						<dd class="field">
							<label>允许退款</label>
							<input type="checkbox" class="allowrefund" name="allowrefund" value="Y" <!--{if $team['allowrefund']=='Y'}-->checked<!--{/if}-->/>&nbsp;是&nbsp;&nbsp;<span style="font-size:12px;color:#989898;">本项目允许用户发起 申请退款</span>						 
						</dd>
						<!--kxx 增加-->
						<dd class="field">
							<label style="color:red;">排序</label>
							<input type="text" size="10" name="sort_order" id="team-create-sort_order" class="number" value="${$team['sort_order'] ? $team['sort_order'] : 19}" datatype="number"/><span class="inputtip">请填写数字，数值大到小排序，主推团购应设置较大值</span>
						</dd>
						<dd class="field" id="field_card">
							<label>代金券使用</label>
							<input type="text" size="10" name="card" id="team-create-card" class="number" value="${moneyit($team['card'])}" require="true" datatype="money" />
							<span class="inputtip">可使用代金券最大面额</span>
						</dd>
						<dd class="field" id="field_card">
							<label>邀请返利</label>
							<input type="text" size="10" name="bonus" id="team-create-bonus" class="number" value="${moneyit($team['bonus'])}" require="true" datatype="money" />
							<span class="inputtip">邀请好友参与本单商品购买时的返利金额</span>
						</dd>
						
						<dd class="field">
							<label>递送方式</label>
							<div style="margin-top:5px;" id="express-zone-div">
								<input type="radio" name="delivery" class="delivery" value="coupon" ${$team['delivery']=='coupon'||$team['delivery']==''?'checked':''} />&nbsp;{$INI['system']['couponname']}&nbsp;
								<input type="radio" name="delivery" class="delivery" value='voucher' ${$team['delivery']=='voucher'?'checked':''} />&nbsp;商户券&nbsp;
								<input type="radio" name="delivery" class="delivery" value='express' ${$team['delivery']=='express'?'checked':''} />&nbsp;快递
							</div>
							<div id="express-zone-coupon" style="display:${$team['delivery']=='coupon'?'block':'none'};">
								<div class="field">
									<label>消费返利</label>
									<input type="text" size="10" name="credit" id="team-create-credit" class="number" value="${moneyit($team['credit'])}" datatype="money" require="true" />
									<span class="inputtip">消费{$INI['system']['couponname']}时，获得账户余额返利，单位CNY元</span>
								</div>
							</div>
							<div id="express-zone-pickup" style="display:${$team['delivery']=='pickup'?'block':'none'};">
								<div class="field">
									<label>联系电话</label>
									<input type="text" size="10" name="mobile" id="team-create-mobile" class="f-input" value="{$team['mobile']}" />
								</div>
								<div class="field">
									<label>自取地址</label>
									<input type="text" size="10" name="address" id="team-create-address" class="f-input" value="{$team['address']}" />
								</div>
							</div>
							<div id="express-zone-express" style="display:${$team['delivery']=='express'?'block':'none'};">
								<div class="field">
									<label>快递(<a href="/manage/category/index.php?zone=express" target="_blank">编辑</a>)</label>
									<table style="font-size:14px;width:400px;"><tbody>
										<tr>
											<td width="10%"></td>
											<td width="20%">名称</td>
											<td width=>价格<td>
										</tr>
									<!--{loop $express $index $one}-->
										<tr>
											<td><input type="checkbox" name="express_relate[]" value="{$one['id']}" {$one['checked']} class="express_relate"  datatype="require" require="true" /></td>
											<td>{$one['name']}</td>
											<td><input name="express_price_{$one['id']}" value="{$one['relate_data']}"></td>
										</tr>
									<!-- {/loop} -->
									</tbody></table>
								</div>
								<div class="field">
									<!-- <label>快递费用</label>
									<input type="text" size="10" name="fare" id="team-create-fare" class="number" value="${intval($team['fare'])}" maxLength="6" datatype="money" require="true" />
									 -->
									<label>免单数量</label>
									<input type="text" size="10" name="farefree" id="team-create-farefree" class="number" value="${intval($team['farefree'])}" maxLength="6" datatype="integer" require="true" />
									<span class="hint">免单数量：-1表示免运费, 0表示不免运费，1表示，购买1件免运费, 2表示，购买2件免运费 ,以此类推</span>
								</div>
								<div class="field">
									<label>配送说明</label>
									<div style="float:left;"><textarea cols="45" rows="5" name="express" id="team-create-express" class="f-textarea">{$team['express']}</textarea></div>
								</div>
							</div>
						</dd>
					</dl>
					<!-- 特殊属性end -->
					
					
					
					
					<dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">4、城市信息</dt>
						<dd class="field">
							<label>项目城市</label>
							<input type="hidden" name="city_id" value="{$team['city_id']}">
								<span style="width:80px;height:30px"><input type="checkbox" id="city_all" name="city_ids[]" value="0" <!--{if $team['city_id'] == 0}-->checked<!--{/if}-->/><label style="float:none;width:auto;height:auto;line-height:auto;padding:0;" for="city_all">全部</label></span>
								
							<div class="city-list">
								
								<!--{loop $allcities $letter $ones}-->
									<!-- {if $letter} -->
									<div class="city-list-item">
										<dl>
											<dt>{$letter}</dt>
											<dd>
												<!--{loop $ones $one}-->
													<span><input type="checkbox" class="city_checkbox" id="city_ids_{$one['id']}" name="city_ids[]" value="{$one['id']}" <!--{if $team['city_id'] == $one['id'] or preg_match("/@".$one['id']."@/i", $team['city_ids']) or $team['city_id']==0}-->checked<!--{/if}-->/><label style="float:none;width:auto;height:auto;line-height:auto;padding:0;" for="city_ids_{$one['id']}">{$one['name']}</label></span>
												<!--{/loop}-->
											</dd>
										</dl>
									</div>
									<!-- {/if} -->
								<!--{/loop}-->
								
								<script type="text/javascript">
									$(function() {
										$(".city-list-item").hover(function() {
											$(this).addClass("city-list-bg");
										}, function() {
											$(this).removeClass("city-list-bg");
										})
									});
								</script>
							</div>
						</dd>
					</dl>
					
					<dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">5、常规属性</dt>
						<dd class="field">
							<label>市场价</label>
							<input type="text" size="10" name="market_price" id="team-create-market-price" class="number" value="${moneyit($team['market_price'])}" datatype="money" require="true" />
							<label>网站价</label>
							<input type="text" size="10" name="team_price" id="team-create-team-price" class="number" value="${moneyit($team['team_price'])}" datatype="double" require="true" />
							<label>成本价</label>
							<input type="text" size="10" name="cost_price" id="team-create-cost-price" class="number" value="${moneyit($team['cost_price'])}" datatype="double" require="true" />
	                        <label>虚拟购买</label>
							<input type="text" size="10" name="pre_number" id="team-create-pre_number" class="number" value="${moneyit($team['pre_number'])}" datatype="number" require="true" />
							<script type="text/javascript">
								if($('#team-create-pre_number').val() < 10)
									$('#team-create-pre_number').val(Math.floor(Math.random()*20+10));
								$(function(){
									$('#team-create-team-price').change(function(){										
										var team_price = parseFloat($('#team-create-team-price').val()||0);
										$('#team-create-cost-price').val((team_price*0.97).toFixed(1));
									});
									
								});
								
								
								//设置结束日期为起始日期加指定天数
								function SetEndDate(objEnddate, days){
								   var dt = new Date(parseInt($dp.cal.getP('y')), parseInt($dp.cal.getP('M'))-1, parseInt($dp.cal.getP('d'))+days);
								   objEnddate.value = dt.format("yyyy-MM-dd");
								}
							</script>
						</dd>
						<dd class="field">
							<label>开始时间</label>
							<input type="text" size="10" name="begin_time" id="team-create-begin-time" class="date" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM-dd',onpicked:function(){SetEndDate($dp.$('team-create-end-time'), 7);/*第二个日期延后3天选择*/}})" value="${date('Y-m-d', $team['begin_time'])}" maxLength="10" />
							<label>结束时间</label>
							<input type="text" size="10" name="end_time" id="team-create-end-time" class="date" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM-dd',minDate:'#F{ $dp.$D(\'team-create-begin-time\')}',onpicked:function(){/**/}})" value="${date('Y-m-d', $team['end_time'])}" maxLength="10" />
							<label>{$INI['system']['couponname']}有效期</label>
							<input type="text" size="10" name="expire_time" id="team-create-expire-time" class="number" toid="span_expredate" value="${date('Y-m-d', $team['expire_time'])}" maxLength="10" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM-dd',onpicked:function(){onpicked_callback('team-create-expire-time');}})" />
							<span class="hint">时间格式：hh:ii:ss (例：14:05:58)，日期格式：YYYY-MM-DD （例：2010-06-10）</span>
						</dd>
					</dl>
					 
					<textarea style="display:none" id="summary" name="summary">
					${htmlspecialchars($team['summary'])}
					</textarea>
					<dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">6、商品信息</dt>
						
						
						<div id="tips_template" style="display:none"> 
							<ul class="deal-detail-t cf">
								<li class="col first">
									<h2>提示</h2>
									<ul>
										<li>本单优品会券有效期到2011年12月13号</li><li>至少提前1天预约,电话：15122151963</li><li>预约时间：9:00—18：00</li><li>本单无邀请返利，不提供发票</li>
									</ul>
								</li>
								<li class="col">
									<h2>亮点</h2>
									<ul class="highlight">
										<li>装修精美</li><li>豪华包厢</li><li>超低价格</li><li>尽情欢唱</li><li>交通便利</li><li>精彩飙麦</li>
									</ul>
								</li>
							</ul>
						</div>
						<script type="text/javascript">
							if(!$.trim($('#summary').val())){
								$('#summary').text($('#tips_template').html().replace(/\t/g,""));
							}
							
							KindEditor.ready(function(K) {
								//为产品详细和商家介绍连个字段绑定内容
								var details = $('#detail_hidden').val().split("<!--华丽的产品详细分割线-->");
								if(details && details.length ==3){
									if(details[0]) KindEditor.instancesMap['team-create-notice'].html(details[0]);
									if(details[1]) KindEditor.instancesMap['team-create-detail'].html(details[1]);
									if(details[2]) KindEditor.instancesMap['team-buss_intro'].html(details[2]);
									
									var detail = $("<div>"+details[1]+"</div>");
									var checks = detail.find("#supportList img");
									checks.each(function(){
										var $this = $(this);
										$('#'+$this.attr('id')).attr("checked","checked");
									});
									
								}else{
									//初始化详情
									var defaultItems = ["drc_1","src_1","tv_1","rsxy_1"];
									for(var idx in defaultItems){
										KindEditor.instancesMap['team-create-detail'].html('<p style="background-color:#FF8A00;color:#FF8A00;" align="center"><span style="font-weight:bold;"><span style="color:#ffffff;background-color:#ff8a00;"><span style="font-family:Microsoft YaHei;font-size:medium;">【项目介绍】</span></span></span></p>');
										var item = defaultItems[idx];
										$(':checkbox[value='+item+']').attr("checked","checked").change();
									}
									
									KindEditor.instancesMap['team-buss_intro'].html('<p style="background-color:#FF8A00;color:#FF8A00;" align="center"><span style="font-weight:bold;"><span style="color:#ffffff;background-color:#ff8a00;"><span style="font-family:Microsoft YaHei;font-size:medium;">【商家简介】</span></span></span></p><p style="font-size:10.5pt;font-family:宋体;">添加内容...</p>');
								}
								
								var uploadbutton = K.uploadbutton({
									button : K('#team-create-uploadButton')[0],
									fieldName : 'imgFile',
									url : WEB_ROOT+'/kindupload.php',
									afterUpload : function(data) {
										if (data.error === 0) {
											var url = K.formatUrl(data.url, 'absolute');
											K('#team-create-image').val(url);
											$('#team-create-image-preview').empty().append('<a href="'+url+'" target="_blank"><img style="max-height:100px" src="'+url+'" ></a>');
										} else {
											alert(data.message);
										}
									},
									afterError : function(str) {
										alert('自定义错误信息: ' + str);
									}
								});
								uploadbutton.fileBox.change(function(e) {
									uploadbutton.submit();
								});
								
								//绑定支持的服务
								
							});


						</script>
						<dd class="field">
							<label>商品图片</label>
							<input class="ke-input-text" style="width:400px;" type="text" name="upload_image" id="team-create-image" value="{$team['image']}" readonly="readonly" /> <input type="button" id="team-create-uploadButton" value="上传" />
							
							<!--{if $team['image']}-->
							<span class="hint" id="team-create-image-preview"><a href="${team_image($team['image'])}" target="_blank"><img style="max-height:100px" src="${team_image($team['image'])}"></a></span>
							<!--{else}-->
							<span class="hint" id="team-create-image-preview"></span>
							<!--{/if}-->
						</dd>
						<dd class="field">
							<label>项目标题</label>
							<input type="text" size="30" name="title" id="team-create-title" class="f-input" value="${htmlspecialchars($team['title'])}" datatype="require" require="true" />
						</dd>
						<dd class="field">
							<label>商品名称</label>
							<input type="text" size="30" name="product" id="team-create-product" class="f-input" value="{$team['product']}" datatype="require" require="true" />
						</dd>
						<dd class="field">
							<label>热词，关键词</label>
							<input type="text" size="30" name="keywords" id="team-create-keywords" class="f-input" value="{$team['keywords']}" datatype="require" require="true" />
						</dd>
						<dd class="field">
							<label>商品指示语</label>
							<input type="text" size="30" name="product_ind" id="team-create-product_ind" class="f-input" value="{$team['product']}" datatype="require" require="true" />
						</dd>
						<dd class="field">
							<label>提前几天预约</label>
							<input type="text" size="10" name="rex_preday" style="width:20px" id="regx_preday" joininput="regx_preday" class="number" />
							<label>预约电话</label>
							<input type="text" size="10" name="rex_prephone" style="width:250px" id="regx_prephone" joininput="regx_phone" class="number" datatype="phone" />
						</dd>
						<dd class="field">
							<label>预约时间</label>
							<input type="text" size="10" name="rex_preystart" id="rex_preystart" class="Wdate date" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'H:mm',quickSel:['12:00','12:30','13:00','13:30','14:00','14:30'],onpicked:function(){$('#rex_preyend').focus();changePrey();/*开始联动另一个*/$('#tmp_preystart').val(this.value);onpicked_callback('tmp_preystart');}})" />
							<input type="text" size="10" name="rex_preyend" id="rex_preyend" class="Wdate date" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'H:mm',quickSel:['7:00','7:30','8:00','8:30','9:00','9:30'],onpicked:function(){changePrey();/*开始联动另一个*/$('#tmp_preyend').val(this.value);onpicked_callback('tmp_preyend');}})" />
						</dd>
						<dd class="field">
							<label for="summary_tip">提示</label>
							<div style="float:left;"><textarea cols="45" rows="5" name="summary_tip" id="summary_tip" class="f-textarea" datatype="require" require="true"></textarea></div>
							<span class="hint">输入提示信息，多条信息使用回车换行</span>
						</dd>
						<dd class="field">
							<label for="summary_highlight">亮点</label>
							<div style="float:left;"><textarea cols="45" rows="5" name="summary_highlight" id="summary_highlight" class="f-textarea" datatype="require" require="true"></textarea></div>
							<span class="hint">亮点信息，多条信息使用回车换行</span>
						</dd>
					</dl>
                    <script language="javascript">
                    
						//将HTML拆解给两个输入框
						var $summary_tip = $('#summary_tip');
						var $summary_highlight = $('#summary_highlight');
						//拆解HTML
						var texts = $($("#summary").text()).find('li.col ul');
						texts.find('li').append("<br>");
						if(texts.size() == 2){
							$summary_tip.val($.trim(texts[0].innerText));
							$summary_highlight.val($.trim(texts[1].innerText));	
						}
						$(function(){
							$(':input[joininput=regx_phone]').change(function(){
								var $this = $(this);
								$(':input[joininput=regx_phone]').each(function(){
									if($(this).val() != $this.val()){
										$(this).val($this.val()).change();
									}
								});
								var summaryTipText = $('#summary_tip').val();
								summaryTipText = summaryTipText.replace(/(预约电话(:|：)[\d-\S]*)/ig, '预约电话：'+$this.val());
								$('#summary_tip').val(summaryTipText);
							});	
							$(':input[joininput=regx_preday]').change(function(){
								var $this = $(this);
								$(':input[joininput=regx_preday]').each(function(){
									if($(this).val() != $this.val()){
										$(this).val($this.val()).change();
									}
								});
								var summaryTipText = $('#summary_tip').val();
								summaryTipText = summaryTipText.replace(/(提前[\d-\S]+天)/ig, '提前'+$this.val()+'天');
								$('#summary_tip').val(summaryTipText);
							});	
						
						//绑定事件
						$('#summary_tip,#summary_highlight').change(function(){
							//生成HTML代码
							var tip_val = $('#summary_tip').val();
							var highlight_val = $('#summary_highlight').val();
							
							var str = '<ul class="deal-detail-t cf"><li class="col first"><h2>提示</h2><ul>';
							var tips = tip_val.split('\n');
							for(var idx in tips){
								//alert(tips[idx]);
								str += ("<li>"+tips[idx]+"</li>");
							}
										
							str += '</ul></li><li class="col"><h2>亮点</h2><ul class="highlight">';
								var hs = highlight_val.split('\n');
								for(var idx in hs){
									//alert(hs[idx]);
									str += ("<li>"+hs[idx]+"</li>");
								}
							str += '</ul></li></ul>';
							$("#summary").val(str);
						}).change();
						});
						//修改预约时间的函数
						function changePrey(){
							var newTime = $('#rex_preystart').val() + "-" + $('#rex_preyend').val();
							var summaryTipText = $('#summary_tip').val();
							summaryTipText = summaryTipText.replace(/(预约时间(:|：)(\d{1,2}(：|:)\d{1,2})?(—|-)(\d{1,2}(：|:)\d{1,2})?)/ig, "预约时间："+newTime);
							$('#summary_tip').val(summaryTipText);
                    	}
						
						function changeExpandDate(date){
							var expreDate = $('#team-create-expire-time').val();
							var summaryTipText = $('#summary_tip').val();
							summaryTipText = summaryTipText.replace(/(有效期(到)?(:|：)?(\d{4}年\d+月\d+[\u4e00-\u9fa5]|\d{4}-\d+-\d+))/ig, "有效期到"+expreDate);
							$('#summary_tip').val(summaryTipText);
						}
					</script>
                    
                    <dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">7、特别提示</dt>
						<dd class="field">
							<label>提前几天预约</label>
							<input type="text" size="10" name="tmp_preday" style="width:20px" id="tmp_preday" joininput="regx_preday" toid="span_preday" datatype="number" class="number" />
							<label>预约电话</label>
							<input type="text" size="10" name="tmp_phone" style="width:250px" id="tmp_phone" joininput="regx_phone" toid="span_phone" class="number" datatype="phone" />
	                    </dd>
						<dd class="field">
							<label>预约时间</label>
							<input type="text" size="10" name="tmp_preystart" id="tmp_preystart" toid="span_preystart" class="Wdate date" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'H:mm',quickSel:['12:00','12:30','13:00','13:30','14:00','14:30'],onpicked:function(){$('#tmp_preyend').focus();onpicked_callback('tmp_preystart');/*联动*/$('#rex_preystart').val(this.value);changePrey();}})" />
							<input type="text" size="10" name="tmp_preyend" id="tmp_preyend" toid="span_preyend" class="Wdate date" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'H:mm',quickSel:['7:00','7:30','8:00','8:30','9:00','9:30'],onpicked:function(){onpicked_callback('tmp_preyend');/*联动*/$('#rex_preyend').val(this.value);changePrey();}})" />
						</dd>
						<dd class="field">
							<label for="team-create-notice">特别提示</label>
							<div style="float:left;">
							<textarea cols="45" rows="5" name="notice_xx" id="team-create-notice" class="f-textarea editor" style="width:710px;height:350px;">{$team['notice']}</textarea>
							</div>
							<span class="hint">关于本单项目的有效期及使用说明</span>
						</dd>
					
					</dl>
					<script language="javascript">
						<!--
						
						var tbtip = '<p style="background-color:#FF8A00;color:#FF8A00;" align="center"><span style="font-weight:bold;"><span style="color:#ffffff;background-color:#ff8a00;"><span style="font-family:Microsoft YaHei;font-size:medium;">【特别提示】</span></span></span></p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">1.本单为电子券，有效期至<span id="span_expredate" style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">2012-10-31</span>，请在有效期内使用，过期作废；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">2.购买成功后，您将获得由优品会发送的手机短信，请勿删除此短信，凭此短信到店消费即可；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">3.需提前最少<span id="span_preday" style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">1</span>天预约，预约时间：<span id="span_preystart" style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">09:00</span>-<span id="span_preyend" style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">00:00</span>，预约电话：<span id="span_phone" style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">0451-53633380，0451-53633370</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">4.入住登记时需提供本人有效身份证（驾驶证等不是有效身份证件不能登记房间，若是多人同住，都需携带有效身份证件），一人一证；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">5.<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">客房入住时间为当日10:00以后至次日中午12:00前为一天，请您在次日12:00之前办理退房，超时将加收房费，18:00之前退房按酒店门市价半价收取房费，18:00之后退房按酒店门市价全价收取房费</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">6.<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">办理入住时需另缴纳住房押金200元/间（需现金），退房时如无物品损坏或其它消费，押金将如数退还，如您不小心损坏物品，需照市场价赔偿</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">7.<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">间内冰箱内饮品及房间内电话不包含在团购价格内，如需使用请另付费，收费详情请咨询商家</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">8.酒店禁止携带易燃易爆物品及宠物进入宾馆；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">9.预约后不能退订，如遇特殊原因导致无法如期抵店，请在预约有效期内提前24小时致电酒店协商变更抵店日期；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">10.<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">此单平日、周末以及法定节假日通用</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">11.商家承诺无隐性消费，<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">如产生个人费用客人自理</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">12.<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">优品会券可多张累计使用，请务必预约时提前说明使用张数（中途不可换房间），每张优品会券仅限开一间房入住一晚，每张优品会券最多2人同时入住一晚，每张优品会券可免费带1名1.2米（含）以下的儿童，房间不可加床</span>；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">13.商家承诺无隐性消费，如产生个人费用客人自理；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">14.本单不限购买数量，每张券仅限一人使用；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">15.本券不兑现，不找零，不开发票，不与店内其他优惠共享；</p>'
									+'<p class="p0" style="font-size:10.5pt;font-family:宋体;">16.本单无邀请返利，不参与无条件退款，请合理安排时间，<span style="color:#ff0000;font-weight:bold;font-size:10.5000pt;font-family:\'宋体\';">在有效期内使用</span>；</p>';
						
						if(!$.trim($('#team-create-notice').val())){
							$('#team-create-notice').val(tbtip);
						}
						
						function changeTbTip(id,val){
							var info = $(KindEditor.instancesMap['team-create-notice'].html());
							info.find('#'+id).text(val);
							KindEditor.instancesMap['team-create-notice'].html(info.parent().html())
						}
						
						$(':input[toid]').change(function(){
							//修改相关值
							changeTbTip($(this).attr('toid'),$(this).val());
						});
						
						function onpicked_callback(id){
							$this = $('#'+id);
							if($this.attr('toid'))
								changeTbTip($this.attr('toid'),$this.val());
							if($this.attr('id') == 'team-create-expire-time')
								changeExpandDate($this.val());
						}
							
						
						
						//-->
					</script>
                    
                    
                    <dl style=" margin-top:10px;width:912px; border:dashed #FC0 thin;display:inline-block;">
						<dt class="wholetip clear" style="background-color:#FC0;padding:5px; font-weight:bold">8、本单详情</dt>
						<dd class="field">
							<label>支持信息</label>
							<!-- ${
								$support_services = array(
									array("v"=>"drc","t"=>"单人床"),
									array("v"=>"src","t"=>"双人床"),
									array("v"=>"kt","t"=>"空调"),
									array("v"=>"tv","t"=>"电视"),
									array("v"=>"tel","t"=>"电话"),
									array("v"=>"zc","t"=>"早餐","c"=>2),
									array("v"=>"rsxy","t"=>"热水洗浴"),
									array("v"=>"yyrs","t"=>"饮用热水"),
									array("v"=>"xsyj","t"=>"洗漱用具"),
									array("v"=>"tx","t"=>"拖鞋"),
									array("v"=>"wlan","t"=>"有线网络","c"=>2),
									array("v"=>"wifi","t"=>"无线网络"),
									array("v"=>"bxx","t"=>"保险箱"),
									array("v"=>"tcw","t"=>"停车位","c"=>2),
									array("v"=>"xljc","t"=>"行李寄存"),
									array("v"=>"dsyj","t"=>"代收邮件"),
									array("v"=>"kqs","t"=>"矿泉水"),
								);
							} -->
							<!-- {loop $support_services $idx $one} -->
							<span style="height:100px;width:70px;display:inline-block">
								<label for="supports_{$idx}" style="width:70px;height:70px;"><img alt="{$one['t']}" style="width:70px;height:70px;" src="/static/img/hotel/{$one['v']}_1.jpg"></label>
								<p style="text-align:center"><input type="checkbox" id="supports_{$idx}" value="{$one['v']}_1" >{$one['t']}</p>
							</span>
							<!-- {if $one["c"] && $one["c"] > 1} -->
							<span style="height:100px;width:70px;display:inline-block">
								<label for="supports_d{$idx}" style="width:70px;height:70px;"><img alt="{$one['t']}" style="width:70px;height:70px;" src="/static/img/hotel/{$one['v']}_0.jpg"></label>
								<p style="text-align:center"><input type="checkbox" id="supports_d{$idx}" value="{$one['v']}_2" >{$one['t']}</p>
							</span>
							<!-- {/if} -->
							<!-- {/loop} -->
						</dd>
						
						<script language="javascript">
								function domToHtml(dom){
									var $container = $("<DIV>");
									$container.append(dom);
									return $container.html();
								}
								$(':ckeckbox[id^=supports]').change(function(){
									if($(this).attr('checked')){
										$(this).parent().css("color","red");
									}else{
										$(this).parent().css("color","");
									}
									var $container = $("<DIV>");
									
									$container.html(KindEditor.instancesMap["team-create-detail"].html());
									
									var sl = $container.find("#supportList:first");
									var p = $("<p></p>");
									if(sl.size() == 0){
										sl = $("<div id='supportList'>123</div>").appendTo(p);	
										$container.append(p);
									}
									var sld = $container.find("#supportListDesc:first");
									if(sld.size() == 0){
										sld = $('<div id="supportListDesc" align="right" style="width:460px"><span style="padding:3px 6px;color:#fff;background-color:#37adb1;-webkit-border-radius:3px;-moz-border-radius:3px;"><b> 免费服务 </b></span>&nbsp;<span style="padding:3px 6px;color:#fff;background-color:#bf1e2e;-webkit-border-radius:3px;-moz-border-radius:3px;"><b> 付费可享 </b></span></p></div><p style="font-size:10.5pt;font-family:宋体;">添加内容...</p>');
										p.append(sld);
									}
									
									sl.empty();
									$(':ckeckbox[id^=supports][checked]').each(function(idx,ele){
										//获取每一个IMG，并添加到h中
										var $img = $(this).parent().parent().find("img")
													.clone()
													.addClass("service_item")
													.attr("id",$(this).attr("id"))
													.css("display","inline-block")
													.css("margin","3px")
													.css("width","70px")
													.css("height","70px");
										sl.append($img);
										 
									});
									sl.css('display','block').css('max-width','460px');
									
									//
									KindEditor.instancesMap["team-create-detail"].html($container.html());
								})
								
								//套餐信息JS
								//初始化
								$(function(){
									//点击时候全选
									$(':input.number').click(function(){
										this.select();
										return false;
									});
									//未添加产品按钮绑定
									$('#pack_project_addbtn').click(function(){
										//弹出名称输入功能
										var $container = $("<DIV>");
										var $container2 = $("<DIV>");
										//创建表格，并刷新SELECT
										var newTemplateDom = $("#pack_project_template .pack_project_table").clone();
										newTemplateDom.attr("id","pack_project_table_" + (new Date().getTime()));
										var $tables = $container2.html(KindEditor.instancesMap["team-create-detail"].html()).find(".pack_project_table");
										if($tables.size() > 0){
											newTemplateDom.find("tr.tbcaption td p").text("X套餐");
										}else{
											//新建
											newTemplateDom.find("tr.tbcaption td p").text("套餐详情");
											//如果有格式，则加入到格式中，如果没有则加入到最外层
										}
										$container.append(newTemplateDom);
										KindEditor.instancesMap["team-create-detail"].insertHtml($container.html());
										//刷新项目列表
										refreshProjectSelect();
										return false;
									});
									//当产品选择下拉框获取焦点的时候刷新产品列表
									$("#pack_projects").focus(refreshProjectSelect);
									//为产品选择下拉框绑定事件
									$('#pack_project_item_addbtn').click(function(){
										//
										var val = $("#pack_projects").val();
										if(val){
											var $container = $("<DIV>");
											var $table = $container.html(KindEditor.instancesMap["team-create-detail"].html()).find("#"+val);
											$table.find("tbody tr.tbfooter").prepend("<tr><td><p>名称，单价</p></td><td><p>10</p></td></tr>");
											KindEditor.instancesMap["team-create-detail"].html($container.html());
										}else{
											alert("请添加套餐！");
										}
									});
								});
								//刷新商家列表
								function refreshProjectSelect(){
									var $container = $("<DIV>");
									var $tables = $container.html(KindEditor.instancesMap["team-create-detail"].html()).find(".pack_project_table");
									$("#pack_projects").empty();
									$tables.each(function(){
										var id = $(this).attr("id");
										var caption = $(this).find("tr.tbcaption td p").text();
										$("#pack_projects").append($("<option></option>").val(id).text(caption));
									});
								}
							</script>
						<!-- 产品套餐模版start，该部分不会显示出来 -->
						<div id="pack_project_template" style="display: none;">
							<table class="pack_project_table" border="1"  cellspacing="0" cellpadding="0" style="background-color:white;border:none;text-align:center;width:460px">
								<tbody>
									<tr class="tbcaption">
										<td colspan="2" style="background:#339966;">
											<p>套餐详情</p>
										</td>
									</tr>
									<tr class="tbheader">
										<td style="background:#339966;"><p>内容</p></td>
										<td style="background:#339966;" width="80"><p>数量</p></td>
									</tr>
									<tr>
										<td ><p>名称，单价</p></td>
										<td ><p>10</p></td>
									</tr>
									<tr class="tbfooter">
										<td colspan="2" style="text-align:right;">
											<p>原价:$123&nbsp;&nbsp;&nbsp;&nbsp;团购价:$234</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 产品套餐模版end，该部分不会显示出来 -->
						<dd class="field">
							<label>生成项目表格</label>
							<div style="float:left;">
								<select id="pack_projects">
									
								</select>
								<a href="javascript:void(0);" id="pack_project_addbtn">添加新套餐</a>
								<a href="javascript:void(0);" id="pack_project_item_addbtn">增加一行</a>
							</div>
						</dd>
						<dd class="field">	
							<label>本单详情</label>
							<div style="float:left;"><textarea cols="45" rows="5" style="height:550px" name="team_detail" id="team-create-detail" class="f-textarea editor"></textarea></div>
							<input type="hidden" name="detail" id="detail_hidden" value="${htmlspecialchars($team['detail'])}">
						</dd>
						<dd class="field">
							<label>商家简介</label>
							<div style="float:left;"><textarea cols="45" rows="5" name="buss_intro" id="team-buss_intro" class="f-textarea editor"></textarea></div>
						</dd>
						<dd class="field" id="field_userreview">
							<label>网友点评</label>
							<div style="float:left;">
							<!-- ${
								if($team['userreview']==NULL)
									$team['userreview'] = "还不错，看着挺好的。|小小\n每天对着电脑，带个这眼镜刚好，不错。|乖兔";
							} -->
							<textarea cols="45" rows="5" name="userreview" id="team-create-userreview" class="f-textarea">${htmlspecialchars($team['userreview'])}</textarea>
							</div>
							<span class="hint">格式：“真好用|小兔|http://ww....|XXX网”，每行写一个点评</span>
						</dd>
						<dd class="field">
							<label>{$INI['system']['abbreviation']}推广辞</label>
							<div style="float:left;"><textarea cols="45" rows="5" name="systemreview" id="team-create-systemreview" class="f-textarea editor" style="width:710px;height:150px;">${htmlspecialchars($team['systemreview'])}</textarea></div>
						</dd>
					</dl>
                    
					
					<!--xxk-->
					<input type="hidden" name="guarantee" value="Y" />
					<input type="hidden" name="system" value="Y" />
					
					<!-- 隐藏部分start -->
					<div style="display:none">
						<div class="field">
							<label>购买属性</label>
							<input type="text" size="30" name="condbuy_type" id="team-create-condbuy" class="f-input" value="{$team['condbuy_type']}" />
							<span class="hint">格式如：{颜色}@{尺码}@{款式}，分组使用@符号分隔 , 用户购买的属性</span>
						</div>
						<div class="field">
							<label>购买必选项</label>
							<input type="text" size="30" name="condbuy" id="team-create-condbuy" class="f-input" value="{$team['condbuy']}" />
							<span class="hint">格式如：{黄色}{绿色}{红色}@{大号}{中号}{小号}@{男款}{女款}，分组使用@符号分隔 , 用户购买的必选项</span>
						</div>
						<div class="field">
							<label>商品图片1</label>
							<input type="file" size="30" name="upload_image1" id="team-create-image1" class="f-input" />
							<!--{if $team['image1']}--><span class="hint" id="team_image_1">${team_image($team['image1'])}&nbsp;&nbsp;<a href="javascript:;" onclick="X.team.imageremove({$team['id']}, 1);">删除</a></span><!--{/if}-->
						</div>
						<div class="field">
							<label>商品图片2</label>
							<input type="file" size="30" name="upload_image2" id="team-create-image2" class="f-input" />
							<!--{if $team['image2']}--><span class="hint" id="team_image_2">${team_image($team['image2'])}&nbsp;&nbsp;<a href="javascript:;" onclick="X.team.imageremove({$team['id']}, 2);">删除</a></span><!--{/if}-->
						</div>
						<div class="field">
							<label>FLV视频短片</label>
							<input type="text" size="30" name="flv" id="team-create-flv" class="f-input" value="{$team['flv']}" />
							<span class="hint">形式如：http://.../video.flv</span>
						</div>
					</div>
					<!-- 隐藏部分end -->
					
					
					<input type="submit" value="好了，提交" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
				</form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<script type="text/javascript">
window.x_init_hook_teamchangetype = function(){
	X.team.changetype("{$team['team_type']}");
};
window.x_init_hook_page = function() {
	X.team.imageremovecall = function(v) {
		jQuery('#team_image_'+v).remove();
	};
	X.team.imageremove = function(id, v) {
		return !X.get(WEB_ROOT + '/ajax/misc.php?action=imageremove&id='+id+'&v='+v);
	};
};
$(function(){
	//初始化百度分类
	$('#BaiduCategoryList').val(5).change();
	$('#BaiduSubcategoryListExcYougou').val("酒店").change();
	
	
	//在提交之前将商家介绍和产品详细内容用分隔符连接起来
	$('form').submit(function(){
		//将两个输入框内容合并到一个字段
		$('#detail_hidden').val(
				KindEditor.instancesMap['team-create-notice'].html() + "<!--华丽的产品详细分割线-->" + 
				KindEditor.instancesMap['team-create-detail'].html() + "<!--华丽的产品详细分割线-->" + 
				KindEditor.instancesMap['team-buss_intro'].html());
	});
	
	$('select[name=group_id]').val(${$team['group_id']?$team['group_id']:25});
	
	//绑定默认分类
	$('#sub_id').val(${$team['sub_id']?$team['sub_id']:425});
	
	//绑定头部点击事件
	$('dt.wholetip').click(function(){
		$(this).parent().find('>dd').toggle();
	});
	$('dt.inithide').trigger('click');
	//为每个区块的标题绑定鼠标点击样式
	$('dt.wholetip').css("cursor","pointer").attr("title","点击可以展开或合并该区域");
	//为城市选择的全选实现功能
	$('#city_all').click(function(){
		if($(this).attr('checked') == true){
			$('.city_checkbox').attr('checked',true);
		}else{
			$('.city_checkbox').attr('checked',false);
		}
	});
	
	$('.city_checkbox').click(function(){
		if($(this).attr('checked') == false){
			$('#city_all').attr('checked',false);
		}
	});
	//为商家选择组件绑定改变事件
	$('#partner_select').change(function(){
		var id = $(this).val();
		if(id && confirm('是否自动加载商户信息？')){
			$.get('edit.php?action=getPartnerEntity&id='+id,function(json){
				try{
					var b = eval('('+json+')');
					var eleids = ["regx_prephone"];
					for(var idx in eleids){
						var $ele = $('#' + eleids[idx]);
						if($ele.size() > 0){
							$ele.val(b.phone).change();
						}
					}
				}catch(ex){
					//商家信息加载失败
					alert("加载商家信息失败:" + ex);
				}
			});	
		}
		
	});
	
	//为商家选择绑定快捷查找功能
	$('.field input[name="p_id"]').keyup(function(){
		$.get("part.php",{'value':$("#partner_id").val()},function(data){
			var s = $("#partner_id").val();
			if(data=='0') 
				$("#partner_id").css('color','#FFCC33');
			else{
				$("#partner_select").html(data);
				
							
			} 
		});
	});

	//初始化时候，反响将内容中的数据带到表单

	var info = $($('#team-create-notice').val());
	var spans = info.find('span[id^=span_]');
	
	spans.each(function(){
		var $this = $(this);
		$(':input[toid='+$this.attr('id')+']').val($this.text());
	});
	
	
});
//修改类型信息
function changecate(cid) {
	$("#sub_id").load('category.php?cateid='+cid );
}
</script>
<!--{include manage_footer}-->
