<!--{include header}-->
<div class="wrap new-order">
    <div class="fl" style="width:700px">
        <div class="uleft c3" id="uleft_ev56">
            <ul class="wrapper">
                ${current_account('/user/comment/index.php')}
            </ul>
        </div>
        <div class="uright" id="uright_ev56">
            <div class="utit">
                <ul class="wrapper">${current_comment_index($selector)}</ul>
            </div>
            <div class="sect comment">
                <table>
                    <tr>
                        <th class="first">团购商品</th>
                        <th>操作</th>
                    </tr>
                    <!--{loop $comment $index $one}-->
                    <tr>
                        <td class="alt">
                            <table>
                                <tr>
                                    <td>
                                        <img src="${team_image($one['image'],true)}" title="{$one['title']}" alt="">
                                    </td>
                                    <td>
                                        <a href="/team/{$one['tid']}.html" target='_blank'>${$one['title']?$one['title']:'未找到该商品'}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <p class="stars star${CommentGradeToNum($one['comment_grade'])} wrapper">
                                <span>我的评价：</span>
                                <i class="star-1"></i>
                                <i class="star-2"></i>
                                <i class="star-3"></i>
                                <i class="star-4"></i>
                                <i class="star-5"></i>
                                <a href="/order/ajax.php?action=ordercomment&id={$one['oid']}" class="ajaxlink">修改评价</a>
                            </p>
                        </td>
                    </tr>
                    <!--{/loop}-->
                </table>
            </div>
        </div>
    </div>
    <div class="new-order-right fr">
        <!--{include usercenter/block_userinfo}-->
    </div>
    <div class="clear"></div>
</div>
<!--{include footer}-->
