<!--${
if($REAL_LINK_GLOBAL['isyougou']){
    $classon['mall'] = ' class="active"';
}else if($REAL_LINK_GLOBAL['gid'] == 97){
    $classon['lvyou'] = ' class="active"';
}else if($REAL_LINK_GLOBAL['gid'] == 75){
    $classon['fun'] = ' class="active"';
}else if($REAL_LINK_GLOBAL['gid'] == 74){
    $classon['eat'] = ' class="active"';
}else{
    $classon['index'] = ' class="first active"';
}
}-->
<nav id="mainNav">
    <div class="container">
        <ul class="inline-block fl">
            <!--{if $hideBigNav == FALSE}-->
            <li class="v3-mainNav" data-lock="locked">
                <!--{else}-->
                <li class="v3-mainNav">
                <!--{/if}-->
                <a class="v3-mainNav-all wrapper"><span>全部分类</span><i></i></a>
                <!--{if $hideBigNav == FALSE}-->
                <section class="hover">
                    <!--{else}-->
                    <section>
                    <!--{/if}-->
                    <ul class="block">
                        <!--loop start-->
                        <!--{loop $navIndex $index $one}-->
                        <li class="pr v3-mainNav-{$index}">
                            <p class="v2-mainNav-title wrapper">
                                <i></i>
                                <a href="{$one['class']['link']}">{$one['class']['name']}</a>
                            </p>
                            <!--{if $one['group']}-->
                            <?php $groupNameLen = 0 ?>
                            <span class="wrapper">
                                <!--{loop $one['group'] $in $two}-->
                                <?php  
                                    if($two['name'] == 'KTV' || $two['name'] == '电影'){
                                        continue;
                                    }
                                    $groupNameLen += strlen($two['name']);
                                ?>
                                <a href="{$two['link']}">{$two['name']}</a>
                                <?php
                                    if($groupNameLen >=27){
                                        break;
                                    }
                                ?>
                                <!--{/loop}-->
                            </span>
                            <div>
                                <p>
                                    <a href="{$one['class']['link']}">{$one['class']['name']}</a>
                                </p>
                                <span class="wrapper">
                                    <!--{loop $one['group'] $in $two}-->
                                    <a href="{$two['link']}">{$two['name']}</a>
                                    <!--{/loop}-->
                                </span>
                            </div>
                            <!--{/if}-->
                        </li>
                        <!--{/loop}-->
                        <!--loop end-->
                    </ul>
                </section>
            </li>
            <li{$classon['index']}><a href="/"><span>首页</span></a></li>
            <li{$classon['mall']}><a href="/mall"><span>精品网购</span></a></li>
            <li{$classon['eat']}><a href="/cate/meishi"><span>餐饮美食</span></a></li>
            <li{$classon['fun']}><a href="/cate/xiuxianyule"><span>休闲娱乐</span></a></li>
            <li{$classon['lvyou']}><a href="/cate/lvyou"><span>旅游</span></a></li>
        </ul>
    </div>
</nav>
