<section class="v3-cateNav">
    <div class="v3-cateNav-container">
        <section class="v3-category">
            <div class="wrapper">
                <p>热门推荐</p>
                <ul class="inline-block">
                    <li class="v3-hot">
                        <a href="">乐淘淘</a>
                    </li>
                    <li class="v3-hot">
                        <a href="">两口子家纺</a>
                    </li>
                    <li class="v3-hot">
                        <a href="">五加白</a>
                    </li>
                </ul>
            </div>
            <div class="wrapper">
                <p class="v3-cateNav-hot">热门团购</p>
                <ul class="inline-block">
                    <li class="v3-hot">
                        <a href="">代金券</a>
                    </li>
                    <li class="v3-hot">
                        <a href="">月饼</a>
                    </li>
                    <li class="v3-hot">
                        <a href="">大闸蟹</a>
                    </li>
                    <li class="v3-hot">
                        <a href="">火锅</a>
                    </li>
                    <li class="v3-hot">
                        <a href="">经济型酒店</a>
                    </li>
                    <li>
                        <a href="">自助餐</a>
                    </li>
                    <li>
                        <a href="">KTV</a>
                    </li>
                    <li>
                        <a href="">川湘菜</a>
                    </li>
                    <li>
                        <a href="">电影</a>
                    </li>
                    <li>
                        <a href="">西餐</a>
                    </li>
                    <li>
                        <a href="">足疗按摩</a>
                    </li>
                </ul>
            </div>
            <div class="wrapper">
                <p class="v3-cateNav-area">全部区域</p>
                <ul class="inline-block">
                    <li>
                        <a href="">碑林区</a>
                    </li>
                    <li>
                        <a href="">雁塔区</a>
                    </li>
                    <li>
                        <a href="">高新区</a>
                    </li>
                    <li>
                        <a href="">莲湖区</a>
                    </li>
                    <li>
                        <a href="">未央区</a>
                    </li>
                    <li>
                        <a href="">新城区</a>
                    </li>
                    <li>
                        <a href="">灞桥区</a>
                    </li>
                    <li>
                        <a href="">临潼区</a>
                    </li>
                    <li>
                        <a href="">长安区</a>
                    </li>
                    <li>
                        <a href="">咸阳市</a>
                    </li>
                </ul>
            </div>
            <div class="wrapper">
                <p class="v3-cateNav-location">热门商圈</p>
                <ul class="inline-block">
                    <li>
                        <a href="">小寨/南郊</a>
                    </li>
                    <li>
                        <a href="">大雁塔</a>
                    </li>
                    <li>
                        <a href="">电子城</a>
                    </li>
                    <li>
                        <a href="">钟楼/鼓楼</a>
                    </li>
                    <li>
                        <a href="">西稍门</a>
                    </li>
                    <li>
                        <a href="">西安交大/东郊</a>
                    </li>
                    <li>
                        <a href="">东大街</a>
                    </li>
                    <li>
                        <a href="">民乐园</a>
                    </li>
                    <li>
                        <a href="">太白立交</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <section class="v3-index-banner mt15">
        <div class="wrapper">
            <p class="v3-index-banner-hot">本周精选</p>
            <div class="wrapper" style="width:100%">
                <ul class="inline fr">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="cb" id="focus">
                <ul class="block-block">
                    <li class="wrapper">
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/20121123/2012112312414859960_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【新品】和田玉枣</a>
                                    <span>新疆和田玉枣,真正雪水灌溉,沙漠孕育大枣</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/2013/0822/13771712296172_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【36个包邮】1.8元的罗汉果</a>
                                    <span>罗汉果1个,清热去火,购买36个及以上全国...</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                    </li>
                    <li class="wrapper">
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/20121123/2012112312414859960_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【新品】和田玉枣</a>
                                    <span>新疆和田玉枣,真正雪水灌溉,沙漠孕育大枣</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/2013/0822/13771712296172_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【36个包邮】1.8元的罗汉果</a>
                                    <span>罗汉果1个,清热去火,购买36个及以上全国...</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                    </li>
                    <li class="wrapper">
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/20121123/2012112312414859960_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【新品】和田玉枣</a>
                                    <span>新疆和田玉枣,真正雪水灌溉,沙漠孕育大枣</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/2013/0822/13771712296172_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【36个包邮】1.8元的罗汉果</a>
                                    <span>罗汉果1个,清热去火,购买36个及以上全国...</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                    </li>
                    <li class="wrapper">
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/20121123/2012112312414859960_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【新品】和田玉枣</a>
                                    <span>新疆和田玉枣,真正雪水灌溉,沙漠孕育大枣</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                        <div>
                            <a href="">
                                <img src="{$INI['system']['cdnprefix']}/static/team/2013/0822/13771712296172_index313x199.jpg" alt="">
                            </a>
                            <div class="wrapper">
                                <h3>
                                    <a href="">【36个包邮】1.8元的罗汉果</a>
                                    <span>罗汉果1个,清热去火,购买36个及以上全国...</span>
                                </h3>
                                <p>¥88</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
