<div id="top-banner-focus">
    <ul>
        <!--{if $city['name'] =='安康' }-->  
        <li><img width="980px" height="200px" src="/static/zc/searchktv.jpg"/></li>
         <!--{/if}-->
        <li><a href="/taoke.php" target="_blank"><img width="980px" height="200px" src="{$INI['system']['cdnprefix']}/static/zc/letaotao2.jpg"/></a></li>
        <li><a href="/zc/lkzjf.php" target="_blank"><img width="980px" height="200px" src="{$INI['system']['cdnprefix']}/static/zc/lkzjf_banner.jpg"/></a></li>
        <li><a href="/zc/crab.php" target="_blank"><img width="980px" height="200px" src="{$INI['system']['cdnprefix']}/static/zc/crab2.jpg"/></a></li>
        <li><a href="/zc/hzp.php" target="_blank"><img width="980px" height="200px" src="/static/zc/hzp_banner.jpg"/></a></li>
        <li><a href="/zc/jf2.php" target="_blank"><img width="980px" height="200px" src="/static/zc/jf2.jpg"/></a></li>
        <li><a href="/zc/jiaju.php" target="_blank"><img width="980px" height="200px" src="/static/zc/jiaju_banner.jpg"/></a></li>
        <li><a href="/zc/wujiabai.php" target="_blank"><img width="980px" height="200px" src="/static/zc/wujiabai_banner.jpg"/></a></li>
    </ul>
</div> 
<?php $includeScript[] = 'banner_top'; ?>