html,body,div,header,footer,article,section,input,nav,p,dl,dt,dd,a,img,h1,h2,h3,h4,h5,ul,li{margin:0px;padding:0px;}
a:link,a:visited{
	text-decoration:none;outline:none;
	border:none;color:#555; 
	}
a:active, a:focus{
    background: none repeat scroll 0 0 rgba(225,106,14,.5);
    color: #FFFFFF;
}
img{border:none;outline: none;}
ul,li{list-style: none;}
input,select,textarea{border:none;}
body {   
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;line-height:150%;
    color:#999;
   }
.clearF{zoom: 1;}
.clearF:after{content: "";height:0px;display:block;clear: both;}
html body nav.top_fix{
	position: fixed;
	top:0px;
	width:100%;
	z-index:99999;
}

.header{text-align: center;position: relative;}
.header a:hover,.header a:focus{background:none;}
.header img{width:100%;max-width:240px;height:77px;display:block;}
.header .city{
	position: absolute;
	top:20px;right:15px;
}
.header .city span{
	color: #a63e00;font-weight: bold;
}
.header .city a{
	color: #222;
}

.nav{
	height:40px;
	line-height:40px;
	background-color:#ff8400;
	box-shadow:0 -3px 0 #ff8400 inset;
	position: relative;
}

.nav div.position{
	font-size:1.3em;height:40px;line-height:40px;
	margin:0px auto;color: #fff;text-align: center;
	position: relative;
}

.nav a.class{
	color: #fff;
	font-size: 1.1em;
	float: left;
	width:20%;
	text-align: center;
	height: 100%;	
	position:relative;
	line-height:33px;
}
.nav a.class i.arrow{
	width: 8px;height: 5px;
	position: absolute;
	left: 50%;margin-left:-4px;
	bottom:7px;
	background: url(../images/class_arrow.png) center center no-repeat;	
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;	
}
.nav a.focus i.arrow{
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;	
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);	
}

.nav ul.class_outer{
	position: absolute;
	top:40px;left: 0px;
	width:20%;
	background-color:#fff;
	box-shadow:1px 1px 0px 1px #eee;
	text-align: center;
	z-index:999;
	line-height:30px;
	display: none;
}
.nav div.search{
	float:left;
	width:50%;
	margin-left:1%;
	position: relative;
}
.nav div.search input{
	height:26px;line-height:26px;
	color: #333;font-family:"Microsoft YaHei";
	margin-top:-7px;
	width:80%;
	padding:0px 0px 0px 30px;
	border:none;
	border-radius:5px;	
}
.nav div.search a.submit{
	position: absolute;
	height:28px;width:28px;
	top:5px;left:0px;
	background:url(../images/search.png) center center no-repeat;
	background-size: container;
}
.nav a.area{
	color: #fff;
	font-size: 1.1em;
	float: left;
	width: 15%;	
	text-align: center;
	height: 100%;
	margin-left:2%;
}

.nav a.me{
	width: 25px;
	height: 100%;	
	position: absolute;top: 0px;right:16px;
	background: url(../images/index.png) no-repeat  center -252px;
	background-size: 25px auto;
}

.nav a.back{
	position:absolute;
	top: 0px;left:10px;
	width:60px;text-align: center;
	font-size:1.2em;color: #fff;
}

.nav a.back:before {
	border: #fff solid 3px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
	display: block;
	content: '\20';
	width: 12px;
	height: 12px;
	border-top: none;
	border-right: none;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.main{padding:0px 2%;margin-top:40px;}
.main a.dl{
	display:block;
	padding:8px 0px 8px 130px;
	min-height:85px;position:relative;
	border-top:1px solid #F1F1F1;
}
.main a.dl img{
	width:125px;height:90px;
	position: absolute;left:0px;
	border:1px solid #DBE5E7
	}

/*团购详情页面s*/
article.detail{padding:0px 0px 15px;}
article.detail .buy{
	padding:14px 4%;
	border-top:1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}
article.detail .buy strong{
	color: #f63;
	font-size: 2.2em;
	margin-right: 14px;
}
article.detail .buy a.buyBtn{
	color: #fff;
	background-color: #f63;
	padding: 6px 15px;
	font-size: 1.2em;
	float:right;
	border-radius: 5px;
	margin-top: -6px;
}
article.detail .detail_title{
	color: #222;
	padding:14px 4% 4px;
	font-size: 1.2em;
	line-height: 2em;		
}
article.detail .detail_desc{
	color: #666;
	padding:0px 4% 14px;
	font-size: 1.1em;
	line-height: 2em;	
}
article.detail .h_info{
	padding:10px 4%;
	font-size: 1.2em;
	background-color: #F0f0f0;
	border-top:1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
}
article.detail .h_info_con{
	padding: 10px 4%;
}
article.detail .h_info_con .remind{
	background: none repeat scroll 0 0 #fef8f4;
    border: 1px solid #feeada;
    padding: 10px;
}
article.detail .h_info_con .info_pic{
	background-color: #ff9900;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
    padding: 3px 6px;
}
article.detail .h_info_con .info_pic_con{
	padding:2px 5px;	
}
article.detail .h_info_con .info_pic_con img{
	width:100%;
}

.relevance a.dl{
	display:block;
	padding:8px 0px 8px 130px;
	min-height:85px;position:relative;
	border-top:1px solid #F1F1F1;
}
.relevance a.dl img{
	width:125px;height:90px;
	position: absolute;left:0px;
	border:1px solid #DBE5E7
}
article.detail .order{
	padding: 10px 4%;
	list-style: none;	
	background-color: #fff;
}
article.detail .order li{
	box-pack:justify;
	-webkit-box-pack:justify;	
	display: -webkit-box;	
	border-bottom:1px solid #F1F1F1;
	line-height:45px;
}
article.detail .order li:last-child{
	border-bottom: none;
}
article.detail .order li span{
	display: block;
	padding:0px 5px;
	color: #666;font-size: 1.2em;
}
article.detail .order li.order_pn span:nth-child(2){
	color: #f63;font-size: 1.4em;
}
article.detail .order li p.count{
	display: box;
	display: -webkit-box;
	display: -moz-box;	
	padding:0px 5px;	
}
article.detail .order li p.count span{
	text-align: center;
	border: 1px solid #bbb;
	width: 20px;
	margin:9px 5px 0px;
	font-size: 1.5em;
	font-weight: bold;
	line-height:25px;
	height: 25px;
	color: #bbb;	
}
article.detail .order li p.count span.add{
	color: #f63;border: 1px solid #f63;
}
article.detail .order li p.count input{
	width: 35px;border: 1px solid #bbb;
	line-height:25px;height: 25px;
	text-align: center;
}
article.detail .freight{
	padding: 10px 4%;
	list-style: none;	
	background-color: #fff;
}
article.detail .freight li{
	line-height:35px;height: 35px;
	display: block;
	clear: both;
}
article.detail .freight li span{
	width:90px;float: left;	color: #666;
}
article.detail .freight li input{
	width:120px;float: left;
	height:28px;line-height:28px;
	border:1px solid #eee;
	border-radius:5px;
	padding: 0px 5px;
	margin-top:2px;
}
article.detail .freight li.address {
	height:65px;
}
article.detail .freight li.address textarea{
	width:60%;height:60px;line-height:28px;
	border:1px solid #eee;
	border-radius:5px;
	padding: 0px 5px;
	margin-top:2px;
	float: left;
}

article.detail .order_buy{
	background-color: #f0f0f0;
	padding:50px 15%;
	text-align: center;
}
article.detail .order_buy .submit{
	background-color: #f63;
	display: block;border-radius:5px;
	color: #fff;text-align: center;
	height:40px;line-height: 40px;
	font-size: 1.3em;
}


/*团购详情页面e*/


/*登录注册s*/

.login{
	padding:5%;
}

.login .login_h{
	display: -webkit-box;	
	display: box;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#F2F2F2));
	border-bottom: 1px solid #d7dbde;
	height: 35px;
	zoom: 1;
	text-align: center;
	padding: 10px;
}
.login .login_h a{
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex: 1;
	display: block;
	height: 35px;
	line-height: 35px;
	color: #323232;
	text-align: center;	
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
.login .login_h a.active{
	background-color: #878d92;	
	border-radius: 5px;
	color: #fff;
}
.login .login_input .input_box{
	border: 1px solid #adadad;
	background: #f9f9f9;
	margin-top: 10px;
}
.login .login_input .input_box i{
	width: 15px;
	height: 36px;
	padding: 0 10px;
	display: inline-block;
	float: left;
	background: url(../images/login.png) no-repeat;
	background-size: auto 100px;
}
.login .login_input .input_box b{	
	height: 36px;line-height:36px;
	padding: 0 10px;	
	float: left;
}
.login .login_input .input_box i.i_user{
	background-position: 5px 10px;
}
.login .login_input .input_box i.i_psw{
	background-position: 5px -20px;
}
.login .login_input .input_box .input{
	padding:8px 0;	
	border-radius: 2px;
	width: 195px;
	color: #323232;
	background: #f9f9f9;
	font-size: 14px;
	line-height: 20px;
}
.login .login_btn input{
	display: block;
	border: 1px solid #e36009;
	height: 42px;
	line-height: 45px;width:100%;
	background: -moz-linear-gradient(top, #ff9518, #fc7a0c 43%, #fc7a0c 78%);
	background: -webkit-gradient(linear, 0 0, 0 78%, from(#ff9518), to(#fc7a0c));
	text-align: center;
	color: #fff;font-size:1.3em;
	margin:15px auto;	
	border-radius: 5px;
}
.login .login_other .o_line{
	position: relative;
	margin-bottom: 24px;
	color: #CECECE;
	line-height: 18px;
	height: 26px;
	border-bottom: 1px solid #E1E1E1;
}
.login .login_other{text-align: center;}
.login .login_other .o_line span{
	position: absolute;
	left: 50%;
	top: 16px;
	margin-left: -60px;
	background-color: white;
	padding: 0 15px;
	text-shadow: 0px 1px 0px white;
}
.login .login_other a{
	width: 48px;
	height: 36px;
	display: inline-block;
	text-indent: -9999px;
	background: url(../images/auth0.png) no-repeat;
	background-size: 36px auto;
	margin: 0 8px;
}
.login .login_other a.qq{
	background-position: 0 -52px;
}
.login .login_other a.weibo{
	background-position: 0 0;
}

/*登录注册e*/


ul.dd li{list-style: none;color:#999;position:relative;margin-top:5px;}
ul.dd li.title{
	font-size:1.2em;color:#222;		
	}
ul.dd li.price strong{color:#fe4f12;font-size:1.3em;margin-left:5px;font-weight: normal;}
ul.dd li.price del{color:#444;text-decoration:line-through;margin-left:5px;}
ul.dd li.price span{position:absolute;right:5px;}

div.page{padding:10px 0px;position: relative;line-height:25px;color:#222;}
div.page .next{
	padding:0px 15px;margin-left:20px;
	float:left;height:25px;
	border:1px solid #ccc;border-radius:3px;
	}
div.page .pre{
	padding:0px 15px;
	float:left;height:25px;
	border:1px solid #ccc;border-radius:3px;
}
div.page .top{
	padding:0px 15px;
	float:right;height:25px;
	border:1px solid #ccc;border-radius:3px;
}
footer .th{height:23px;background:#ddd;line-height:23px;font-weight:bold;padding-left:10px;}

footer .shortcut{padding:10px;}
footer .shortcut a{
	/*float:left;width:25%;height:30px;text-align:center;
	background:linear-gradient(top ,#ddd,#eee, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:-webkit-linear-gradient(top ,#ddd,#eee, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:-moz-linear-gradient(top , #ddd,#eee, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}
footer .bottom{text-align:center;padding:5px 0px;}


a.login_wap{
	color: #FFFFFF;width:15%;text-align:center;height:100%;position: absolute;line-height:40px;top:0;right:2%;
}
.fr{float: right;}
.fl{float: left;}
